In [ ]:
import pandas as pd 

df_2024 = pd.read_csv('../sets/2024_dataframe.csv')
df_og = pd.read_csv('../data/tor_neighborhood_condorental.csv')
df_2018 = df_2024.copy()

In [ ]:
df_2018.head()

In [ ]:
# time to manually extract treb rental data for each quarter

In [ ]:
import pandas as pd
# Manually creating dataframe from treb to merge (ai OCR works to an extent, still have to go over everything to fix mistakes)

# Q1 2017 
data_q1 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],
    "Bachelor Leased": [
        0, 2, 0, 1, 0, 2, 0, 1, 0, 0,
        127, 10, 2, 4, 0, 1, 44, 0, 4, 0,
        0, 3, 6, 3, 0, 0, 0, 0, 0, 0,
        0, 0, 5, 0, 0
    ],
    "bachelor_avg_lease_rate": [
        None, 1550, None, 1400, None, 1418, None, 1375, None, None,
        1543, 1530, 1300, 1275, None, 1450, 1480, None, 1425, None,
        None, 1273, 1472, 1393, None, None, None, None, None, None,
        None, None, 1266, None, None
    ],
    "1_bedrooms_leased": [
        28, 36, 1, 77, 26, 203, 3, 69, 0, 8,
        1351, 85, 18, 19, 11, 97, 408, 14, 177, 49,
        6, 60, 2161, 175, 13, 4, 1, 6, 13, 1,
        39, 5, 63, 2, 3
    ],
    "1_bed_room_avg_lease_rate": [
        1878, 1729, 1550, 1499, 1592, 1687, 1700, 1684, None, 1422,
        1947, 2222, 1766, 1888, 1591, 1776, 1931, 2046, 1834, 1472,
        2058, 1614, 1732, 1658, 1960, 1613, 1100, 1450, 1492, 1425,
        1501, 1374, 1553, 1500, 1433
    ],
    "2_bedrooms_leased": [
        12, 24, 0, 22, 8, 123, 3, 50, 6, 6,
        632, 53, 9, 14, 13, 78, 182, 11, 93, 34,
        11, 26, 158, 53, 10, 6, 3, 11, 15, 1,
        29, 4, 38, 0, 8
    ],
    "2_bedrooms_avg_lease_rate": [
        2581, 2358, None, 1889, 1880, 2332, 2613, 2058, 1988, 1698,
        2890, 3957, 2677, 2875, 1894, 2306, 2638, 3322, 2552, 2017,
        3001, 1992, 2300, 2144, 2507, 2567, 1867, 1659, 1864, 1900,
        1688, 1706, 1891, None, 1631
    ],
    "3_bedrooms_leased": [
        1, 1, 0, 3, 1, 4, 0, 3, 0, 0,
        27, 3, 1, 2, 1, 9, 3, 3, 0, 1,
        0, 2, 5, 4, 0, 0, 0, 1, 4, 0,
        2, 0, 1, 0, 0
    ],
    "3_bedrooms_avg_lease_rate": [
        2150, 3300, None, 2350, 1950, 3275, None, 2283, None, None,
        4348, 9223, 2650, 2313, 2500, 2442, 4232, 4617, None, 1650,
        None, 2175, 3474, 2070, None, None, None, 1700, 2215, None,
        1900, None, 1850, None, None
    ]
}

# Q1 2017 
import pandas as pd

# Q2 2017
data_q2 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],
    "Bachelor Leased": [
        0, 3, 0, 1, 1, 5, 0, 0, 0, 0,
        164, 13, 2, 2, 0, 0, 49, 0, 3, 0, 0, 1, 4, 8,
        0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0 
       
    ],
    "bachelor_avg_lease_rate": [
        1814, 1683, 1400, 1596, 1545, 1777, 1700, 1721, 1900, 1571,
        2030, 2060, 1831, 1683, 1674, 1837, 1997, 2138, 1893, 1567, 2108, 1657, 1760, 1692,
        2089, 1763, 1450, 1448, 1601, None, 1521, 1490, 1601, 1300, 1538
    ],
    "1_bedrooms_leased": [
        36, 79, 1, 31, 21, 239, 1, 83, 1, 27,
        1699, 131, 34, 12, 18, 182, 575, 18, 182, 29,
        12, 39, 297, 251, 18, 8, 1, 9, 9, 0,
        25, 5, 79, 1, 2
    ],
    "1_bed_room_avg_lease_rate": [
        1814, 1683, 1400, 1596, 1545, 1777, 1700, 1721, 1900, 1571,
        2030, 2060, 1831, 1683, 1674, 1837, 1997, 2138, 1893, 1567,
        2108, 1657, 1760, 1692, 2089, 1763, 1450, 1448, 1601, None,
        1521, 1490, 1601, 1300, 1538
    ],
    "2_bedrooms_leased": [
        24, 25, 1, 13, 4, 166, 1, 63, 7, 10,
        827, 84, 31, 16, 17, 127, 254, 21, 105, 21, 8, 30, 248, 110, 
        6, 10, 5, 9, 19, 0, 28, 2, 55, 4, 6
    ],
    "2_bedrooms_avg_lease_rate": [
        2499, 2571, 2520, 2017, 1848, 2531, 2050, 2213, 1957, 1750,
        2983, 3749, 2562, 2987, 2045, 2427, 2794, 2746, 2687, 2132,
        2966, 2122, 2347, 2310, 2858, 2655, 1960, 1733, 1940, None,
        1831, 1675, 1989, 1437, 1679
    ],
    "3_bedrooms_leased": [
        1, 1, 0, 2, 1, 2, 0, 2, 0, 1,
        58, 2, 0, 1, 0, 16, 4, 2, 3, 3, 1, 2, 18, 6,
        0, 0, 0, 0, 2, 0, 2, 0, 10, 0, 1
    ],

    "3_bedrooms_avg_lease_rate": [
        3000, 2550, None, 2600, 1400, 2550, None, 2125, None, 575,
        4088, 5275, None, 2250, None, 2757, 4861, 5325, 3667, 2073,
        2900, 2925, 3055, 3063, None, None, None, None, 1950, None,
        1850, None, 2269, None, 1750
    ]
}

import pandas as pd

# Q3 2017 
data_q3 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],
    "Bachelor Leased": [
        2, 1, 0, 0, 0, 3, 0, 0, 0, 0,
        185, 12, 2, 0, 0, 1, 69, 1, 0, 0,
        0, 0, 6, 12, 4, 1, 0, 0, 0, 0,
        0, 0, 6, 0, 0
    ],
    "bachelor_avg_lease_rate": [
        1050, 1500, None, None, None, 1465, None, None, None, None,
        1707, 1694, 1450, None, None, None, 1722, 1600, None, None,
        None, None, 1549, 1500, 1780, 1300, None, None, None, None,
        None, None, 1366, None, None
    ],
    "1_bedrooms_leased": [
        43, 53, 0, 21, 26, 150, 5, 67, 0, 42,
        1717, 144, 23, 23, 12, 152, 528, 19, 79, 23,
        7, 40, 323, 306, 20, 8, 7, 11, 21, 2,
        28, 3, 98, 0, 6
    ],
    "1_bed_room_avg_lease_rate": [
        1977, 1829, None, 1626, 1706, 1881, 2139, 1763, None, 1634,
        2158, 2338, 2034, 1888, 1758, 1935, 2132, 2129, 2044, 1689,
        2169, 1699, 1859, 1827, 2044, 2034, 1787, 1579, 1631, 1725,
        1643, 1597, 1665, None, 1430
    ],
    "2_bedrooms_leased": [
        16, 32, 0, 24, 5, 153, 0, 68, 3, 21,
        870, 67, 18, 10, 12, 155, 284, 29, 50, 19,
        10, 33, 332, 145, 11, 15, 5, 8, 15, 0,
        51, 8, 79, 2, 9
    ],
    "2_bedrooms_avg_lease_rate": [
        2839, 2322, None, 1931, 1765, 2612, None, 2178, 2100, 1876,
        3039, 4289, 2786, 2789, 2165, 2481, 2997, 3138, 2908, 2088,2986, 2196, 2499, 2562, 
        2750, 2893, 2189, 1791, 2043, None, 1894, 1803, 2113, 1500, 1695
    ],
    "3_bedrooms_leased": [
        3, 0, 1, 0, 0, 3, 1, 1, 0, 1,
        67, 3, 1, 0, 1, 21, 6, 2, 1, 2,
        1, 0, 7, 7, 0, 1, 1, 1, 9, 0, 4,
        0, 10, 1, 0
    ],
    "3_bedrooms_avg_lease_rate": [
        2867, None, 2400, None, None, 3200, 1750, 1850, None, 1900,
        4279, 5775, 3850, None, 2750, 2898, 3877, 3425, 3560, 2000, 2600, None, 3143, 2854, 
        None, 1995, 2700, 2000, 2056, None, 2025, None, 2553, 1350, None
    ]
}



import pandas as pd

# Q4 2017 rental data from screenshot, formatted for easy column editing
data_q4 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],

    "Bachelor Leased": [
        0, 0, 0, 0, 2, 2, 0, 0, 0, 0,
        97, 8, 3, 0, 0, 0, 60, 0, 1, 1, 0, 0, 5, 14,
        0, 2, 
        0, 0, 0, 0, 0, 0, 2, 0, 0
       
    ],
    "bachelor_avg_lease_rate": [
        None, None, None, None, 1213, 1675, None, None, None, None, 
        1706, 1806, 1550, None, None, None, 1705, None, 1450, 1495, None, None, 1565, 1512,
        None, 1375, None, None, None, None, None, None, 1425, None, None

    ],
    "1_bedrooms_leased": [
        24, 30, 0, 18, 16, 113, 3, 73, 1, 14, 
        1112, 49, 10, 11, 14, 84, 347, 2, 64, 14, 3, 29, 197, 220,
        22, 8, 6, 8, 9, 3, 20, 4, 62, 1, 2
    ],
    "1_bed_room_avg_lease_rate": [
        1998, 1912, None, 1733, 1660, 1895, 1915, 1821, 1500, 1613,
        2152, 2652, 1988, 1993, 1723, 1994, 2103, 2175, 2106, 1642, 2250, 1806, 1925, 1838,
        2048, 1912, 1463, 1500, 1714, 1608, 1616, 1419, 1677, 950, 1490 
        
    ],

    "2_bedrooms_leased": [
        22, 16, 2, 14, 8, 83, 2, 49, 2, 24, 
        532, 37, 9, 9, 11, 100, 163, 14, 35, 8, 5, 20, 151, 97,
        4, 9, 2, 13, 13, 1, 22, 5, 34, 1, 9 
    ],

    "2_bedrooms_avg_lease_rate": [
        2632, 2471, 2925, 2064, 2081, 2642, 3100, 2252, 2625, 1845,
        3158, 4343, 2864, 2721, 2193, 2568, 3037, 3489, 2743, 2144, 3090, 2276, 2541, 2354,
        2919, 2894, 1988, 1754, 1989, 1850, 1883, 1810, 2036, 1400, 1783
    ],
    "3_bedrooms_leased": [
        0, 0, 1, 2, 3, 2, 0, 1, 2, 0,
        48, 6, 0, 1, 0, 11, 10, 1, 1, 3, 0, 1, 6, 2,
        0, 0, 1, 2, 4, 0, 6, 0, 3, 0, 0
      
    ],
    "3_bedrooms_avg_lease_rate": [
        None, None, 2400, 2125, 2079, 4150, None, 2025, 2098, None, 
        4460, 13925, None, 2250, None, 2895, 3395, 3450, 3000, 2050, None, 2800, 3042, 1975,
        None, None, 2800, 1800, 1838, None, 1818, None, 2383, None, None
    ]
}

for quarter_name, quarter_data in [
    ("Q1", data_q1),
    ("Q2", data_q2),
    ("Q3", data_q3),
    ("Q4", data_q4),
]:
    print(f"{quarter_name}:")
    for name, values in quarter_data.items():
        print(f"{name}: {len(values)}")
        if len(values) != 35:
            print(f"WARNING: {quarter_name} - {name} has {len(values)} values (should be 35)")

In [ ]:
# manually creating quarters dataframe (gemini 2.5 perfectly reads the screenshots)

# prompt: read this screenshot and input the values for 2018 quarter1 to your best ability (input screenshot of quarter)

import pandas as pd
# 2018 q1 
data_q1 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],
    "bachelor_leased_q1": [
        1, 0, 0, 1, 10, 2, 0, 0, 0, 0,
        118, 11, 1, 0, 0, 1, 74, 0, 2, 0,
        0, 0, 6, 4, 1, 1, 0, 0, 0, 0,
        0, 1, 5, 0, 0
    ],
    "bachelor_avg_lease_rate_q1": [
        1900, None, None, 1200, 1395, 1525, None, None, None, None,
        1705, 1760, 1200, None, None, 1600, 1664, None, 1625, None,
        None, None, 1571, 1550, 1650, 1500, None, None, None, None,
        None, 1200, 1465, None, None
    ],
    "1_bedroom_leased_q1": [
        23, 26, 2, 22, 39, 120, 1, 102, 0, 24,
        1199, 60, 20, 14, 14, 79, 438, 18, 94, 23,
        5, 28, 192, 211, 24, 9, 2, 6, 15, 0,
        23, 4, 63, 0, 4
    ],
    "1_bedroom_avg_lease_rate_q1": [
        1987, 2034, 2050, 1648, 1730, 1906, 1800, 1845, None, 1675,
        2189, 2386, 1937, 1996, 1739, 2050, 2107, 2155, 2019, 1726,
        2260, 1836, 1921, 1856, 2106, 1958, 1700, 1621, 1733, None,
        1681, 1638, 1735, None, 1500
    ],
    "2_bedrooms_leased_q1": [
        19, 14, 3, 10, 18, 102, 1, 50, 3, 5,
        551, 41, 15, 7, 5, 86, 224, 11, 62, 12,
        5, 16, 148, 79, 5, 9, 4, 11, 19, 0,
        32, 4, 38, 0, 7
    ],
    "2_bedrooms_avg_lease_rate_q1": [
        2687, 2519, 2150, 2138, 1974, 2689, 2900, 2259, 2100, 1811,
        3222, 4227, 2650, 3173, 2130, 2538, 3028, 3045, 2822, 2140,
        3180, 2428, 2528, 2357, 2830, 2305, 2270, 1836, 2049, None,
        1892, 1994, 2050, None, 1650
    ],
    "3_bedrooms_leased_q1": [
        0, 4, 0, 1, 1, 2, 0, 2, 1, 1,
        38, 4, 1, 1, 0, 14, 3, 2, 0, 4,
        0, 1, 6, 4, 1, 0, 0, 1, 7, 0,
        4, 0, 3, 0, 1
    ],
    "3_bedrooms_avg_lease_rate_q1": [
        None, 3113, None, 2250, 2100, 6750, None, 2150, 2100, 1800,
        4687, 5375, 3100, 5750, None, 2683, 3817, 7525, None, 1974,
        None, 2100, 3080, 2213, 3700, None, None, 1900, 1921, None,
        1970, None, 2500, None, 2100
    ]
}



df_q1 = pd.DataFrame(data_q1)
df_q1.head()

In [ ]:
# Q2 2018
data_q2 = {
    "bachelor_leased_q2": [
        2, 1, 0, 0, 1, 4, 0, 0, 0, 0,
        168, 12, 9, 1, 0, 1, 84, 0, 8, 0,
        0, 3, 4, 14, 1, 1, 1, 0, 0, 0,
        0, 0, 4, 0, 0
    ],
    "bachelor_avg_lease_rate_q2": [
        1350, 1650, None, None, 1325, 1520, None, None, None, None,
        1780, 1781, 1441, 1500, None, 1550, 1751, None, 1681, None,
        None, 1733, 1575, 1525, 1650, 1175, 1150, None, None, None,
        None, None, 1493, None, None
    ],
    "1_bedroom_leased_q2": [
        30, 24, 2, 22, 38, 172, 2, 149, 1, 15,
        1534, 105, 23, 12, 22, 132, 636, 17, 177, 31,
        10, 46, 267, 277, 25, 9, 6, 8, 19, 2,
        29, 0, 74, 1, 5
    ],
    "1_bedroom_avg_lease_rate_q2": [
        2030, 1983, 2000, 1786, 1802, 1964, 1748, 1862, 1750, 1722,
        2248, 2390, 2020, 2414, 1842, 2021, 2232, 2330, 2089, 1760,
        2177, 1843, 1974, 1880, 2275, 2019, 1783, 1659, 1730, 1750,
        1694, None, 1777, 1700, 1588
    ],
    "2_bedrooms_leased_q2": [
        17, 11, 0, 13, 13, 141, 1, 75, 3, 14,
        782, 59, 29, 12, 15, 144, 332, 27, 87, 22,
        13, 40, 216, 106, 8, 11, 7, 8, 30, 1,
        31, 2, 68, 1, 8
    ],
    "2_bedrooms_avg_lease_rate_q2": [
        2938, 2655, None, 2185, 2321, 2769, 2500, 2434, 2100, 1955,
        3239, 4345, 2793, 3070, 2199, 2594, 3203, 3319, 3206, 2345,
        3669, 2280, 2570, 2409, 3463, 2654, 2020, 1969, 2079, 2250,
        2001, 1990, 2179, 1600, 1853
    ],
    "3_bedrooms_leased_q2": [
        2, 3, 0, 1, 4, 1, 0, 5, 3, 0,
        50, 5, 0, 4, 0, 13, 6, 2, 0, 3,
        0, 3, 5, 3, 0, 1, 0, 1, 1, 0,
        3, 0, 14, 0, 0
    ],
    "3_bedrooms_avg_lease_rate_q2": [
        4250, 3367, None, 1750, 2150, 3850, None, 2500, 2233, None,
        4298, 11530, None, 3550, None, 2853, 5283, 3575, None, 2000,
        None, 2915, 3326, 2333, None, 5700, None, 2400, 2225, None,
        1967, None, 2529, None, None
    ]
}


df_q2 = pd.DataFrame(data_q2)
df_q2.head(10)

In [ ]:
data_q3 = {

    "bachelor_leased_q3": [
        0, 5, 0, 1, 3, 6, 0, 0, 0, 0,
        176, 18, 1, 3, 0, 0, 129, 0, 2, 0,
        0, 1, 9, 13, 2, 2, 0, 0, 0, 1,
        0, 0, 3, 0, 0
    ],
    "bachelor_avg_lease_rate_q3": [
        None, 1660, None, 1250, 1425, 1655, None, None, None, None,
        1912, 1933, 1600, 1508, None, None, 1870, None, 1875, None,
        None, 1900, 1722, 1670, 1900, 1480, None, None, None, 1325,
        None, None, 1592, None, None
    ],
    "1_bedroom_leased_q3": [
        38, 41, 2, 43, 26, 205, 4, 130, 3, 22,
        1744, 137, 27, 10, 14, 156, 661, 19, 116, 22,
        4, 41, 342, 318, 21, 11, 5, 15, 12, 4,
        43, 5, 109, 0, 5
    ],
    "1_bedroom_avg_lease_rate_q3": [
        2182, 2055, 1888, 1835, 1886, 2056, 2350, 1934, 1800, 1812,
        2377, 2434, 2088, 2067, 1884, 2146, 2363, 2361, 2223, 1840,
        2338, 1987, 2059, 1994, 2390, 2112, 2025, 1749, 1870, 1763,
        1774, 1640, 1942, None, 1650
    ],
    "2_bedrooms_leased_q3": [
        18, 16, 4, 28, 15, 169, 1, 84, 5, 18,
        760, 81, 17, 10, 20, 151, 307, 26, 65, 22,
        10, 33, 329, 131, 7, 6, 1, 12, 32, 3,
        60, 3, 60, 4, 3
    ],
    "2_bedrooms_avg_lease_rate_q3": [
        2908, 2786, 2400, 2313, 2226, 2734, 5000, 2477, 2025, 2033,
        3331, 4461, 3054, 3131, 2431, 2724, 3250, 3343, 3052, 2377,
        3465, 2445, 2695, 2533, 3156, 2424, 2950, 1977, 2214, 2325,
        2125, 2317, 2360, 1800, 1867
    ],
    "3_bedrooms_leased_q3": [
        3, 0, 0, 8, 0, 4, 0, 2, 1, 0,
        47, 1, 0, 1, 2, 20, 8, 1, 1, 4,
        0, 2, 16, 8, 0, 0, 0, 2, 8, 0,
        6, 0, 6, 0, 0
    ],
    "3_bedrooms_avg_lease_rate_q3": [
        4000, None, None, 2613, None, 3588, None, 2425, 2300, None,
        4356, 11500, None, 3100, 3175, 3142, 4625, 4250, 2820, 2275,
        None, 2875, 3294, 2630, None, None, None, 1740, 2375, None,
        2304, None, 2733, None, None
    ]
}

df_q3 = pd.DataFrame(data_q3)
df_q3.head(10)

In [ ]:
# Q4 2018
data_q4 = {

    "bachelor_leased_q4": [
        2, 0, 0, 3, 0, 0, 0, 0, 0, 0,
        99, 4, 2, 0, 0, 0, 69, 0, 1, 0,
        0, 2, 2, 10, 0, 3, 0, 0, 0, 1,
        0, 0, 3, 0, 0
    ],
    "bachelor_avg_lease_rate_q4": [
        1450, None, None, 1617, None, None, None, None, None, None,
        1877, 1913, 1650, None, None, None, 1866, None, 1700, None,
        None, 1690, 1800, 1676, None, 1498, None, None, None, 1400,
        None, None, 1618, None, None
    ],
    "1_bedroom_leased_q4": [
        37, 35, 1, 56, 18, 148, 3, 109, 2, 13,
        1152, 61, 16, 14, 10, 83, 519, 11, 82, 16,
        1, 28, 206, 242, 22, 12, 4, 5, 10, 4,
        28, 6, 61, 0, 2
    ],
    "1_bedroom_avg_lease_rate_q4": [
        2121, 2162, 1900, 1882, 1957, 2093, 2442, 1957, 1750, 1777,
        2319, 2508, 2131, 2028, 1965, 2176, 2238, 2302, 2209, 1833,
        2350, 1996, 2124, 2031, 2271, 2266, 1769, 1874, 1803, 1850,
        1799, 1817, 1923, None, 1675
    ],
    "2_bedrooms_leased_q4": [
        14, 13, 0, 18, 10, 83, 3, 70, 4, 16,
        443, 55, 12, 18, 18, 95, 178, 11, 38, 14,
        7, 28, 156, 90, 7, 4, 2, 8, 13, 3,
        28, 6, 33, 0, 4
    ],
    "2_bedrooms_avg_lease_rate_q4": [
        2780, 2887, None, 2279, 2055, 2885, 3050, 2427, 2675, 2131,
        3312, 4063, 2848, 2600, 2369, 2812, 3111, 4141, 2989, 2683,
        3404, 2404, 2717, 2618, 2835, 2750, 2125, 1978, 2262, 2017,
        2089, 2088, 2207, None, 1925
    ],
    "3_bedrooms_leased_q4": [
        2, 0, 1, 1, 1, 0, 0, 2, 0, 1,
        33, 4, 1, 2, 1, 13, 4, 3, 0, 2,
        1, 0, 6, 4, 1, 0, 0, 1, 4, 1,
        1, 3, 0, 0, 0
    ],
    "3_bedrooms_avg_lease_rate_q4": [
        2981, None, 2700, 3350, 2000, None, None, 2625, None, 1850,
        4330, 5486, 2500, 2948, 3100, 3242, 4669, 4600, None, 2325,
        3150, None, 3017, 3113, 5000, None, None, 2200, 2395, 3800,
        2150, 2083, None, None, None
    ]
}

df_q4 = pd.DataFrame(data_q4)
df_q4.head()

In [ ]:
from functools import reduce

# Add 'Area' column to each dataframe that is missing it.
if 'Area' not in df_q2:
    df_q2.insert(0, 'Area', df_q1['Area'])
if 'Area' not in df_q3:
    df_q3.insert(0, 'Area', df_q1['Area'])
if 'Area' not in df_q4:
    df_q4.insert(0, 'Area', df_q1['Area'])

# List of dataframes to merge
dfs = [df_q4, df_q3, df_q2, df_q1]

# Merge the dataframes on the 'Area' column
merged_df = reduce(lambda left, right: pd.merge(left, right, on='Area'), dfs)

merged_df.head()

In [ ]:
# Set the option to display all columns
import pandas as pd
pd.set_option('display.max_columns', None)

# Display the head of the merged dataframe
merged_df.head()

In [ ]:
df_2018.head()

# drop 8 cols: 'Bachelor Leased', 'bachelor_avg_lease_rate', '1_bedrooms_leased''1_bed_room_avg_lease_rate', '2_bedrooms_leased', '2_bedrooms_avg_lease_rate', '3_bedrooms_leased', '3_bedrooms_avg_lease_rate'

In [ ]:
# Columns to drop
columns_to_drop = [
    'Bachelor Leased', 
    'bachelor_avg_lease_rate', 
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate', 
    '2_bedrooms_leased', 
    '2_bedrooms_avg_lease_rate', 
    '3_bedrooms_leased', 
    '3_bedrooms_avg_lease_rate'
]

# Drop the columns from df_2018
df_2018 = df_2018.drop(columns=columns_to_drop)

# Display the head of the updated dataframe
df_2018.head()

In [ ]:
# Identify the 2018 columns from the original dataframe
cols_2018_source = [col for col in df_og.columns if '2018' in col]

# Create a mapping from the placeholder 2024 columns to the 2018 source columns
# This assumes a consistent naming pattern (e.g., 'ASSAULT_2024' maps to 'ASSAULT_2018')
rename_map = {col.replace('2018', '2024'): col for col in cols_2018_source}

# Ensure the indices are aligned for direct assignment
df_og_indexed = df_og.set_index('AREA_NAME')
df_2018_indexed = df_2018.set_index('AREA_NAME')

# Replace the data for each year-specific column
for col_2024, col_2018 in rename_map.items():
    if col_2024 in df_2018_indexed.columns and col_2018 in df_og_indexed.columns:
        # Use .map() to safely transfer data based on the AREA_NAME index
        df_2018_indexed[col_2024] = df_2018_indexed.index.map(df_og_indexed[col_2018])

# Rename the columns from _2024 to _2018
df_2018_indexed.columns = [col.replace('_2024', '_2018') for col in df_2018_indexed.columns]

# Reset index to bring AREA_NAME back as a column
df_2018 = df_2018_indexed.reset_index()

# Display the head of the updated dataframe
df_2018.head()

In [ ]:
df_2024.head()

In [ ]:
import numpy as np

# Set the POPULATION_2018 column to NaN
df_2018['POPULATION_2018'] = np.nan

# Display the head of the updated dataframe
df_2018.head()

In [ ]:
df_2018.to_csv('../sets/2018_dataframe.csv', index=False)