In [ ]:
import pandas as pd

df_og = pd.read_csv('../data/tor_neighborhood_condorental.csv') 
df_2024 = pd.read_csv('../sets/2024_dataframe.csv') 
df_2010= df_2024.copy()

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.

In [6]:
static_cols = [
   ' AREA_NAME'
'CLASSIFICATION'
'CLASSIFICATION_CODE'
'geometry_wkt'
'geometry_type'
'Area'
'area_sq_meters'
'perimeter_meters'
'park_count'
'total_stop_count'
'avg_stop_frequency'
'max_stop_frequency'
'total_line_length_meters'
'transit_line_density'
'distinct_route_count'
]

In [7]:

static_cols = [
    'AREA_NAME',
    'CLASSIFICATION',
    'CLASSIFICATION_CODE',
    'geometry_wkt',
    'geometry_type',
    'Area',
    'area_sq_meters',
    'perimeter_meters',
    'park_count',
    'total_stop_count',
    'avg_stop_frequency',
    'max_stop_frequency',
    'total_line_length_meters',
    'transit_line_density',
    'distinct_route_count',
]


df_2010= df_2024.copy()

# ensure static columns exist; if missing, create with NA (manual lease cols NOT added here)
for col in static_cols:
    if col not in df_2010.columns:
        df_2010[col] = pd.NA

# reorder to place static cols first
ordered = [c for c in static_cols if c in df_2010.columns]
others = [c for c in df_2010.columns if c not in ordered]
df_2010= df_2010[ordered + others]

# save dataframe for later manual edits
df_2010.to_csv('../sets/2010_dataframe.csv', index=False)

NameError: name 'df_2024' is not defined

In [1]:
static_cols = [
    'AREA_NAME',
    'CLASSIFICATION',
    'CLASSIFICATION_CODE',
    'geometry_wkt',
    'geometry_type',
    'Area',
    'area_sq_meters',
    'perimeter_meters',
    'park_count',
    'total_stop_count',
    'avg_stop_frequency',
    'max_stop_frequency',
    'total_line_length_meters',
    'transit_line_density',
    'distinct_route_count',
]

# build df_2010 from df_2024:
# - keep static cols (fill with NA if missing)
# - convert all *_2024 columns into *_2010columns filled with 0
df_2010= pd.DataFrame(index=df_2024.index)

# populate static columns (preserve values if present in df_2024)
for col in static_cols:
    if col in df_2024.columns:
        df_2010[col] = df_2024[col]
    else:
        df_2010[col] = pd.NA

# convert any 2024 columns into 2010equivalents set to 0
for col in df_2024.columns:
    if col.endswith('_2024'):
        new_col = col.replace('_2024', '_2010')
        # avoid overwriting static cols
        if new_col in df_2010.columns:
            continue
        df_2010[new_col] = 0



df_2010.head()

NameError: name 'pd' is not defined

In [9]:
len(df_2010.columns)

NameError: name 'df_2010' is not defined

In [8]:
manual_lease_cols = [
    'Area'
    'Bachelor Leased',
    'bachelor_avg_lease_rate',
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate',
    '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased',
    '3_bedrooms_avg_lease_rate',
]

for c in manual_lease_cols:
    df_2010[c] = 0

In [10]:
df_2010.head()

desired_order = [
    'AREA_NAME','CLASSIFICATION','CLASSIFICATION_CODE','geometry_wkt',
    'geometry_type','Area',
    'Bachelor Leased','bachelor_avg_lease_rate','1_bedrooms_leased',
    '1_bed_room_avg_lease_rate','2_bedrooms_leased','2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased','3_bedrooms_avg_lease_rate',
    'area_sq_meters','perimeter_meters','park_count',
    'ASSAULT_2010','ASSAULT_RATE_2010','AUTOTHEFT_2010','AUTOTHEFT_RATE_2010',
    'BIKETHEFT_RATE_2010','BREAKENTER_2010','BIKETHEFT_RATE_2010_1',
    'HOMICIDE_2010','HOMICIDE_RATE_2010','ROBBERY_2010','ROBBERY_RATE_2010',
    'SHOOTING_2010','SHOOTING_RATE_2010','THEFTFROMMV_2010','THEFTFROMMV_RATE_2010',
    'THEFTOVER_2010','THEFTOVER_RATE_2010','POPULATION_2010',
    'total_stop_count','avg_stop_frequency','max_stop_frequency',
    'total_line_length_meters','transit_line_density','distinct_route_count'
]

# build final column order using only columns that exist in df_2010, append any remaining columns afterward
ordered = [c for c in desired_order if c in df_2010.columns]
others = [c for c in df_2010.columns if c not in ordered]
df_2010= df_2010[ordered + others]

df_2010.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,...,THEFTOVER_2010,THEFTOVER_RATE_2010,POPULATION_2010,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count,AreaBachelor Leased
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0,0,0,0,...,0,0,0,30,537.266667,1321,1.018065,1.017866,11,0
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,0,0,...,0,0,0,73,265.602740,911,1.247435,1.246204,14,0
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,0,0,...,0,0,0,101,282.693069,790,1.291023,1.290157,13,0
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0,0,0,0,...,0,0,0,63,404.031746,1541,2.894569,2.893222,19,0
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0,0,0,0,...,0,0,0,9,532.888889,1692,0.085268,0.085265,2,0

In [11]:
df_2024.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,...,THEFTFROMMV_RATE_2024,THEFTOVER_2024,THEFTOVER_RATE_2024,POPULATION_2024,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,1,1675,12,2120,...,429.706512,4,32.430679,12334,30,537.266667,1321,1.018065,1.017866,11
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,5,2770,...,140.067566,8,65.914146,12137,73,265.602740,911,1.247435,1.246204,14
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,15,2165,...,137.211853,6,23.522032,25508,101,282.693069,790,1.291023,1.290157,13
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,2,1800,49,2127,...,219.392380,16,76.310394,20967,63,404.031746,1541,2.894569,2.893222,19
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,2,1795,30,2256,...,55.201485,6,30.109901,19927,9,532.888889,1692,0.085268,0.085265,2

In [2]:
data_q1 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        1,0,0,0,0,1,0,0,0,0,
        54,4,0,1,0,0,14,0,0,0,
        0,0,8,12,1,0,0,0,0,0,
        0,0,0,0,0
    ],
    "bachelor_avg_lease_rate": [
        1200,None,None,None,None,950,None,None,None,None,
        1227,1406,None,1350,None,None,1198,None,None,None,
        None,None,1172,1133,1750,None,None,None,None,None,
        None,None,None,None,None
    ],
    "1_bedrooms_leased": [
        2,1,1,5,3,37,17,9,1,14,
        811,40,7,3,2,71,173,11,44,1,
        6,29,221,112,8,6,8,10,6,0,
        9,0,66,0,10
    ],
    "1_bed_room_avg_lease_rate": [
        1390,1650,875,1040,1092,1521,1334,1267,1150,1141,
        1575,1959,1823,1308,948,1377,1552,2011,1626,900,
        1460,1252,1374,1407,1399,1503,1388,1078,1247,None,
        1081,None,1237,None,1103
    ],
    "2_bedrooms_leased": [
        7,3,0,2,2,49,14,16,9,19,
        346,43,11,7,11,67,92,11,31,3,
        6,59,200,39,2,5,9,13,17,0,
        13,5,60,1,10
    ],
    "2_bedrooms_avg_lease_rate": [
        2146,1758,None,1223,1188,2190,2145,2042,1544,1309,
        2297,4086,2250,1789,1557,1801,2160,2401,2350,1532,
        2346,1533,1796,1991,2050,2080,1869,1296,1561,None,
        1367,1335,1448,1100,1283
    ],
    "3_bedrooms_leased": [
        0,0,0,1,2,5,0,2,4,1,
        13,5,0,1,0,10,2,2,1,0,
        1,3,9,4,0,0,0,1,8,0,
        1,0,3,0,1
    ],
    "3_bedrooms_avg_lease_rate": [
        None,None,None,1700,1200,4378,None,2125,2224,1250,
        4327,5940,None,1725,None,2365,3098,2450,2700,None,
        3000,1642,2225,2163,None,None,None,1400,1703,None,
        1550,None,1650,None,1250
    ]
}

data_q2 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        1,0,0,0,0,1,0,0,0,0,
        112,13,0,1,0,0,35,1,4,0,
        0,0,10,2,0,0,0,0,0,0,
        1,0,0,0,0
    ],
    "bachelor_avg_lease_rate": [
        730,None,None,None,None,1100,None,None,None,None,
        1203,1251,None,1350,None,None,1233,1300,1086,None,
        None,None,1142,1195,None,None,None,None,None,None,
        945,None,None,None,None
    ],
    "1_bedrooms_leased": [
        12,2,0,1,12,47,23,15,1,19,
        1301,77,15,11,11,135,308,21,64,7,
        6,39,350,123,7,2,7,10,8,2,
        13,3,109,2,4
    ],
    "1_bed_room_avg_lease_rate": [
        1649,1508,None,1150,1172,1504,1444,1283,900,1163,
        1542,2053,1693,1376,1217,1389,1524,1801,1630,1129,
        1717,1272,1392,1459,1579,1300,1314,1115,1384,1488,
        1126,1128,1268,1025,1138
    ],
    "2_bedrooms_leased": [
        12,3,0,3,10,63,25,24,7,28,
        671,44,14,7,18,116,149,19,43,3,
        14,84,304,48,2,6,11,14,29,0,
        18,8,65,2,14
    ],
    "2_bedrooms_avg_lease_rate": [
        1869,1833,None,1317,1302,2282,1943,2048,1461,1421,
        2206,3965,2649,2039,1467,1749,2158,2482,2432,1567,
        2237,1603,1840,2188,1675,2403,1796,1393,1620,None,
        1423,1315,1517,1275,1268
    ],
    "3_bedrooms_leased": [
        4,1,0,0,1,0,0,2,1,2,
        17,1,1,4,1,20,3,0,2,0,
        1,8,19,2,0,0,1,1,7,0,
        0,1,14,0,0
    ],
    "3_bedrooms_avg_lease_rate": [
        2333,1825,None,None,1200,None,None,1575,1600,1638,
        3424,3500,1750,2275,1495,2220,2733,None,3100,None,
        3000,2119,2375,1675,None,None,1450,1200,1524,None,
        None,1280,1818,None,None
    ]
}

data_q3 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,0,4,0,0,0,0,
        71,7,0,0,0,0,25,0,1,0,
        1,0,7,4,1,2,0,0,0,0,
        0,0,2,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,None,1100,None,None,None,None,
        1250,1250,None,None,None,None,1227,None,825,None,
        825,None,1157,1206,950,913,None,None,None,None,
        None,None,950,None,None
    ],
    "1_bedrooms_leased": [
        21,6,None,2,27,65,12,14,1,7,
        867,77,7,4,22,96,219,13,62,4,
        8,17,303,61,3,2,2,9,12,None,
        4,6,55,1,4
    ],
    "1_bed_room_avg_lease_rate": [
        1452,1428,None,1138,1297,1469,1438,1419,900,1178,
        1584,2009,2017,1400,1285,1405,1584,1833,1603,1044,
        1634,1291,1408,1476,1742,1500,1263,1148,1242,None,
        1133,1054,1263,950,1119
    ],
    "2_bedrooms_leased": [
        23,7,2,4,7,49,13,13,11,17,
        468,56,16,6,9,82,97,12,47,2,
        7,33,180,38,1,1,10,13,22,None,
        18,6,49,1,8
    ],
    "2_bedrooms_avg_lease_rate": [
        2027,1854,1423,1250,1439,2198,1794,1865,1236,1293,
        2264,3265,2486,1675,1686,1782,2286,3021,2386,1400,
        2461,1814,1849,1935,2100,3300,1835,1306,1608,None,
        1431,1274,1539,949,1291
    ],
    "3_bedrooms_leased": [
        0,0,0,1,3,3,1,2,1,3,
        7,1,None,1,1,12,3,2,1,None,
        2,5,4,1,None,None,None,1,5,None,
        5,None,6,1,2
    ],
    "3_bedrooms_avg_lease_rate": [
        None,None,None,1000,1217,4483,1850,2188,1600,1633,
        3521,8000,None,1560,1677,2083,3058,3650,4650,None,
        4100,2220,3013,2100,None,None,None,1450,1650,None,
        1417,None,1808,1275,1438
    ]
}

for quarter_name, quarter_data in [
    ("Q1", data_q1),
    ("Q2", data_q2),
    ("Q2", data_q3)
  
    
]:
    print(f"{quarter_name}:")
    for name, values in quarter_data.items():
        print(f"{name}: {len(values)}")
        if len(values) != 35:
            print(f"WARNING: {quarter_name} - {name} has {len(values)} values (should be 35)")

Q1:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q2:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q2:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35

In [3]:
import pandas as pd

# Load the dataframe you already created for 2010
df = pd.read_csv('2010_dataframe.csv')  # if your file is named differently, fix it

# Identify all quarterly columns
quarterly_cols = ['AREA_NAME'] + [col for col in df.columns if 'q' in col.lower()]

# Create the quarterly-only dataframe
quarterly_df = df[quarterly_cols]

# Save the new quarterly CSV
quarterly_df.to_csv('quarters_2010.csv', index=False)

quarterly_df.head()

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# ========== 2010 PIPELINE WITH QUARTERLY DATA ==========

import pandas as pd
import numpy as np
from functools import reduce
import os

# Debug: Check current directory
print("Current directory:", os.getcwd())

# Load the 2024 template and original data
try:
    df_2024 = pd.read_csv('2024_dataframe.csv')  # Template structure
    print("✓ Loaded 2024_dataframe.csv")
except FileNotFoundError:
    print("❌ 2024_dataframe.csv not found. Trying other paths...")
    try:
        df_2024 = pd.read_csv('../2024_dataframe.csv')
        print("✓ Loaded 2024_dataframe.csv from parent directory")
    except FileNotFoundError:
        print("❌ Could not find 2024_dataframe.csv")
        df_2024 = pd.DataFrame()

try:
    df_og = pd.read_csv('data/tor_neighborhood_condorental.csv')  # Original data source
    print("✓ Loaded tor_neighborhood_condorental.csv")
except FileNotFoundError:
    try:
        df_og = pd.read_csv('../data/tor_neighborhood_condorental.csv')
        print("✓ Loaded tor_neighborhood_condorental.csv from parent directory")
    except FileNotFoundError:
        print("❌ Could not find tor_neighborhood_condorental.csv")
        df_og = pd.DataFrame()

# Start with 2024 structure
df_2010 = df_2024.copy()
print(f"✓ Template shape: {df_2024.shape}")

# ========== YOUR 2010 QUARTERLY DATA ==========
# Q1 2010
data_q1 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        1,0,0,0,0,1,0,0,0,0,
        54,4,0,1,0,0,14,0,0,0,
        0,0,8,12,1,0,0,0,0,0,
        0,0,0,0,0
    ],
    "bachelor_avg_lease_rate": [
        1200,None,None,None,None,950,None,None,None,None,
        1227,1406,None,1350,None,None,1198,None,None,None,
        None,None,1172,1133,1750,None,None,None,None,None,
        None,None,None,None,None
    ],
    "1_bedrooms_leased": [
        2,1,1,5,3,37,17,9,1,14,
        811,40,7,3,2,71,173,11,44,1,
        6,29,221,112,8,6,8,10,6,0,
        9,0,66,0,10
    ],
    "1_bed_room_avg_lease_rate": [
        1390,1650,875,1040,1092,1521,1334,1267,1150,1141,
        1575,1959,1823,1308,948,1377,1552,2011,1626,900,
        1460,1252,1374,1407,1399,1503,1388,1078,1247,None,
        1081,None,1237,None,1103
    ],
    "2_bedrooms_leased": [
        7,3,0,2,2,49,14,16,9,19,
        346,43,11,7,11,67,92,11,31,3,
        6,59,200,39,2,5,9,13,17,0,
        13,5,60,1,10
    ],
    "2_bedrooms_avg_lease_rate": [
        2146,1758,None,1223,1188,2190,2145,2042,1544,1309,
        2297,4086,2250,1789,1557,1801,2160,2401,2350,1532,
        2346,1533,1796,1991,2050,2080,1869,1296,1561,None,
        1367,1335,1448,1100,1283
    ],
    "3_bedrooms_leased": [
        0,0,0,1,2,5,0,2,4,1,
        13,5,0,1,0,10,2,2,1,0,
        1,3,9,4,0,0,0,1,8,0,
        1,0,3,0,1
    ],
    "3_bedrooms_avg_lease_rate": [
        None,None,None,1700,1200,4378,None,2125,2224,1250,
        4327,5940,None,1725,None,2365,3098,2450,2700,None,
        3000,1642,2225,2163,None,None,None,1400,1703,None,
        1550,None,1650,None,1250
    ]
}

# Q2 2010
data_q2 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        1,0,0,0,0,1,0,0,0,0,
        112,13,0,1,0,0,35,1,4,0,
        0,0,10,2,0,0,0,0,0,0,
        1,0,0,0,0
    ],
    "bachelor_avg_lease_rate": [
        730,None,None,None,None,1100,None,None,None,None,
        1203,1251,None,1350,None,None,1233,1300,1086,None,
        None,None,1142,1195,None,None,None,None,None,None,
        945,None,None,None,None
    ],
    "1_bedrooms_leased": [
        12,2,0,1,12,47,23,15,1,19,
        1301,77,15,11,11,135,308,21,64,7,
        6,39,350,123,7,2,7,10,8,2,
        13,3,109,2,4
    ],
    "1_bed_room_avg_lease_rate": [
        1649,1508,None,1150,1172,1504,1444,1283,900,1163,
        1542,2053,1693,1376,1217,1389,1524,1801,1630,1129,
        1717,1272,1392,1459,1579,1300,1314,1115,1384,1488,
        1126,1128,1268,1025,1138
    ],
    "2_bedrooms_leased": [
        12,3,0,3,10,63,25,24,7,28,
        671,44,14,7,18,116,149,19,43,3,
        14,84,304,48,2,6,11,14,29,0,
        18,8,65,2,14
    ],
    "2_bedrooms_avg_lease_rate": [
        1869,1833,None,1317,1302,2282,1943,2048,1461,1421,
        2206,3965,2649,2039,1467,1749,2158,2482,2432,1567,
        2237,1603,1840,2188,1675,2403,1796,1393,1620,None,
        1423,1315,1517,1275,1268
    ],
    "3_bedrooms_leased": [
        4,1,0,0,1,0,0,2,1,2,
        17,1,1,4,1,20,3,0,2,0,
        1,8,19,2,0,0,1,1,7,0,
        0,1,14,0,0
    ],
    "3_bedrooms_avg_lease_rate": [
        2333,1825,None,None,1200,None,None,1575,1600,1638,
        3424,3500,1750,2275,1495,2220,2733,None,3100,None,
        3000,2119,2375,1675,None,None,1450,1200,1524,None,
        None,1280,1818,None,None
    ]
}

# Q3 2010
data_q3 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,0,4,0,0,0,0,
        71,7,0,0,0,0,25,0,1,0,
        1,0,7,4,1,2,0,0,0,0,
        0,0,2,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,None,1100,None,None,None,None,
        1250,1250,None,None,None,None,1227,None,825,None,
        825,None,1157,1206,950,913,None,None,None,None,
        None,None,950,None,None
    ],
    "1_bedrooms_leased": [
        21,6,None,2,27,65,12,14,1,7,
        867,77,7,4,22,96,219,13,62,4,
        8,17,303,61,3,2,2,9,12,None,
        4,6,55,1,4
    ],
    "1_bed_room_avg_lease_rate": [
        1452,1428,None,1138,1297,1469,1438,1419,900,1178,
        1584,2009,2017,1400,1285,1405,1584,1833,1603,1044,
        1634,1291,1408,1476,1742,1500,1263,1148,1242,None,
        1133,1054,1263,950,1119
    ],
    "2_bedrooms_leased": [
        23,7,2,4,7,49,13,13,11,17,
        468,56,16,6,9,82,97,12,47,2,
        7,33,180,38,1,1,10,13,22,None,
        18,6,49,1,8
    ],
    "2_bedrooms_avg_lease_rate": [
        2027,1854,1423,1250,1439,2198,1794,1865,1236,1293,
        2264,3265,2486,1675,1686,1782,2286,3021,2386,1400,
        2461,1814,1849,1935,2100,3300,1835,1306,1608,None,
        1431,1274,1539,949,1291
    ],
    "3_bedrooms_leased": [
        0,0,0,1,3,3,1,2,1,3,
        7,1,None,1,1,12,3,2,1,None,
        2,5,4,1,None,None,None,1,5,None,
        5,None,6,1,2
    ],
    "3_bedrooms_avg_lease_rate": [
        None,None,None,1000,1217,4483,1850,2188,1600,1633,
        3521,8000,None,1560,1677,2083,3058,3650,4650,None,
        4100,2220,3013,2100,None,None,None,1450,1650,None,
        1417,None,1808,1275,1438
    ]
}

# Q4 2010 - Placeholder (you need to add actual data)
data_q4 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [0] * 35,
    "bachelor_avg_lease_rate": [None] * 35,
    "1_bedrooms_leased": [0] * 35,
    "1_bed_room_avg_lease_rate": [0] * 35,
    "2_bedrooms_leased": [0] * 35,
    "2_bedrooms_avg_lease_rate": [0] * 35,
    "3_bedrooms_leased": [0] * 35,
    "3_bedrooms_avg_lease_rate": [None] * 35
}

# ========== CREATE QUARTERLY DATAFRAMES ==========
# Convert to dataframes and rename columns to match 2018 format
df_q1 = pd.DataFrame(data_q1)
df_q2 = pd.DataFrame(data_q2)
df_q3 = pd.DataFrame(data_q3)
df_q4 = pd.DataFrame(data_q4)

# Rename columns to have quarter suffixes
def rename_quarter_columns(df, quarter):
    col_map = {
        'Bachelor Leased': f'bachelor_leased_q{quarter}',
        'bachelor_avg_lease_rate': f'bachelor_avg_lease_rate_q{quarter}',
        '1_bedrooms_leased': f'1_bedroom_leased_q{quarter}',
        '1_bed_room_avg_lease_rate': f'1_bedroom_avg_lease_rate_q{quarter}',
        '2_bedrooms_leased': f'2_bedrooms_leased_q{quarter}',
        '2_bedrooms_avg_lease_rate': f'2_bedrooms_avg_lease_rate_q{quarter}',
        '3_bedrooms_leased': f'3_bedrooms_leased_q{quarter}',
        '3_bedrooms_avg_lease_rate': f'3_bedrooms_avg_lease_rate_q{quarter}'
    }
    return df.rename(columns=col_map)

df_q1 = rename_quarter_columns(df_q1, 1)
df_q2 = rename_quarter_columns(df_q2, 2)
df_q3 = rename_quarter_columns(df_q3, 3)
df_q4 = rename_quarter_columns(df_q4, 4)

print(f"✓ Q1 shape: {df_q1.shape}")
print(f"✓ Q2 shape: {df_q2.shape}")
print(f"✓ Q3 shape: {df_q3.shape}")
print(f"✓ Q4 shape: {df_q4.shape}")

# ========== MERGE QUARTERLY DATA ==========
# Add 'Area' column to each dataframe if missing
if 'Area' not in df_q2:
    df_q2.insert(0, 'Area', df_q1['Area'])
if 'Area' not in df_q3:
    df_q3.insert(0, 'Area', df_q1['Area'])
if 'Area' not in df_q4:
    df_q4.insert(0, 'Area', df_q1['Area'])

# Merge all quarterly dataframes
dfs = [df_q1, df_q2, df_q3, df_q4]
merged_quarters = reduce(lambda left, right: pd.merge(left, right, on='Area'), dfs)
print(f"✓ Merged quarters shape: {merged_quarters.shape}")

# ========== PREPARE MAIN DATAFRAME ==========
# Drop the old yearly rental columns from df_2010
columns_to_drop = [
    'Bachelor Leased', 
    'bachelor_avg_lease_rate', 
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate', 
    '2_bedrooms_leased', 
    '2_bedrooms_avg_lease_rate', 
    '3_bedrooms_leased', 
    '3_bedrooms_avg_lease_rate'
]

# Only drop columns that exist
existing_cols_to_drop = [col for col in columns_to_drop if col in df_2010.columns]
df_2010 = df_2010.drop(columns=existing_cols_to_drop)
print(f"✓ Dropped {len(existing_cols_to_drop)} yearly rental columns")

# ========== MAP 2010 DATA FROM ORIGINAL DATASET ==========
# Identify 2010 columns in the original data
cols_2010_source = [col for col in df_og.columns if '2010' in col]
print(f"✓ Found {len(cols_2010_source)} 2010 columns in original data: {cols_2010_source[:5]}...")

# Create mapping: 2024 placeholder columns → 2010 source columns
rename_map = {}
for col in cols_2010_source:
    col_2024 = col.replace('2010', '2024')
    rename_map[col_2024] = col

print(f"✓ Mapping {len(rename_map)} columns")

# Align indices by AREA_NAME
df_og_indexed = df_og.set_index('AREA_NAME')
df_2010_indexed = df_2010.set_index('AREA_NAME')

# Replace data for each year-specific column
for col_2024, col_2010 in rename_map.items():
    if col_2024 in df_2010_indexed.columns and col_2010 in df_og_indexed.columns:
        # Transfer data based on AREA_NAME index
        df_2010_indexed[col_2024] = df_2010_indexed.index.map(df_og_indexed[col_2010])

# Rename columns from _2024 to _2010
df_2010_indexed.columns = [col.replace('_2024', '_2010') for col in df_2010_indexed.columns]

# Reset index
df_2010 = df_2010_indexed.reset_index()

# Set POPULATION_2010 (fill with actual data if available)
if 'POPULATION_2010' in df_2010.columns:
    df_2010['POPULATION_2010'] = np.nan
    print("✓ Set POPULATION_2010 to NaN (fill with actual data if available)")

# ========== MERGE QUARTERLY DATA WITH MAIN DATAFRAME ==========
# Merge on Area column
df_2010 = pd.merge(df_2010, merged_quarters, left_on='Area', right_on='Area', how='left')
print(f"✓ Merged with quarterly data, final shape: {df_2010.shape}")

# ========== SAVE FINAL DATAFRAME ==========
df_2010.to_csv('2010_dataframe.csv', index=False)
print("✓ Saved to: 2010_dataframe.csv")

# ========== DISPLAY RESULTS ==========
print("\n" + "="*50)
print("2010 DATAFRAME CREATED SUCCESSFULLY!")
print("="*50)
print(f"Total rows: {len(df_2010)}")
print(f"Total columns: {len(df_2010.columns)}")

# Count quarterly columns
quarterly_cols = [col for col in df_2010.columns if 'q' in col.lower()]
print(f"Quarterly columns: {len(quarterly_cols)}")

print("\nFirst 3 rows:")
pd.set_option('display.max_columns', None)
print(df_2010.head(3))
pd.reset_option('display.max_columns')

print("\nColumn names (first 20):")
print(df_2010.columns[:20].tolist())