In [2]:
import pandas as pd

df_og = pd.read_csv('../data/tor_neighborhood_condorental.csv') 
df_2024 = pd.read_csv('../sets/2024_dataframe.csv') 
df_2012= df_2024.copy()

In [3]:
static_cols = [
   ' AREA_NAME'
'CLASSIFICATION'
'CLASSIFICATION_CODE'
'geometry_wkt'
'geometry_type'
'Area'
'area_sq_meters'
'perimeter_meters'
'park_count'
'total_stop_count'
'avg_stop_frequency'
'max_stop_frequency'
'total_line_length_meters'
'transit_line_density'
'distinct_route_count'
]

In [ ]:

static_cols = [
    'AREA_NAME',
    'CLASSIFICATION',
    'CLASSIFICATION_CODE',
    'geometry_wkt',
    'geometry_type',
    'Area',
    'area_sq_meters',
    'perimeter_meters',
    'park_count',
    'total_stop_count',
    'avg_stop_frequency',
    'max_stop_frequency',
    'total_line_length_meters',
    'transit_line_density',
    'distinct_route_count',
]


df_2012= df_2024.copy()

# ensure static columns exist; if missing, create with NA (manual lease cols NOT added here)
for col in static_cols:
    if col not in df_2012.columns:
        df_2012[col] = pd.NA

# reorder to place static cols first
ordered = [c for c in static_cols if c in df_2012.columns]
others = [c for c in df_2012.columns if c not in ordered]
df_2012= df_2012[ordered + others]

# save dataframe for later manual edits
df_2012.to_csv('../sets/2012_dataframe.csv', index=False)

In [ ]:
static_cols = [
    'AREA_NAME',
    'CLASSIFICATION',
    'CLASSIFICATION_CODE',
    'geometry_wkt',
    'geometry_type',
    'Area',
    'area_sq_meters',
    'perimeter_meters',
    'park_count',
    'total_stop_count',
    'avg_stop_frequency',
    'max_stop_frequency',
    'total_line_length_meters',
    'transit_line_density',
    'distinct_route_count',
]

# build df_2012from df_2024:
# - keep static cols (fill with NA if missing)
# - convert all *_2024 columns into *_2012columns filled with 0
df_2012= pd.DataFrame(index=df_2024.index)

# populate static columns (preserve values if present in df_2024)
for col in static_cols:
    if col in df_2024.columns:
        df_2012[col] = df_2024[col]
    else:
        df_2012[col] = pd.NA

# convert any 2024 columns into 2012equivalents set to 0
for col in df_2024.columns:
    if col.endswith('_2024'):
        new_col = col.replace('_2024', '_2012')
        # avoid overwriting static cols
        if new_col in df_2012.columns:
            continue
        df_2012[new_col] = 0



df_2012.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,area_sq_meters,perimeter_meters,park_count,total_stop_count,...,HOMICIDE_RATE_2012,ROBBERY_2012,ROBBERY_RATE_2012,SHOOTING_2012,SHOOTING_RATE_2012,THEFTFROMMV_2012,THEFTFROMMV_RATE_2012,THEFTOVER_2012,THEFTOVER_RATE_2012,POPULATION_2012
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0.000196,0.064099,6,30,...,0,0,0,0,0,0,0,0,0,0
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0.000988,0.169672,15,73,...,0,0,0,0,0,0,0,0,0,0
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0.000671,0.150559,20,101,...,0,0,0,0,0,0,0,0,0,0
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0.000466,0.110260,11,63,...,0,0,0,0,0,0,0,0,0,0
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0.000045,0.027277,3,9,...,0,0,0,0,0,0,0,0,0,0

In [6]:
len(df_2012.columns)

32

In [8]:
manual_lease_cols = [
    'Area'
    'Bachelor Leased',
    'bachelor_avg_lease_rate',
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate',
    '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased',
    '3_bedrooms_avg_lease_rate',
]

for c in manual_lease_cols:
    df_2012[c] = 0

In [9]:
df_2012.head()

desired_order = [
    'AREA_NAME','CLASSIFICATION','CLASSIFICATION_CODE','geometry_wkt',
    'geometry_type','Area',
    'Bachelor Leased','bachelor_avg_lease_rate','1_bedrooms_leased',
    '1_bed_room_avg_lease_rate','2_bedrooms_leased','2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased','3_bedrooms_avg_lease_rate',
    'area_sq_meters','perimeter_meters','park_count',
    'ASSAULT_2010','ASSAULT_RATE_2010','AUTOTHEFT_2010','AUTOTHEFT_RATE_2010',
    'BIKETHEFT_RATE_2010','BREAKENTER_2010','BIKETHEFT_RATE_2010_1',
    'HOMICIDE_2010','HOMICIDE_RATE_2010','ROBBERY_2010','ROBBERY_RATE_2010',
    'SHOOTING_2010','SHOOTING_RATE_2010','THEFTFROMMV_2010','THEFTFROMMV_RATE_2010',
    'THEFTOVER_2010','THEFTOVER_RATE_2010','POPULATION_2010',
    'total_stop_count','avg_stop_frequency','max_stop_frequency',
    'total_line_length_meters','transit_line_density','distinct_route_count'
]

# build final column order using only columns that exist in df_2010, append any remaining columns afterward
ordered = [c for c in desired_order if c in df_2012.columns]
others = [c for c in df_2012.columns if c not in ordered]
df_2012= df_2012[ordered + others]

df_2012.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,...,ROBBERY_2012,ROBBERY_RATE_2012,SHOOTING_2012,SHOOTING_RATE_2012,THEFTFROMMV_2012,THEFTFROMMV_RATE_2012,THEFTOVER_2012,THEFTOVER_RATE_2012,POPULATION_2012,AreaBachelor Leased
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df_2024.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,...,THEFTFROMMV_RATE_2024,THEFTOVER_2024,THEFTOVER_RATE_2024,POPULATION_2024,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,1,1675,12,2120,...,429.706512,4,32.430679,12334,30,537.266667,1321,1.018065,1.017866,11
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,5,2770,...,140.067566,8,65.914146,12137,73,265.602740,911,1.247435,1.246204,14
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,15,2165,...,137.211853,6,23.522032,25508,101,282.693069,790,1.291023,1.290157,13
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,2,1800,49,2127,...,219.392380,16,76.310394,20967,63,404.031746,1541,2.894569,2.893222,19
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,2,1795,30,2256,...,55.201485,6,30.109901,19927,9,532.888889,1692,0.085268,0.085265,2

In [11]:
#got o page 3 and manually edit it
# 2012 q1 fixed

data_q1 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,0,2,0,0,0,0,
        59,4,0,0,0,0,11,0,1,0,
        0,0,11,4,0,0,0,0,0,0,
        0,0,0,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,None,1263,None,None,None,None,
        1332,1463,None,None,None,None,1295,None,1200,None,
        None,None,1205,1330,None,None,None,None,None,None,
        None,None,None,None,None
    ],
    "1_bedrooms_leased": [
        24,3,2,1,12,79,5,24,0,7,
        759,45,2,5,8,49,153,15,30,2,
        9,10,183,251,15,2,2,3,4,0,
        9,0,51,1,7
    ],
    "1_bed_room_avg_lease_rate": [
        1539,1633,1050,1150,1354,1486,1770,1381,None,1143,
        1666,2029,1900,1610,1301,1470,1657,1951,1669,1233,
        1746,1353,1451,1375,1571,1925,1423,1217,1356,None,
        1254,None,1272,1050,1154
    ],
    "2_bedrooms_leased": [
        8,6,1,1,5,76,0,25,7,8,
        370,42,3,7,7,52,93,9,21,2,
        7,29,164,87,2,4,0,9,22,0,
        24,4,35,2,6
    ],
    "2_bedrooms_avg_lease_rate": [
        2031,1679,1650,1350,1578,2021,None,1872,1557,1399,
        2510,4104,3933,2329,1686,1849,2349,3261,2535,1730,
        3341,1741,1942,1862,2125,1889,None,1344,1591,None,
        1410,1219,1520,1100,1338
    ],
    "3_bedrooms_leased": [
        0,0,0,0,0,2,0,0,3,3,
        6,1,1,1,1,8,0,0,0,0,
        0,3,4,1,0,0,0,0,4,0,
        2,0,7,1,0
    ],
    "3_bedrooms_avg_lease_rate": [
        None,None,None,None,None,4300,None,None,1600,1617,
        3194,4000,1875,1750,1800,2113,None,None,None,None,
        None,1817,2263,2800,None,None,None,None,1800,None,
        1350,None,1868,1295,None
    ]
}

data_q2 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,0,4,0,0,0,0,
        78,6,0,1,0,0,24,0,1,0,
        0,0,6,15,0,0,3,0,0,0,
        0,0,1,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,None,1200,None,None,None,None,
        1350,1418,None,1050,None,None,1304,None,950,None,
        None,None,1205,1103,None,None,900,None,None,None,
        None,None,990,None,None
    ],
    "1_bedrooms_leased": [
        27,4,2,2,47,88,1,36,0,9,
        795,50,2,4,11,82,233,15,50,4,
        7,15,249,212,3,0,3,7,10,0,
        13,1,66,0,10
    ],
    "1_bed_room_avg_lease_rate": [
        1500,1536,1200,1150,1382,1529,1550,1422,None,1167,
        1739,1939,1625,1838,1378,1432,1654,1780,1736,1293,
        1814,1298,1469,1415,1577,None,1417,1196,1406,None,
        1259,1600,1286,None,1126
    ],
    "2_bedrooms_leased": [
        20,3,0,5,11,99,2,40,12,17,
        453,45,3,7,5,69,106,16,35,5,
        9,39,202,113,1,5,7,8,16,0,
        28,2,50,1,11
    ],
    "2_bedrooms_avg_lease_rate": [
        2278,1957,None,1341,1723,2091,2325,1815,1527,1426,
        2603,3918,2397,2486,1560,1869,2279,2475,2646,1570,
        2929,1711,1930,1927,1725,2370,2321,1391,1626,None,
        1438,1400,1575,1450,1327
    ],
    "3_bedrooms_leased": [
        0,0,1,0,1,4,1,3,1,3,
        24,4,0,3,0,15,0,1,0,1,
        0,1,12,4,0,0,0,2,3,0,
        2,0,3,0,1
    ],
    "3_bedrooms_avg_lease_rate": [
        None,None,1750,None,1425,3575,2100,1792,1400,1400,
        4321,5975,None,1757,None,2056,None,2300,None,1300,
        None,1625,2789,1994,None,None,None,1275,1983,None,
        1750,None,1800,None,1550
    ]
}

data_q3 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,1,1,0,0,0,0,
        50,5,0,0,0,0,32,0,1,0,
        0,0,8,8,0,1,0,0,0,0,
        0,0,1,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,950,1275,None,None,None,None,
        1410,1254,None,None,None,None,1379,None,1250,None,
        None,None,1275,1266,None,1000,None,None,None,None,
        None,None,950,None,None
    ],
    "1_bedrooms_leased": [
        32,7,1,7,47,117,3,54,2,6,
        859,57,5,7,16,98,190,16,36,3,
        7,32,316,165,18,3,5,5,10,1,
        30,3,91,1,7
    ],
    "1_bed_room_avg_lease_rate": [
        1536,1599,1100,1271,1430,1568,1533,1457,1598,1208,
        1802,2100,1571,1507,1364,1465,1743,1802,1745,1158,
        1813,1328,1511,1531,1732,1683,1240,1215,1330,1200,
        1286,1107,1292,1050,1146
    ],
    "2_bedrooms_leased": [
        22,3,1,2,11,90,2,52,4,18,
        476,41,6,7,12,97,111,15,31,3,
        5,39,313,75,2,2,6,9,12,0,
        26,7,79,0,10
    ],
    "2_bedrooms_avg_lease_rate": [
        2104,2633,1650,1350,1700,2196,1825,1802,1975,1431,
        2667,4019,2850,1803,1630,1907,2431,2564,2541,1717,
        2812,1705,1982,2125,2528,1675,1663,1488,1688,None,
        1481,1379,1621,None,1453
    ],
    "3_bedrooms_leased": [
        2,0,1,0,3,4,0,1,1,0,
        23,4,0,0,2,13,3,0,1,1,
        1,3,18,1,0,0,0,1,4,0,
        2,0,4,1,1
    ],
    "3_bedrooms_avg_lease_rate": [
        2275,None,1850,None,1700,4500,None,1650,1300,None,
        3891,6898,None,None,1800,2346,3083,None,5650,1650,
        4500,2017,2608,2550,None,None,None,1450,1994,None,
        1500,None,1970,1250,1625
    ]
}

data_q4 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,2,1,0,0,0,0,
        37,4,0,1,0,0,20,0,0,0,
        0,0,7,2,1,0,0,0,0,0,
        0,0,0,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,875,1250,None,None,None,None,
        1426,1406,None,1050,None,None,1361,None,None,None,
        None,None,1297,1220,1900,None,None,None,None,None,
        None,None,None,None,None
    ],
    "1_bedrooms_leased": [
        15,1,1,5,18,76,1,61,2,9,
        647,46,4,3,9,66,171,8,33,0,
        6,10,172,100,31,0,2,1,9,0,
        32,3,60,0,4
    ],
    "1_bed_room_avg_lease_rate": [
        1510,1575,1350,1456,1460,1499,1200,1424,1150,1217,
        1844,2115,2156,1642,1408,1539,1708,1856,1765,None,
        1908,1342,1529,1550,1608,None,1375,1000,1343,None,
        1292,1075,1316,None,1138
    ],
    "2_bedrooms_leased": [
        9,1,1,2,12,69,1,34,3,12,
        319,29,5,8,8,59,88,10,15,5,
        6,20,160,53,5,3,3,9,21,0,
        40,3,43,0,5
    ],
    "2_bedrooms_avg_lease_rate": [
        2372,1950,1500,1550,1744,2086,2400,1817,1500,1458,
        2650,3397,2570,2863,1725,1954,2346,2324,2837,1760,
        3450,1760,1957,2025,2450,2117,1983,1334,1630,None,
        1476,1375,1573,None,1390
    ],
    "3_bedrooms_leased": [
        1,1,1,0,1,1,0,1,0,0,
        9,3,0,2,1,7,2,2,0,0,
        0,2,3,3,0,0,0,0,3,0,
        8,1,6,0,4
    ],
    "3_bedrooms_avg_lease_rate": [
        1685,2100,1600,None,1450,4200,None,2190,None,None,
        3717,4400,None,2055,2200,2036,3398,4500,None,None,
        None,1963,2667,2217,None,None,None,None,1883,None,
        1585,1400,1800,None,1481
    ]
}
#after this tell copilot to average it out and merge it with the dataset and fill the zeros of the dataset for the columns 

for quarter_name, quarter_data in [
    ("Q1", data_q1),
    ("Q2", data_q2),
    ("Q3", data_q3),
    ("Q4", data_q4)
    
]:
    print(f"{quarter_name}:")
    for name, values in quarter_data.items():
        print(f"{name}: {len(values)}")
        if len(values) != 35:
            print(f"WARNING: {quarter_name} - {name} has {len(values)} values (should be 35)")

Q1:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q2:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q3:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q4:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35

In [12]:
# Create averaged rental dataframe from all quarters
quarters = []
for data in [data_q1, data_q2, data_q3, data_q4]:
    quarters.append(pd.DataFrame(data))

rental_avg = pd.concat(quarters).groupby('Area').mean(numeric_only=True).reset_index()


# Show the result
(rental_avg.head())

,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,C01,56.00,1379.50,765.00,1762.75,404.50,2607.50,15.50,3780.750000
1,C02,4.75,1385.25,49.50,2045.75,39.25,3859.50,3.00,5318.250000
2,C03,0.00,NaN,3.25,1813.00,4.25,2937.50,0.25,1875.000000
3,C04,0.50,1050.00,4.75,1649.25,7.25,2370.25,1.50,1854.000000
4,C06,0.00,NaN,11.00,1362.75,8.00,1650.25,1.00,1933.333333

In [13]:
df_2012.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,...,ROBBERY_2012,ROBBERY_RATE_2012,SHOOTING_2012,SHOOTING_RATE_2012,THEFTFROMMV_2012,THEFTFROMMV_RATE_2012,THEFTOVER_2012,THEFTOVER_RATE_2012,POPULATION_2012,AreaBachelor Leased
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# First, let's fix the manual_lease_cols creation and properly add the columns
manual_lease_cols = [
    'Bachelor Leased',
    'bachelor_avg_lease_rate',
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate',
    '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased',
    '3_bedrooms_avg_lease_rate'
]

# Add these columns to df_2012 if they don't exist
for col in manual_lease_cols:
    if col not in df_2012.columns:
        df_2012[col] = 0

# Now update the rental columns using the averaged data
rental_cols = manual_lease_cols  # Use the same list

# Remove any existing 'Toronto ' prefix before adding
rental_avg['Area'] = rental_avg['Area'].str.replace('Toronto ', '', regex=False)
rental_avg['Area'] = 'Toronto ' + rental_avg['Area']
rental_avg_indexed = rental_avg.set_index('Area')

print("df_2012 Areas:", df_2012['Area'].unique())
print("rental_avg Areas:", rental_avg['Area'].unique())

# Update rental columns in df_2012 - only for columns that exist
for col in rental_cols:
    if col in df_2012.columns and col in rental_avg_indexed.columns:
        # Count zeros before update
        zero_count = (df_2012[col] == 0).sum()
        print(f"Updating {col}: replacing {zero_count} zeros")
        
        # Perform the update
        df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])
    else:
        print(f"Skipping {col}: not found in both dataframes")

# FINALLY - Save the corrected dataframe to CSV
df_2012.to_csv('../sets/2012_dataframe.csv', index=False)
print("✓ Final 2012 dataset saved to '../sets/2012_dataframe.csv'")
print(f"Final shape: {df_2012.shape}")

# Show the result
df_2012.head()

df_2012 Areas: ['Toronto W03' 'Toronto C12' 'Toronto E06' 'Toronto C06' 'Toronto C04'
 'Toronto W05' 'Toronto W01' 'Toronto W04' 'Toronto W06' 'Toronto C10'
 'Toronto W10' 'Toronto C01' 'Toronto W08' 'Toronto C08' 'Toronto E05'
 'Toronto C11' 'Toronto W09' 'Toronto C15' 'Toronto C13' 'Toronto E09'
 'Toronto E03' 'Toronto E02' 'Toronto E08' 'Toronto C07' 'Toronto E10'
 'Toronto E11' 'Toronto E07' 'Toronto W02' 'Toronto C14' 'Toronto C09'
 'Toronto C02' 'Toronto E04' 'Toronto E01' 'Toronto C03' 'Toronto W07']
rental_avg Areas: ['Toronto C01' 'Toronto C02' 'Toronto C03' 'Toronto C04' 'Toronto C06'
 'Toronto C07' 'Toronto C08' 'Toronto C09' 'Toronto C10' 'Toronto C11'
 'Toronto C12' 'Toronto C13' 'Toronto C14' 'Toronto C15' 'Toronto E01'
 'Toronto E02' 'Toronto E03' 'Toronto E04' 'Toronto E05' 'Toronto E06'
 'Toronto E07' 'Toronto E08' 'Toronto E09' 'Toronto E10' 'Toronto E11'
 'Toronto W01' 'Toronto W02' 'Toronto W03' 'Toronto W04' 'Toronto W05'
 'Toronto W06' 'Toronto W07' 'Toronto W08' 'Toronto W09' 'Toronto W10']
Updating Bachelor Leased: replacing 158 zeros
Updating bachelor_avg_lease_rate: replacing 158 zeros
Updating 1_bedrooms_leased: replacing 158 zeros
Updating 1_bed_room_avg_lease_rate: replacing 158 zeros
Updating 2_bedrooms_leased: replacing 158 zeros
Updating 2_bedrooms_avg_lease_rate: replacing 158 zeros
Updating 3_bedrooms_leased: replacing 158 zeros
Updating 3_bedrooms_avg_lease_rate: replacing 158 zeros
✓ Final 2012 dataset saved to '../sets/2012_dataframe.csv'
Final shape: (158, 41)

/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_89306/2864255510.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 0.    0.    0.    0.    0.5   0.75  0.    0.    2.    0.75  0.   56.
  0.   21.75  0.    2.    0.    0.   21.75 21.75  0.    0.    0.    0.
 21.75 56.    7.25  0.    0.    0.5   2.    0.75  0.    7.25  0.25  0.5
  0.    0.    0.    0.    0.75  0.    0.    0.    0.    0.    2.    0.
  8.    0.    0.    0.   56.    0.75  0.    4.75  4.75  0.5   0.    8.
  0.    0.    0.    0.75  0.75  0.    0.    0.75  0.    0.5   0.    0.
 56.    4.75  0.    0.    0.    0.    0.5   0.    0.   21.75  0.    0.
  0.    0.25 56.    0.   21.75  0.    0.    0.    0.    0.    0.    0.
  0.75  0.    0.5   0.    0.    8.    0.    0.    0.75  0.    0.25  0.
  0.    0.    7.25  0.25  0.    0.75  0.75  7.25  0.    0.   56.    0.5
 21.75  0.    0.25  0.75  0.    7.25  0.    0.25 21.75  0.75  0.    2.
  0.    0.    0.75  0.    0.75  0.25  7.25  0.    0.5   4.75  0.    0.
 21.75  0.    0.    0.75 21.75  0.    0.   21.75  0.5   0.    0.    0.
  0.5   0.75]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_89306/2864255510.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[          nan           nan           nan           nan 1050.
  912.5                  nan           nan 1247.         1133.33333333
           nan 1379.5                  nan 1334.75                 nan
 1247.                   nan           nan 1334.75       1334.75
           nan           nan           nan           nan 1334.75
 1379.5        1229.75                 nan           nan  970.
 1247.          900.                   nan 1229.75       1000.
  970.                   nan           nan           nan           nan
  900.                   nan           nan           nan           nan
           nan 1247.                   nan 1245.5                  nan
           nan           nan 1379.5         912.5                  nan
 1385.25       1385.25       1050.                   nan 1245.5
           nan           nan           nan  912.5         912.5
           nan           nan  900.                   nan 1050.
           nan           nan 1379.5        1385.25                 nan
           nan           nan           nan  970.                   nan
           nan 1334.75                 nan           nan           nan
 1900.         1379.5                  nan 1334.75                 nan
           nan           nan           nan           nan           nan
           nan  900.                   nan 1050.                   nan
           nan 1245.5                  nan           nan  900.
           nan 1000.                   nan           nan           nan
 1229.75       1900.                   nan  900.          900.
 1229.75                 nan           nan 1379.5        1050.
 1334.75                 nan 1000.          912.5                  nan
 1229.75                 nan 1000.         1334.75        912.5
           nan 1247.                   nan           nan  912.5
           nan  900.         1900.         1229.75                 nan
 1050.         1385.25                 nan           nan 1334.75
           nan           nan  912.5        1334.75                 nan
           nan 1334.75        970.                   nan           nan
           nan  970.          912.5       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_89306/2864255510.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1.5000e+00 7.2500e+00 2.5000e-01 1.1000e+01 4.7500e+00 3.1000e+01
 2.4500e+01 3.7500e+00 9.0000e+01 3.7250e+01 7.7500e+00 7.6500e+02
 4.3750e+01 1.8675e+02 8.2500e+00 9.0000e+01 3.7500e+00 4.3750e+01
 1.8675e+02 1.8675e+02 2.2500e+00 7.2500e+00 1.0000e+00 2.2500e+00
 1.8675e+02 7.6500e+02 1.8200e+02 3.7500e+00 1.6750e+01 6.7000e+01
 9.0000e+01 3.0000e+00 7.7500e+00 1.8200e+02 1.2500e+00 6.7000e+01
 2.4500e+01 1.7500e+00 7.3750e+01 5.0000e-01 3.0000e+00 7.0000e+00
 2.1000e+01 3.7500e+00 1.1000e+01 3.7500e+00 9.0000e+01 2.4500e+01
 2.3000e+02 1.3500e+01 7.7500e+00 1.5000e+00 7.6500e+02 3.1000e+01
 3.7500e+00 4.9500e+01 4.9500e+01 4.7500e+00 3.7500e+00 2.3000e+02
 7.0000e+00 7.7500e+00 2.1000e+01 3.1000e+01 3.1000e+01 4.0000e+00
 8.2500e+00 3.0000e+00 8.2500e+00 4.7500e+00 1.6750e+01 4.3750e+01
 7.6500e+02 4.9500e+01 2.4500e+01 4.3750e+01 3.7500e+00 3.7500e+00
 6.7000e+01 4.0000e+00 4.3750e+01 1.8675e+02 3.7500e+00 4.3750e+01
 7.3750e+01 1.6750e+01 7.6500e+02 1.3500e+01 1.8675e+02 3.7500e+00
 3.7500e+00 4.3750e+01 3.2500e+00 7.0000e+00 1.5000e+00 5.0000e-01
 3.0000e+00 7.3750e+01 4.7500e+00 2.5000e+00 1.7500e+00 2.3000e+02
 7.7500e+00 1.7500e+00 3.0000e+00 1.0000e+00 1.2500e+00 3.2500e+00
 1.5000e+00 4.3750e+01 1.8200e+02 1.6750e+01 2.5000e-01 3.0000e+00
 3.0000e+00 1.8200e+02 7.0000e+00 1.0000e+00 7.6500e+02 4.7500e+00
 1.8675e+02 4.0000e+00 1.2500e+00 3.1000e+01 4.0000e+00 1.8200e+02
 1.6750e+01 1.2500e+00 1.8675e+02 3.1000e+01 1.6750e+01 9.0000e+01
 1.5000e+00 8.2500e+00 3.1000e+01 3.7500e+00 3.0000e+00 1.6750e+01
 1.8200e+02 8.2500e+00 4.7500e+00 4.9500e+01 3.7500e+00 5.0000e-01
 1.8675e+02 1.5000e+00 3.7500e+00 3.1000e+01 1.8675e+02 3.2500e+00
 2.2500e+00 1.8675e+02 6.7000e+01 4.0000e+00 1.7500e+00 2.1000e+01
 6.7000e+01 3.1000e+01]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_89306/2864255510.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1175.         1820.25       1200.         1362.75       1649.25
 1406.5        1521.25       1256.75       1520.5        1728.75
 1183.75       1762.75       1421.         1690.5        1358.75
 1520.5        1256.75       1421.         1690.5        1690.5
 1228.         1820.25       1374.         1228.         1690.5
 1762.75       1467.75       1256.75       1330.25       1291.5
 1520.5        1363.75       1183.75       1467.75       1804.
 1291.5        1521.25       1260.66666667 1476.5        1050.
 1363.75       1141.         1272.75       1585.75       1362.75
 1256.75       1520.5        1521.25       1490.         1847.25
 1183.75       1175.         1762.75       1406.5        1256.75
 2045.75       2045.75       1649.25       1256.75       1490.
 1141.         1183.75       1272.75       1406.5        1406.5
 1157.         1358.75       1363.75       1358.75       1649.25
 1330.25       1421.         1762.75       2045.75       1521.25
 1421.         1585.75       1256.75       1291.5        1157.
 1421.         1690.5        1585.75       1421.         1476.5
 1622.         1762.75       1847.25       1690.5        1256.75
 1585.75       1421.         1813.         1141.         1175.
 1050.         1363.75       1476.5        1649.25       1513.25
 1260.66666667 1490.         1183.75       1260.66666667 1363.75
 1374.         1804.         1813.         1175.         1421.
 1467.75       1622.         1200.         1363.75       1363.75
 1467.75       1141.         1374.         1762.75       1649.25
 1690.5        1157.         1804.         1406.5        1157.
 1467.75       1330.25       1804.         1690.5        1406.5
 1330.25       1520.5        1175.         1358.75       1406.5
 1585.75       1363.75       1622.         1467.75       1358.75
 1649.25       2045.75       1585.75       1050.         1690.5
 1175.         1256.75       1406.5        1690.5        1813.
 1228.         1690.5        1291.5        1157.         1260.66666667
 1272.75       1291.5        1406.5       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_89306/2864255510.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[  0.75   6.75   0.     8.     7.25   9.75  14.75   2.5   83.5   25.5
  13.75 404.5   37.75  99.5   17.75  83.5    2.5   37.75  99.5   99.5
   3.75   6.75   6.5    3.75  99.5  404.5   82.     2.5   31.75  51.75
  83.5    4.    13.75  82.     3.5   51.75  14.75   4.    69.25   0.75
   4.     8.    29.5    3.25   8.     2.5   83.5   14.75 209.75  12.5
  13.75   0.75 404.5    9.75   2.5   39.25  39.25   7.25   2.5  209.75
   8.    13.75  29.5    9.75   9.75   8.75  17.75   4.    17.75   7.25
  31.75  37.75 404.5   39.25  14.75  37.75   3.25   2.5   51.75   8.75
  37.75  99.5    3.25  37.75  69.25   2.5  404.5   12.5   99.5    2.5
   3.25  37.75   4.25   8.     0.75   0.75   4.    69.25   7.25   1.25
   4.   209.75  13.75   4.     4.     6.5    3.5    4.25   0.75  37.75
  82.     2.5    0.     4.     4.    82.     8.     6.5  404.5    7.25
  99.5    8.75   3.5    9.75   8.75  82.    31.75   3.5   99.5    9.75
  31.75  83.5    0.75  17.75   9.75   3.25   4.     2.5   82.    17.75
   7.25  39.25   3.25   0.75  99.5    0.75   2.5    9.75  99.5    4.25
   3.75  99.5   51.75   8.75   4.    29.5   51.75   9.75]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_89306/2864255510.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1600.         3133.                   nan 1650.25       2370.25
 1686.25       2196.25       1397.75       2098.5        2639.75
 1428.5        2607.5        1826.5        2351.25       1633.75
 2098.5        1397.75       1826.5        2351.25       2351.25
 1694.25       3133.         1639.75       1694.25       2351.25
 2607.5        1984.75       1397.75       1729.25       1572.25
 2098.5        1989.         1428.5        1984.75       2012.75
 1572.25       2196.25       1343.25       1894.75       1275.
 1989.         1377.         1451.25       2054.75       1650.25
 1397.75       2098.5        2196.25       1952.75       2656.
 1428.5        1600.         2607.5        1686.25       1397.75
 3859.5        3859.5        2370.25       1397.75       1952.75
 1377.         1428.5        1451.25       1686.25       1686.25
 1389.25       1633.75       1989.         1633.75       2370.25
 1729.25       1826.5        2607.5        3859.5        2196.25
 1826.5        2054.75       1397.75       1572.25       1389.25
 1826.5        2351.25       2054.75       1826.5        1894.75
 2207.         2607.5        2656.         2351.25       1397.75
 2054.75       1826.5        2937.5        1377.         1600.
 1275.         1989.         1894.75       2370.25       2183.33333333
 1343.25       1952.75       1428.5        1343.25       1989.
 1639.75       2012.75       2937.5        1600.         1826.5
 1984.75       2207.                   nan 1989.         1989.
 1984.75       1377.         1639.75       2607.5        2370.25
 2351.25       1389.25       2012.75       1686.25       1389.25
 1984.75       1729.25       2012.75       2351.25       1686.25
 1729.25       2098.5        1600.         1633.75       1686.25
 2054.75       1989.         2207.         1984.75       1633.75
 2370.25       3859.5        2054.75       1275.         2351.25
 1600.         1397.75       1686.25       2351.25       2937.5
 1694.25       2351.25       1572.25       1389.25       1343.25
 1451.25       1572.25       1686.25      ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_89306/2864255510.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 0.75  0.25  0.    1.    1.5   1.25  0.75  0.    2.75  0.25  1.5  15.5
  1.25  1.25  3.5   2.75  0.    1.25  1.25  1.25  0.5   0.25  1.25  0.5
  1.25 15.5   2.25  0.    2.25  5.    2.75  0.    1.5   2.25  0.    5.
  0.75  0.25 10.75  0.5   0.    1.5   3.5   0.25  1.    0.    2.75  0.75
  9.25  0.75  1.5   0.75 15.5   1.25  0.    3.    3.    1.5   0.    9.25
  1.5   1.5   3.5   1.25  1.25  0.75  3.5   0.    3.5   1.5   2.25  1.25
 15.5   3.    0.75  1.25  0.25  0.    5.    0.75  1.25  1.25  0.25  1.25
 10.75  0.   15.5   0.75  1.25  0.    0.25  1.25  0.25  1.5   0.75  0.5
  0.   10.75  1.5   0.25  0.25  9.25  1.5   0.25  0.    1.25  0.    0.25
  0.75  1.25  2.25  0.    0.    0.    0.    2.25  1.5   1.25 15.5   1.5
  1.25  0.75  0.    1.25  0.75  2.25  2.25  0.    1.25  1.25  2.25  2.75
  0.75  3.5   1.25  0.25  0.    0.    2.25  3.5   1.5   3.    0.25  0.5
  1.25  0.75  0.    1.25  1.25  0.25  0.5   1.25  5.    0.75  0.25  3.5
  5.    1.25]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_89306/2864255510.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1733.33333333 4500.                   nan 1933.33333333 1854.
 1525.         1980.                   nan 4143.75       5650.
 1508.5        3780.75       1877.33333333 3240.5        1915.
 4143.75                 nan 1877.33333333 3240.5        3240.5
 1475.         4500.         1433.33333333 1475.         3240.5
 3780.75       2390.25                 nan 1855.5        1859.5
 4143.75                 nan 1508.5        2390.25                 nan
 1859.5        1980.         1400.         2137.75       1272.5
           nan 1552.         1546.25       2100.         1933.33333333
           nan 4143.75       1980.         2581.75       3400.
 1508.5        1733.33333333 3780.75       1525.                   nan
 5318.25       5318.25       1854.                   nan 2581.75
 1552.         1508.5        1546.25       1525.         1525.
 1362.5        1915.                   nan 1915.         1854.
 1855.5        1877.33333333 3780.75       5318.25       1980.
 1877.33333333 2100.                   nan 1859.5        1362.5
 1877.33333333 3240.5        2100.         1877.33333333 2137.75
           nan 3780.75       3400.         3240.5                  nan
 2100.         1877.33333333 1875.         1552.         1733.33333333
 1272.5                  nan 2137.75       1854.         2100.
 1400.         2581.75       1508.5        1400.                   nan
 1433.33333333           nan 1875.         1733.33333333 1877.33333333
 2390.25                 nan           nan           nan           nan
 2390.25       1552.         1433.33333333 3780.75       1854.
 3240.5        1362.5                  nan 1525.         1362.5
 2390.25       1855.5                  nan 3240.5        1525.
 1855.5        4143.75       1733.33333333 1915.         1525.
 2100.                   nan           nan 2390.25       1915.
 1854.         5318.25       2100.         1272.5        3240.5
 1733.33333333           nan 1525.         3240.5        1875.
 1475.         3240.5        1859.5        1362.5        1400.
 1546.25       1859.5        1525.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2012.loc[df_2012[col] == 0, col] = df_2012['Area'].map(rental_avg_indexed[col])

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,...,ROBBERY_RATE_2012,SHOOTING_2012,SHOOTING_RATE_2012,THEFTFROMMV_2012,THEFTFROMMV_RATE_2012,THEFTOVER_2012,THEFTOVER_RATE_2012,POPULATION_2012,AreaBachelor Leased,Bachelor Leased
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,NaN,1.50,1175.00,0.75,...,0,0,0,0,0,0,0,0,0,0.0
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,NaN,7.25,1820.25,6.75,...,0,0,0,0,0,0,0,0,0,0.0
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,NaN,0.25,1200.00,0.00,...,0,0,0,0,0,0,0,0,0,0.0
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,NaN,11.00,1362.75,8.00,...,0,0,0,0,0,0,0,0,0,0.0
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,1050.0,4.75,1649.25,7.25,...,0,0,0,0,0,0,0,0,0,0.5

In [ ]:
# ========== 2012 PIPELINE WITH QUARTERLY DATA ==========

import pandas as pd
import numpy as np
from functools import reduce
import os

# Debug: Check current directory
print("Current directory:", os.getcwd())

# Load the 2024 template and original data
try:
    df_2024 = pd.read_csv('2024_dataframe.csv')  # Template structure
    print("✓ Loaded 2024_dataframe.csv")
except FileNotFoundError:
    print("❌ 2024_dataframe.csv not found. Trying other paths...")
    try:
        df_2024 = pd.read_csv('../2024_dataframe.csv')
        print("✓ Loaded 2024_dataframe.csv from parent directory")
    except FileNotFoundError:
        print("❌ Could not find 2024_dataframe.csv")
        df_2024 = pd.DataFrame()

try:
    df_og = pd.read_csv('data/tor_neighborhood_condorental.csv')  # Original data source
    print("✓ Loaded tor_neighborhood_condorental.csv")
except FileNotFoundError:
    try:
        df_og = pd.read_csv('../data/tor_neighborhood_condorental.csv')
        print("✓ Loaded tor_neighborhood_condorental.csv from parent directory")
    except FileNotFoundError:
        print("❌ Could not find tor_neighborhood_condorental.csv")
        df_og = pd.DataFrame()

# Start with 2024 structure
df_2012 = df_2024.copy()
print(f"✓ Template shape: {df_2024.shape}")

# ========== YOUR 2012 QUARTERLY DATA ==========
# Q1 2012
data_q1 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,0,2,0,0,0,0,
        59,4,0,0,0,0,11,0,1,0,
        0,0,11,4,0,0,0,0,0,0,
        0,0,0,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,None,1263,None,None,None,None,
        1332,1463,None,None,None,None,1295,None,1200,None,
        None,None,1205,1330,None,None,None,None,None,None,
        None,None,None,None,None
    ],
    "1_bedrooms_leased": [
        24,3,2,1,12,79,5,24,0,7,
        759,45,2,5,8,49,153,15,30,2,
        9,10,183,251,15,2,2,3,4,0,
        9,0,51,1,7
    ],
    "1_bed_room_avg_lease_rate": [
        1539,1633,1050,1150,1354,1486,1770,1381,None,1143,
        1666,2029,1900,1610,1301,1470,1657,1951,1669,1233,
        1746,1353,1451,1375,1571,1925,1423,1217,1356,None,
        1254,None,1272,1050,1154
    ],
    "2_bedrooms_leased": [
        8,6,1,1,5,76,0,25,7,8,
        370,42,3,7,7,52,93,9,21,2,
        7,29,164,87,2,4,0,9,22,0,
        24,4,35,2,6
    ],
    "2_bedrooms_avg_lease_rate": [
        2031,1679,1650,1350,1578,2021,None,1872,1557,1399,
        2510,4104,3933,2329,1686,1849,2349,3261,2535,1730,
        3341,1741,1942,1862,2125,1889,None,1344,1591,None,
        1410,1219,1520,1100,1338
    ],
    "3_bedrooms_leased": [
        0,0,0,0,0,2,0,0,3,3,
        6,1,1,1,1,8,0,0,0,0,
        0,3,4,1,0,0,0,0,4,0,
        2,0,7,1,0
    ],
    "3_bedrooms_avg_lease_rate": [
        None,None,None,None,None,4300,None,None,1600,1617,
        3194,4000,1875,1750,1800,2113,None,None,None,None,
        None,1817,2263,2800,None,None,None,None,1800,None,
        1350,None,1868,1295,None
    ]
}

# Q2 2012
data_q2 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,0,4,0,0,0,0,
        78,6,0,1,0,0,24,0,1,0,
        0,0,6,15,0,0,3,0,0,0,
        0,0,1,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,None,1200,None,None,None,None,
        1350,1418,None,1050,None,None,1304,None,950,None,
        None,None,1205,1103,None,None,900,None,None,None,
        None,None,990,None,None
    ],
    "1_bedrooms_leased": [
        27,4,2,2,47,88,1,36,0,9,
        795,50,2,4,11,82,233,15,50,4,
        7,15,249,212,3,0,3,7,10,0,
        13,1,66,0,10
    ],
    "1_bed_room_avg_lease_rate": [
        1500,1536,1200,1150,1382,1529,1550,1422,None,1167,
        1739,1939,1625,1838,1378,1432,1654,1780,1736,1293,
        1814,1298,1469,1415,1577,None,1417,1196,1406,None,
        1259,1600,1286,None,1126
    ],
    "2_bedrooms_leased": [
        20,3,0,5,11,99,2,40,12,17,
        453,45,3,7,5,69,106,16,35,5,
        9,39,202,113,1,5,7,8,16,0,
        28,2,50,1,11
    ],
    "2_bedrooms_avg_lease_rate": [
        2278,1957,None,1341,1723,2091,2325,1815,1527,1426,
        2603,3918,2397,2486,1560,1869,2279,2475,2646,1570,
        2929,1711,1930,1927,1725,2370,2321,1391,1626,None,
        1438,1400,1575,1450,1327
    ],
    "3_bedrooms_leased": [
        0,0,1,0,1,4,1,3,1,3,
        24,4,0,3,0,15,0,1,0,1,
        0,1,12,4,0,0,0,2,3,0,
        2,0,3,0,1
    ],
    "3_bedrooms_avg_lease_rate": [
        None,None,1750,None,1425,3575,2100,1792,1400,1400,
        4321,5975,None,1757,None,2056,None,2300,None,1300,
        None,1625,2789,1994,None,None,None,1275,1983,None,
        1750,None,1800,None,1550
    ]
}

# Q3 2012
data_q3 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,1,1,0,0,0,0,
        50,5,0,0,0,0,32,0,1,0,
        0,0,8,8,0,1,0,0,0,0,
        0,0,1,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,950,1275,None,None,None,None,
        1410,1254,None,None,None,None,1379,None,1250,None,
        None,None,1275,1266,None,1000,None,None,None,None,
        None,None,950,None,None
    ],
    "1_bedrooms_leased": [
        32,7,1,7,47,117,3,54,2,6,
        859,57,5,7,16,98,190,16,36,3,
        7,32,316,165,18,3,5,5,10,1,
        30,3,91,1,7
    ],
    "1_bed_room_avg_lease_rate": [
        1536,1599,1100,1271,1430,1568,1533,1457,1598,1208,
        1802,2100,1571,1507,1364,1465,1743,1802,1745,1158,
        1813,1328,1511,1531,1732,1683,1240,1215,1330,1200,
        1286,1107,1292,1050,1146
    ],
    "2_bedrooms_leased": [
        22,3,1,2,11,90,2,52,4,18,
        476,41,6,7,12,97,111,15,31,3,
        5,39,313,75,2,2,6,9,12,0,
        26,7,79,0,10
    ],
    "2_bedrooms_avg_lease_rate": [
        2104,2633,1650,1350,1700,2196,1825,1802,1975,1431,
        2667,4019,2850,1803,1630,1907,2431,2564,2541,1717,
        2812,1705,1982,2125,2528,1675,1663,1488,1688,None,
        1481,1379,1621,None,1453
    ],
    "3_bedrooms_leased": [
        2,0,1,0,3,4,0,1,1,0,
        23,4,0,0,2,13,3,0,1,1,
        1,3,18,1,0,0,0,1,4,0,
        2,0,4,1,1
    ],
    "3_bedrooms_avg_lease_rate": [
        2275,None,1850,None,1700,4500,None,1650,1300,None,
        3891,6898,None,None,1800,2346,3083,None,5650,1650,
        4500,2017,2608,2550,None,None,None,1450,1994,None,
        1500,None,1970,1250,1625
    ]
}

# Q4 2012
data_q4 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,2,1,0,0,0,0,
        37,4,0,1,0,0,20,0,0,0,
        0,0,7,2,1,0,0,0,0,0,
        0,0,0,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,875,1250,None,None,None,None,
        1426,1406,None,1050,None,None,1361,None,None,None,
        None,None,1297,1220,1900,None,None,None,None,None,
        None,None,None,None,None
    ],
    "1_bedrooms_leased": [
        15,1,1,5,18,76,1,61,2,9,
        647,46,4,3,9,66,171,8,33,0,
        6,10,172,100,31,0,2,1,9,0,
        32,3,60,0,4
    ],
    "1_bed_room_avg_lease_rate": [
        1510,1575,1350,1456,1460,1499,1200,1424,1150,1217,
        1844,2115,2156,1642,1408,1539,1708,1856,1765,None,
        1908,1342,1529,1550,1608,None,1375,1000,1343,None,
        1292,1075,1316,None,1138
    ],
    "2_bedrooms_leased": [
        9,1,1,2,12,69,1,34,3,12,
        319,29,5,8,8,59,88,10,15,5,
        6,20,160,53,5,3,3,9,21,0,
        40,3,43,0,5
    ],
    "2_bedrooms_avg_lease_rate": [
        2372,1950,1500,1550,1744,2086,2400,1817,1500,1458,
        2650,3397,2570,2863,1725,1954,2346,2324,2837,1760,
        3450,1760,1957,2025,2450,2117,1983,1334,1630,None,
        1476,1375,1573,None,1390
    ],
    "3_bedrooms_leased": [
        1,1,1,0,1,1,0,1,0,0,
        9,3,0,2,1,7,2,2,0,0,
        0,2,3,3,0,0,0,0,3,0,
        8,1,6,0,4
    ],
    "3_bedrooms_avg_lease_rate": [
        1685,2100,1600,None,1450,4200,None,2190,None,None,
        3717,4400,None,2055,2200,2036,3398,4500,None,None,
        None,1963,2667,2217,None,None,None,None,1883,None,
        1585,1400,1800,None,1481
    ]
}

# ========== CREATE QUARTERLY DATAFRAMES ==========
# Convert to dataframes and rename columns to have quarter suffixes
df_q1 = pd.DataFrame(data_q1)
df_q2 = pd.DataFrame(data_q2)
df_q3 = pd.DataFrame(data_q3)
df_q4 = pd.DataFrame(data_q4)

# Rename columns to have quarter suffixes
def rename_quarter_columns(df, quarter):
    col_map = {
        'Bachelor Leased': f'bachelor_leased_q{quarter}',
        'bachelor_avg_lease_rate': f'bachelor_avg_lease_rate_q{quarter}',
        '1_bedrooms_leased': f'1_bedroom_leased_q{quarter}',
        '1_bed_room_avg_lease_rate': f'1_bedroom_avg_lease_rate_q{quarter}',
        '2_bedrooms_leased': f'2_bedrooms_leased_q{quarter}',
        '2_bedrooms_avg_lease_rate': f'2_bedrooms_avg_lease_rate_q{quarter}',
        '3_bedrooms_leased': f'3_bedrooms_leased_q{quarter}',
        '3_bedrooms_avg_lease_rate': f'3_bedrooms_avg_lease_rate_q{quarter}'
    }
    return df.rename(columns=col_map)

df_q1 = rename_quarter_columns(df_q1, 1)
df_q2 = rename_quarter_columns(df_q2, 2)
df_q3 = rename_quarter_columns(df_q3, 3)
df_q4 = rename_quarter_columns(df_q4, 4)

print(f"✓ Q1 shape: {df_q1.shape}")
print(f"✓ Q2 shape: {df_q2.shape}")
print(f"✓ Q3 shape: {df_q3.shape}")
print(f"✓ Q4 shape: {df_q4.shape}")

# ========== AVERAGE QUARTERLY DATA ==========
# Merge all quarterly dataframes first
if 'Area' not in df_q2:
    df_q2.insert(0, 'Area', df_q1['Area'])
if 'Area' not in df_q3:
    df_q3.insert(0, 'Area', df_q1['Area'])
if 'Area' not in df_q4:
    df_q4.insert(0, 'Area', df_q1['Area'])

# Merge all quarterly dataframes
dfs = [df_q1, df_q2, df_q3, df_q4]
merged_quarters = reduce(lambda left, right: pd.merge(left, right, on='Area'), dfs)
print(f"✓ Merged quarters shape: {merged_quarters.shape}")

# Calculate annual averages for each metric
# Helper function to calculate average across quarters
def calculate_annual_average(df):
    # For leased counts: sum across quarters
    # For rates: average across quarters (ignoring NaN)
    
    bachelor_cols = ['bachelor_leased_q1', 'bachelor_leased_q2', 'bachelor_leased_q3', 'bachelor_leased_q4']
    bachelor_rate_cols = ['bachelor_avg_lease_rate_q1', 'bachelor_avg_lease_rate_q2', 
                         'bachelor_avg_lease_rate_q3', 'bachelor_avg_lease_rate_q4']
    
    bed1_cols = ['1_bedroom_leased_q1', '1_bedroom_leased_q2', '1_bedroom_leased_q3', '1_bedroom_leased_q4']
    bed1_rate_cols = ['1_bedroom_avg_lease_rate_q1', '1_bedroom_avg_lease_rate_q2', 
                      '1_bedroom_avg_lease_rate_q3', '1_bedroom_avg_lease_rate_q4']
    
    bed2_cols = ['2_bedrooms_leased_q1', '2_bedrooms_leased_q2', '2_bedrooms_leased_q3', '2_bedrooms_leased_q4']
    bed2_rate_cols = ['2_bedrooms_avg_lease_rate_q1', '2_bedrooms_avg_lease_rate_q2', 
                      '2_bedrooms_avg_lease_rate_q3', '2_bedrooms_avg_lease_rate_q4']
    
    bed3_cols = ['3_bedrooms_leased_q1', '3_bedrooms_leased_q2', '3_bedrooms_leased_q3', '3_bedrooms_leased_q4']
    bed3_rate_cols = ['3_bedrooms_avg_lease_rate_q1', '3_bedrooms_avg_lease_rate_q2', 
                      '3_bedrooms_avg_lease_rate_q3', '3_bedrooms_avg_lease_rate_q4']
    
    # Calculate totals (sum)
    df['Bachelor Leased'] = df[bachelor_cols].sum(axis=1)
    df['1_bedrooms_leased'] = df[bed1_cols].sum(axis=1)
    df['2_bedrooms_leased'] = df[bed2_cols].sum(axis=1)
    df['3_bedrooms_leased'] = df[bed3_cols].sum(axis=1)
    
    # Calculate averages (mean, ignoring NaN)
    df['bachelor_avg_lease_rate'] = df[bachelor_rate_cols].apply(lambda x: pd.to_numeric(x, errors='coerce')).mean(axis=1, skipna=True)
    df['1_bed_room_avg_lease_rate'] = df[bed1_rate_cols].apply(lambda x: pd.to_numeric(x, errors='coerce')).mean(axis=1, skipna=True)
    df['2_bedrooms_avg_lease_rate'] = df[bed2_rate_cols].apply(lambda x: pd.to_numeric(x, errors='coerce')).mean(axis=1, skipna=True)
    df['3_bedrooms_avg_lease_rate'] = df[bed3_rate_cols].apply(lambda x: pd.to_numeric(x, errors='coerce')).mean(axis=1, skipna=True)
    
    return df

# Calculate annual averages
annual_df = calculate_annual_average(merged_quarters.copy())
print("✓ Calculated annual averages")

# ========== PREPARE MAIN DATAFRAME ==========
# Drop the old yearly rental columns from df_2012
columns_to_drop = [
    'Bachelor Leased', 
    'bachelor_avg_lease_rate', 
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate', 
    '2_bedrooms_leased', 
    '2_bedrooms_avg_lease_rate', 
    '3_bedrooms_leased', 
    '3_bedrooms_avg_lease_rate'
]

# Only drop columns that exist
existing_cols_to_drop = [col for col in columns_to_drop if col in df_2012.columns]
df_2012 = df_2012.drop(columns=existing_cols_to_drop)
print(f"✓ Dropped {len(existing_cols_to_drop)} yearly rental columns")

# ========== MAP 2012 DATA FROM ORIGINAL DATASET ==========
# Identify 2012 columns in the original data
cols_2012_source = [col for col in df_og.columns if '2012' in col]
print(f"✓ Found {len(cols_2012_source)} 2012 columns in original data: {cols_2012_source[:5]}...")

# Create mapping: 2024 placeholder columns → 2012 source columns
rename_map = {}
for col in cols_2012_source:
    col_2024 = col.replace('2012', '2024')
    rename_map[col_2024] = col

print(f"✓ Mapping {len(rename_map)} columns")

# Align indices by AREA_NAME
df_og_indexed = df_og.set_index('AREA_NAME')
df_2012_indexed = df_2012.set_index('AREA_NAME')

# Replace data for each year-specific column
for col_2024, col_2012 in rename_map.items():
    if col_2024 in df_2012_indexed.columns and col_2012 in df_og_indexed.columns:
        # Transfer data based on AREA_NAME index
        df_2012_indexed[col_2024] = df_2012_indexed.index.map(df_og_indexed[col_2012])

# Rename columns from _2024 to _2012
df_2012_indexed.columns = [col.replace('_2024', '_2012') for col in df_2012_indexed.columns]

# Reset index
df_2012 = df_2012_indexed.reset_index()

# Set POPULATION_2012 (fill with actual data if available)
if 'POPULATION_2012' in df_2012.columns:
    df_2012['POPULATION_2012'] = np.nan
    print("✓ Set POPULATION_2012 to NaN (fill with actual data if available)")

# ========== FILL ZEROS IN THE DATASET ==========
# Fill NaN values in numeric columns with 0
numeric_cols = df_2012.select_dtypes(include=[np.number]).columns
df_2012[numeric_cols] = df_2012[numeric_cols].fillna(0)
print(f"✓ Filled NaN with 0 for {len(numeric_cols)} numeric columns")

# ========== MERGE QUARTERLY DATA WITH MAIN DATAFRAME ==========
# First merge the annual averages
annual_cols_to_merge = ['Area', 'Bachelor Leased', 'bachelor_avg_lease_rate',
                       '1_bedrooms_leased', '1_bed_room_avg_lease_rate',
                       '2_bedrooms_leased', '2_bedrooms_avg_lease_rate',
                       '3_bedrooms_leased', '3_bedrooms_avg_lease_rate']

annual_summary = annual_df[annual_cols_to_merge].copy()

# Merge annual averages
df_2012 = pd.merge(df_2012, annual_summary, left_on='Area', right_on='Area', how='left')
print(f"✓ Merged annual averages, shape: {df_2012.shape}")

# Then merge all quarterly data (the full merged_quarters dataframe)
df_2012 = pd.merge(df_2012, merged_quarters, left_on='Area', right_on='Area', how='left')
print(f"✓ Merged with quarterly data, final shape: {df_2012.shape}")

# ========== SAVE FINAL DATAFRAME ==========
df_2012.to_csv('2012_dataframe.csv', index=False)
print("✓ Saved to: 2012_dataframe.csv")

# ========== DISPLAY RESULTS ==========
print("\n" + "="*50)
print("2012 DATAFRAME CREATED SUCCESSFULLY!")
print("="*50)
print(f"Total rows: {len(df_2012)}")
print(f"Total columns: {len(df_2012.columns)}")

# Count quarterly columns
quarterly_cols = [col for col in df_2012.columns if 'q' in col.lower()]
print(f"Quarterly columns: {len(quarterly_cols)}")

# Count annual columns
annual_cols = ['Bachelor Leased', 'bachelor_avg_lease_rate', '1_bedrooms_leased',
               '1_bed_room_avg_lease_rate', '2_bedrooms_leased', '2_bedrooms_avg_lease_rate',
               '3_bedrooms_leased', '3_bedrooms_avg_lease_rate']
print(f"Annual summary columns: {len([col for col in annual_cols if col in df_2012.columns])}")

print("\nFirst 3 rows:")
pd.set_option('display.max_columns', None)
print(df_2012.head(3))
pd.reset_option('display.max_columns')

print("\nColumn names (first 20):")
print(df_2012.columns[:20].tolist())

print("\nAnnual summary for first 3 areas:")
summary_cols = ['Area'] + [col for col in annual_cols if col in df_2012.columns]
print(df_2012[summary_cols].head(3))