In [9]:
# 2017 PIPELINE
# cols must match this format 

""" ['AREA_NAME', 'CLASSIFICATION', 'CLASSIFICATION_CODE', 'geometry_wkt',
       'geometry_type', 'Area', 'Bachelor Leased', 'bachelor_avg_lease_rate',
       '1_bedrooms_leased', '1_bed_room_avg_lease_rate', '2_bedrooms_leased',
       '2_bedrooms_avg_lease_rate', '3_bedrooms_leased',
       '3_bedrooms_avg_lease_rate', 'area_sq_meters', 'perimeter_meters',
       'park_count', 'ASSAULT_2024', 'ASSAULT_RATE_2024', 'AUTOTHEFT_2024',
       'AUTOTHEFT_RATE_2024', 'BIKETHEFT_RATE_2024', 'BREAKENTER_2024',
       'BIKETHEFT_RATE_2024_1', 'HOMICIDE_2024', 'HOMICIDE_RATE_2024',
       'ROBBERY_2024', 'ROBBERY_RATE_2024', 'SHOOTING_2024',
       'SHOOTING_RATE_2024', 'THEFTFROMMV_2024', 'THEFTFROMMV_RATE_2024',
       'THEFTOVER_2024', 'THEFTOVER_RATE_2024', 'POPULATION_2024',
       'total_stop_count', 'avg_stop_frequency', 'max_stop_frequency',
       'total_line_length_meters', 'transit_line_density',
       'distinct_route_count'] """

"""
Static cols: 

AREA_NAME'
'CLASSIFICATION'
'CLASSIFICATION_CODE'
'geometry_wkt'
'geometry_type'
'Area'
'area_sq_meters'
'perimeter_meters'
'park_count'
'total_stop_count'
'avg_stop_frequency'
'max_stop_frequency'
'total_line_length_meters'
'transit_line_density'
'distinct_route_count'


2017 specific cols in og dataset

'ASSAULT_2017', 
'ASSAULT_RATE_2017',
 'AUTOTHEFT_2017', '
 AUTOTHEFT_RATE_2017', 
 'BIKETHEFT_RATE_2017', 
 'BREAKENTER_2017', 
 'BIKETHEFT_RATE_2017_1', 
 'HOMICIDE_2017', 
 'HOMICIDE_RATE_2017', 
 'ROBBERY_2017', 
 'ROBBERY_RATE_2017', 
 'SHOOTING_2017',
 'SHOOTING_RATE_2017', 
 'THEFTFROMMV_2017', 
 'THEFTFROMMV_RATE_2017', 
 'THEFTOVER_2017', 
 'THEFTOVER_RATE_2017', 

 'POPULATION_2017' (not in og dataset )


"""

# read from tor_neighborgood_condorental.csv, take all static rows, and year coded rows for 2017. 
# create population row, fill with 0s if not found in og dataset

#  'Bachelor Leased', 'bachelor_avg_lease_rat'1_bedrooms_leased', '1_bed_room_avg_lease_rate', '2_bedrooms_leased', '2_bedrooms_avg_lease_rate', '3_bedrooms_leased','3_bedrooms_avg_lease_rate should be created with null values, I will manually join these after

"\nStatic cols: \n\nAREA_NAME'\n'CLASSIFICATION'\n'CLASSIFICATION_CODE'\n'geometry_wkt'\n'geometry_type'\n'Area'\n'area_sq_meters'\n'perimeter_meters'\n'park_count'\n'total_stop_count'\n'avg_stop_frequency'\n'max_stop_frequency'\n'total_line_length_meters'\n'transit_line_density'\n'distinct_route_count'\n\n\n2017 specific cols in og dataset\n\n'ASSAULT_2017', \n'ASSAULT_RATE_2017',\n 'AUTOTHEFT_2017', '\n AUTOTHEFT_RATE_2017', \n 'BIKETHEFT_RATE_2017', \n 'BREAKENTER_2017', \n 'BIKETHEFT_RATE_2017_1', \n 'HOMICIDE_2017', \n 'HOMICIDE_RATE_2017', \n 'ROBBERY_2017', \n 'ROBBERY_RATE_2017', \n 'SHOOTING_2017',\n 'SHOOTING_RATE_2017', \n 'THEFTFROMMV_2017', \n 'THEFTFROMMV_RATE_2017', \n 'THEFTOVER_2017', \n 'THEFTOVER_RATE_2017', \n\n 'POPULATION_2017' (not in og dataset )\n\n\n"

In [10]:
import pandas as pd

# Load the source dataset
df = pd.read_csv('tor_neighborhood_condorental.csv')
df_2024 = pd.read_csv('../sets/2024_dataframe.csv')


# Define the target columns for 2017 (update crime columns to 2017)
ordered_cols = [
    'AREA_NAME', 'CLASSIFICATION', 'CLASSIFICATION_CODE', 'geometry_wkt',
    'geometry_type', 'Area', 'Bachelor Leased', 'bachelor_avg_lease_rate',
    '1_bedrooms_leased', '1_bed_room_avg_lease_rate', '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate', '3_bedrooms_leased',
    '3_bedrooms_avg_lease_rate', 'area_sq_meters', 'perimeter_meters',
    'park_count', 'ASSAULT_2017', 'ASSAULT_RATE_2017', 'AUTOTHEFT_2017',
    'AUTOTHEFT_RATE_2017', 'BIKETHEFT_RATE_2017', 'BREAKENTER_2017',
    'BIKETHEFT_RATE_2017_1', 'HOMICIDE_2017', 'HOMICIDE_RATE_2017',
    'ROBBERY_2017', 'ROBBERY_RATE_2017', 'SHOOTING_2017',
    'SHOOTING_RATE_2017', 'THEFTFROMMV_2017', 'THEFTFROMMV_RATE_2017',
    'THEFTOVER_2017', 'THEFTOVER_RATE_2017', 'POPULATION_2017',
    'total_stop_count', 'avg_stop_frequency', 'max_stop_frequency',
    'total_line_length_meters', 'transit_line_density',
    'distinct_route_count'
]

# Create missing rental columns with nulls
for col in [
    'Bachelor Leased', 'bachelor_avg_lease_rate', '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate', '2_bedrooms_leased', '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased', '3_bedrooms_avg_lease_rate'
]:
        df[col] = 0
        

# Create population column, fill with 0s if not found
if 'POPULATION_2017' not in df.columns:
    df['POPULATION_2017'] = 0

# Reindex to match the schema
df_2017 = df.reindex(columns=ordered_cols)

df_2017.to_csv('../sets/2017_dataframe.csv', index=False)

In [11]:
df_2017.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,...,THEFTFROMMV_RATE_2017,THEFTOVER_2017,THEFTOVER_RATE_2017,POPULATION_2017,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0,0,0,0,...,182.672241,4.0,34.794712,0,30,537.266667,1321,1.018065,1.017866,11
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,0,0,...,121.876907,5.0,50.782043,0,73,265.602740,911,1.247435,1.246204,14
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,0,0,...,251.288940,5.0,21.662840,0,101,282.693069,790,1.291023,1.290157,13
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0,0,0,0,...,399.768250,5.0,28.968714,0,63,404.031746,1541,2.894569,2.893222,19
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0,0,0,0,...,111.394020,2.0,15.913431,0,9,532.888889,1692,0.085268,0.085265,2

In [12]:
cols_2017 = [col for col in df.columns if '2017' in col]
print("\nColumns for 2017:")
print(cols_2017)

Columns for 2017:
['ASSAULT_2017', 'ASSAULT_RATE_2017', 'AUTOTHEFT_2017', 'AUTOTHEFT_RATE_2017', 'BIKETHEFT_RATE_2017', 'BREAKENTER_2017', 'BIKETHEFT_RATE_2017_1', 'HOMICIDE_2017', 'HOMICIDE_RATE_2017', 'ROBBERY_2017', 'ROBBERY_RATE_2017', 'SHOOTING_2017', 'SHOOTING_RATE_2017', 'THEFTFROMMV_2017', 'THEFTFROMMV_RATE_2017', 'THEFTOVER_2017', 'THEFTOVER_RATE_2017', 'POPULATION_2017']

In [13]:
import pandas as pd
# Manually creating dataframe from treb to merge (ai OCR works to an extent, still have to go over everything to fix mistakes)

# Q1 2017 
data_q1 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],
    "Bachelor Leased": [
        0, 2, 0, 1, 0, 2, 0, 1, 0, 0,
        127, 10, 2, 4, 0, 1, 44, 0, 4, 0,
        0, 3, 6, 3, 0, 0, 0, 0, 0, 0,
        0, 0, 5, 0, 0
    ],
    "bachelor_avg_lease_rate": [
        None, 1550, None, 1400, None, 1418, None, 1375, None, None,
        1543, 1530, 1300, 1275, None, 1450, 1480, None, 1425, None,
        None, 1273, 1472, 1393, None, None, None, None, None, None,
        None, None, 1266, None, None
    ],
    "1_bedrooms_leased": [
        28, 36, 1, 77, 26, 203, 3, 69, 0, 8,
        1351, 85, 18, 19, 11, 97, 408, 14, 177, 49,
        6, 60, 2161, 175, 13, 4, 1, 6, 13, 1,
        39, 5, 63, 2, 3
    ],
    "1_bed_room_avg_lease_rate": [
        1878, 1729, 1550, 1499, 1592, 1687, 1700, 1684, None, 1422,
        1947, 2222, 1766, 1888, 1591, 1776, 1931, 2046, 1834, 1472,
        2058, 1614, 1732, 1658, 1960, 1613, 1100, 1450, 1492, 1425,
        1501, 1374, 1553, 1500, 1433
    ],
    "2_bedrooms_leased": [
        12, 24, 0, 22, 8, 123, 3, 50, 6, 6,
        632, 53, 9, 14, 13, 78, 182, 11, 93, 34,
        11, 26, 158, 53, 10, 6, 3, 11, 15, 1,
        29, 4, 38, 0, 8
    ],
    "2_bedrooms_avg_lease_rate": [
        2581, 2358, None, 1889, 1880, 2332, 2613, 2058, 1988, 1698,
        2890, 3957, 2677, 2875, 1894, 2306, 2638, 3322, 2552, 2017,
        3001, 1992, 2300, 2144, 2507, 2567, 1867, 1659, 1864, 1900,
        1688, 1706, 1891, None, 1631
    ],
    "3_bedrooms_leased": [
        1, 1, 0, 3, 1, 4, 0, 3, 0, 0,
        27, 3, 1, 2, 1, 9, 3, 3, 0, 1,
        0, 2, 5, 4, 0, 0, 0, 1, 4, 0,
        2, 0, 1, 0, 0
    ],
    "3_bedrooms_avg_lease_rate": [
        2150, 3300, None, 2350, 1950, 3275, None, 2283, None, None,
        4348, 9223, 2650, 2313, 2500, 2442, 4232, 4617, None, 1650,
        None, 2175, 3474, 2070, None, None, None, 1700, 2215, None,
        1900, None, 1850, None, None
    ]
}

# Q1 2017 
import pandas as pd

# Q2 2017
data_q2 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],
    "Bachelor Leased": [
        0, 3, 0, 1, 1, 5, 0, 0, 0, 0,
        164, 13, 2, 2, 0, 0, 49, 0, 3, 0, 0, 1, 4, 8,
        0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0 
       
    ],
    "bachelor_avg_lease_rate": [
        1814, 1683, 1400, 1596, 1545, 1777, 1700, 1721, 1900, 1571,
        2030, 2060, 1831, 1683, 1674, 1837, 1997, 2138, 1893, 1567, 2108, 1657, 1760, 1692,
        2089, 1763, 1450, 1448, 1601, None, 1521, 1490, 1601, 1300, 1538
    ],
    "1_bedrooms_leased": [
        36, 79, 1, 31, 21, 239, 1, 83, 1, 27,
        1699, 131, 34, 12, 18, 182, 575, 18, 182, 29,
        12, 39, 297, 251, 18, 8, 1, 9, 9, 0,
        25, 5, 79, 1, 2
    ],
    "1_bed_room_avg_lease_rate": [
        1814, 1683, 1400, 1596, 1545, 1777, 1700, 1721, 1900, 1571,
        2030, 2060, 1831, 1683, 1674, 1837, 1997, 2138, 1893, 1567,
        2108, 1657, 1760, 1692, 2089, 1763, 1450, 1448, 1601, None,
        1521, 1490, 1601, 1300, 1538
    ],
    "2_bedrooms_leased": [
        24, 25, 1, 13, 4, 166, 1, 63, 7, 10,
        827, 84, 31, 16, 17, 127, 254, 21, 105, 21, 8, 30, 248, 110, 
        6, 10, 5, 9, 19, 0, 28, 2, 55, 4, 6
    ],
    "2_bedrooms_avg_lease_rate": [
        2499, 2571, 2520, 2017, 1848, 2531, 2050, 2213, 1957, 1750,
        2983, 3749, 2562, 2987, 2045, 2427, 2794, 2746, 2687, 2132,
        2966, 2122, 2347, 2310, 2858, 2655, 1960, 1733, 1940, None,
        1831, 1675, 1989, 1437, 1679
    ],
    "3_bedrooms_leased": [
        1, 1, 0, 2, 1, 2, 0, 2, 0, 1,
        58, 2, 0, 1, 0, 16, 4, 2, 3, 3, 1, 2, 18, 6,
        0, 0, 0, 0, 2, 0, 2, 0, 10, 0, 1
    ],

    "3_bedrooms_avg_lease_rate": [
        3000, 2550, None, 2600, 1400, 2550, None, 2125, None, 575,
        4088, 5275, None, 2250, None, 2757, 4861, 5325, 3667, 2073,
        2900, 2925, 3055, 3063, None, None, None, None, 1950, None,
        1850, None, 2269, None, 1750
    ]
}

import pandas as pd

# Q3 2017 
data_q3 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],
    "Bachelor Leased": [
        2, 1, 0, 0, 0, 3, 0, 0, 0, 0,
        185, 12, 2, 0, 0, 1, 69, 1, 0, 0,
        0, 0, 6, 12, 4, 1, 0, 0, 0, 0,
        0, 0, 6, 0, 0
    ],
    "bachelor_avg_lease_rate": [
        1050, 1500, None, None, None, 1465, None, None, None, None,
        1707, 1694, 1450, None, None, None, 1722, 1600, None, None,
        None, None, 1549, 1500, 1780, 1300, None, None, None, None,
        None, None, 1366, None, None
    ],
    "1_bedrooms_leased": [
        43, 53, 0, 21, 26, 150, 5, 67, 0, 42,
        1717, 144, 23, 23, 12, 152, 528, 19, 79, 23,
        7, 40, 323, 306, 20, 8, 7, 11, 21, 2,
        28, 3, 98, 0, 6
    ],
    "1_bed_room_avg_lease_rate": [
        1977, 1829, None, 1626, 1706, 1881, 2139, 1763, None, 1634,
        2158, 2338, 2034, 1888, 1758, 1935, 2132, 2129, 2044, 1689,
        2169, 1699, 1859, 1827, 2044, 2034, 1787, 1579, 1631, 1725,
        1643, 1597, 1665, None, 1430
    ],
    "2_bedrooms_leased": [
        16, 32, 0, 24, 5, 153, 0, 68, 3, 21,
        870, 67, 18, 10, 12, 155, 284, 29, 50, 19,
        10, 33, 332, 145, 11, 15, 5, 8, 15, 0,
        51, 8, 79, 2, 9
    ],
    "2_bedrooms_avg_lease_rate": [
        2839, 2322, None, 1931, 1765, 2612, None, 2178, 2100, 1876,
        3039, 4289, 2786, 2789, 2165, 2481, 2997, 3138, 2908, 2088,2986, 2196, 2499, 2562, 
        2750, 2893, 2189, 1791, 2043, None, 1894, 1803, 2113, 1500, 1695
    ],
    "3_bedrooms_leased": [
        3, 0, 1, 0, 0, 3, 1, 1, 0, 1,
        67, 3, 1, 0, 1, 21, 6, 2, 1, 2,
        1, 0, 7, 7, 0, 1, 1, 1, 9, 0, 4,
        0, 10, 1, 0
    ],
    "3_bedrooms_avg_lease_rate": [
        2867, None, 2400, None, None, 3200, 1750, 1850, None, 1900,
        4279, 5775, 3850, None, 2750, 2898, 3877, 3425, 3560, 2000, 2600, None, 3143, 2854, 
        None, 1995, 2700, 2000, 2056, None, 2025, None, 2553, 1350, None
    ]
}



import pandas as pd

# Q4 2017 rental data from screenshot, formatted for easy column editing
data_q4 = {
    "Area": [
        "W01", "W02", "W03", "W04", "W05", "W06", "W07", "W08", "W09", "W10",
        "C01", "C02", "C03", "C04", "C06", "C07", "C08", "C09", "C10", "C11",
        "C12", "C13", "C14", "C15", "E01", "E02", "E03", "E04", "E05", "E06",
        "E07", "E08", "E09", "E10", "E11"
    ],

    "Bachelor Leased": [
        0, 0, 0, 0, 2, 2, 0, 0, 0, 0,
        97, 8, 3, 0, 0, 0, 60, 0, 1, 1, 0, 0, 5, 14,
        0, 2, 
        0, 0, 0, 0, 0, 0, 2, 0, 0
       
    ],
    "bachelor_avg_lease_rate": [
        None, None, None, None, 1213, 1675, None, None, None, None, 
        1706, 1806, 1550, None, None, None, 1705, None, 1450, 1495, None, None, 1565, 1512,
        None, 1375, None, None, None, None, None, None, 1425, None, None

    ],
    "1_bedrooms_leased": [
        24, 30, 0, 18, 16, 113, 3, 73, 1, 14, 
        1112, 49, 10, 11, 14, 84, 347, 2, 64, 14, 3, 29, 197, 220,
        22, 8, 6, 8, 9, 3, 20, 4, 62, 1, 2
    ],
    "1_bed_room_avg_lease_rate": [
        1998, 1912, None, 1733, 1660, 1895, 1915, 1821, 1500, 1613,
        2152, 2652, 1988, 1993, 1723, 1994, 2103, 2175, 2106, 1642, 2250, 1806, 1925, 1838,
        2048, 1912, 1463, 1500, 1714, 1608, 1616, 1419, 1677, 950, 1490 
        
    ],

    "2_bedrooms_leased": [
        22, 16, 2, 14, 8, 83, 2, 49, 2, 24, 
        532, 37, 9, 9, 11, 100, 163, 14, 35, 8, 5, 20, 151, 97,
        4, 9, 2, 13, 13, 1, 22, 5, 34, 1, 9 
    ],

    "2_bedrooms_avg_lease_rate": [
        2632, 2471, 2925, 2064, 2081, 2642, 3100, 2252, 2625, 1845,
        3158, 4343, 2864, 2721, 2193, 2568, 3037, 3489, 2743, 2144, 3090, 2276, 2541, 2354,
        2919, 2894, 1988, 1754, 1989, 1850, 1883, 1810, 2036, 1400, 1783
    ],
    "3_bedrooms_leased": [
        0, 0, 1, 2, 3, 2, 0, 1, 2, 0,
        48, 6, 0, 1, 0, 11, 10, 1, 1, 3, 0, 1, 6, 2,
        0, 0, 1, 2, 4, 0, 6, 0, 3, 0, 0
      
    ],
    "3_bedrooms_avg_lease_rate": [
        None, None, 2400, 2125, 2079, 4150, None, 2025, 2098, None, 
        4460, 13925, None, 2250, None, 2895, 3395, 3450, 3000, 2050, None, 2800, 3042, 1975,
        None, None, 2800, 1800, 1838, None, 1818, None, 2383, None, None
    ]
}

for quarter_name, quarter_data in [
    ("Q1", data_q1),
    ("Q2", data_q2),
    ("Q3", data_q3),
    ("Q4", data_q4),
]:
    print(f"{quarter_name}:")
    for name, values in quarter_data.items():
        print(f"{name}: {len(values)}")
        if len(values) != 35:
            print(f"WARNING: {quarter_name} - {name} has {len(values)} values (should be 35)")

Q1:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q2:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q3:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q4:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35

In [14]:
# Create averaged rental dataframe from all quarters
quarters = []
for data in [data_q1, data_q2, data_q3, data_q4]:
    quarters.append(pd.DataFrame(data))

rental_avg = pd.concat(quarters).groupby('Area').mean(numeric_only=True).reset_index()


# Show the result
(rental_avg.head())

,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,C01,143.25,1746.50,1469.75,2071.75,715.25,3017.50,50.0,4293.75
1,C02,10.75,1772.50,102.25,2318.00,60.25,4084.50,3.5,8549.50
2,C03,2.25,1532.75,21.25,1904.75,16.75,2722.25,0.5,3250.00
3,C04,1.50,1479.00,16.25,1863.00,12.25,2843.00,1.0,2271.00
4,C06,0.00,1674.00,13.75,1686.50,13.25,2074.25,0.5,2625.00

In [15]:

df_2017.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,...,THEFTFROMMV_RATE_2017,THEFTOVER_2017,THEFTOVER_RATE_2017,POPULATION_2017,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0,0,0,0,...,182.672241,4.0,34.794712,0,30,537.266667,1321,1.018065,1.017866,11
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,0,0,...,121.876907,5.0,50.782043,0,73,265.602740,911,1.247435,1.246204,14
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,0,0,...,251.288940,5.0,21.662840,0,101,282.693069,790,1.291023,1.290157,13
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0,0,0,0,...,399.768250,5.0,28.968714,0,63,404.031746,1541,2.894569,2.893222,19
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0,0,0,0,...,111.394020,2.0,15.913431,0,9,532.888889,1692,0.085268,0.085265,2

In [16]:
# List of rental columns to update
rental_cols = [
    'Bachelor Leased',
    'bachelor_avg_lease_rate',
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate',
    '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased',
    '3_bedrooms_avg_lease_rate'
]

# Remove any existing 'Toronto ' prefix before adding
rental_avg['Area'] = rental_avg['Area'].str.replace('Toronto ', '', regex=False)
rental_avg['Area'] = 'Toronto ' + rental_avg['Area']
rental_avg_indexed = rental_avg.set_index('Area')

print("df_2017 Areas:", df_2017['Area'].unique())
print("rental_avg Areas:", rental_avg['Area'].unique())

rental_avg.head()

# Update rental columns in df_2017
for col in rental_cols:
    df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])

# Show the result
df_2017.head()

df_2017 Areas: ['Toronto W03' 'Toronto C12' 'Toronto E06' 'Toronto C06' 'Toronto C04'
 'Toronto W05' 'Toronto W01' 'Toronto W04' 'Toronto W06' 'Toronto C10'
 'Toronto W10' 'Toronto C01' 'Toronto W08' 'Toronto C08' 'Toronto E05'
 'Toronto C11' 'Toronto W09' 'Toronto C15' 'Toronto C13' 'Toronto E09'
 'Toronto E03' 'Toronto E02' 'Toronto E08' 'Toronto C07' 'Toronto E10'
 'Toronto E11' 'Toronto E07' 'Toronto W02' 'Toronto C14' 'Toronto C09'
 'Toronto C02' 'Toronto E04' 'Toronto E01' 'Toronto C03' 'Toronto W07']
rental_avg Areas: ['Toronto C01' 'Toronto C02' 'Toronto C03' 'Toronto C04' 'Toronto C06'
 'Toronto C07' 'Toronto C08' 'Toronto C09' 'Toronto C10' 'Toronto C11'
 'Toronto C12' 'Toronto C13' 'Toronto C14' 'Toronto C15' 'Toronto E01'
 'Toronto E02' 'Toronto E03' 'Toronto E04' 'Toronto E05' 'Toronto E06'
 'Toronto E07' 'Toronto E08' 'Toronto E09' 'Toronto E10' 'Toronto E11'
 'Toronto W01' 'Toronto W02' 'Toronto W03' 'Toronto W04' 'Toronto W05'
 'Toronto W06' 'Toronto W07' 'Toronto W08' 'Toronto W09' 'Toronto W10']

/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_84796/284288648.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[  0.     0.     0.     0.     1.5    0.75   0.5    0.5    3.     2.
   0.   143.25   0.25  55.5    0.     3.     0.5    0.25  55.5   55.5
   0.25   0.     0.     0.25  55.5  143.25   9.25   0.5    1.     4.75
   3.     0.     0.     9.25   0.75   4.75   0.5    0.     0.5    0.
   0.     0.     0.     1.5    0.     0.5    3.     0.5    5.25   0.25
   0.     0.   143.25   0.75   0.5   10.75  10.75   1.5    0.5    5.25
   0.     0.     0.     0.75   0.75   0.     0.     0.     0.     1.5
   1.     0.25 143.25  10.75   0.5    0.25   1.5    0.5    4.75   0.
   0.25  55.5    1.5    0.25   0.5    1.   143.25   0.25  55.5    0.5
   1.5    0.25   2.25   0.     0.     0.     0.     0.5    1.5    0.
   0.     5.25   0.     0.     0.     0.     0.75   2.25   0.     0.25
   9.25   1.     0.     0.     0.     9.25   0.     0.   143.25   1.5
  55.5    0.     0.75   0.75   0.     9.25   1.     0.75  55.5    0.75
   1.     3.     0.     0.     0.75   1.5    0.     1.     9.25   0.
   1.5   10.75   1.5    0.    55.5    0.     0.5    0.75  55.5    2.25
   0.25  55.5    4.75   0.     0.     0.     4.75   0.75]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_84796/284288648.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1400.         2108.                   nan 1674.         1479.
 1379.         1432.         1498.         1583.75       1589.33333333
 1571.         1746.5        1548.         1726.         1601.
 1583.75       1498.         1548.         1726.         1726.
 1531.         2108.         1900.         1531.         1726.
 1746.5        1524.25       1498.         1465.         1414.5
 1583.75       1450.         1571.         1524.25       1479.33333333
 1414.5        1432.         1490.         1643.5        1300.
 1450.         1538.         1521.         1577.66666667 1674.
 1498.         1583.75       1432.         1586.5        1869.
 1571.         1400.         1746.5        1379.         1498.
 1772.5        1772.5        1479.         1498.         1586.5
 1538.         1571.         1521.         1379.         1379.
 1448.         1601.         1450.         1601.         1479.
 1465.         1548.         1746.5        1772.5        1432.
 1548.         1577.66666667 1498.         1414.5        1448.
 1548.         1726.         1577.66666667 1548.         1643.5
 1934.5        1746.5        1869.         1726.         1498.
 1577.66666667 1548.         1532.75       1538.         1400.
 1300.         1450.         1643.5        1479.         1700.
 1490.         1586.5        1571.         1490.         1450.
 1900.         1479.33333333 1532.75       1400.         1548.
 1524.25       1934.5                  nan 1450.         1450.
 1524.25       1538.         1900.         1746.5        1479.
 1726.         1448.         1479.33333333 1379.         1448.
 1524.25       1465.         1479.33333333 1726.         1379.
 1465.         1583.75       1400.         1601.         1379.
 1577.66666667 1450.         1934.5        1524.25       1601.
 1479.         1772.5        1577.66666667 1300.         1726.
 1400.         1498.         1379.         1726.         1532.75
 1531.         1726.         1414.5        1448.         1490.
 1521.         1414.5        1379.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_84796/284288648.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[5.00000e-01 7.00000e+00 1.50000e+00 1.37500e+01 1.62500e+01 2.22500e+01
 3.27500e+01 3.67500e+01 1.76250e+02 1.25500e+02 2.27500e+01 1.46975e+03
 7.30000e+01 4.64500e+02 1.30000e+01 1.76250e+02 3.67500e+01 7.30000e+01
 4.64500e+02 4.64500e+02 2.87500e+01 7.00000e+00 5.00000e-01 2.87500e+01
 4.64500e+02 1.46975e+03 2.38000e+02 3.67500e+01 4.20000e+01 7.55000e+01
 1.76250e+02 3.75000e+00 2.27500e+01 2.38000e+02 7.00000e+00 7.55000e+01
 3.27500e+01 4.25000e+00 1.28750e+02 1.00000e+00 3.75000e+00 3.25000e+00
 2.80000e+01 4.95000e+01 1.37500e+01 3.67500e+01 1.76250e+02 3.27500e+01
 7.44500e+02 1.32500e+01 2.27500e+01 5.00000e-01 1.46975e+03 2.22500e+01
 3.67500e+01 1.02250e+02 1.02250e+02 1.62500e+01 3.67500e+01 7.44500e+02
 3.25000e+00 2.27500e+01 2.80000e+01 2.22500e+01 2.22500e+01 8.50000e+00
 1.30000e+01 3.75000e+00 1.30000e+01 1.62500e+01 4.20000e+01 7.30000e+01
 1.46975e+03 1.02250e+02 3.27500e+01 7.30000e+01 4.95000e+01 3.67500e+01
 7.55000e+01 8.50000e+00 7.30000e+01 4.64500e+02 4.95000e+01 7.30000e+01
 1.28750e+02 1.82500e+01 1.46975e+03 1.32500e+01 4.64500e+02 3.67500e+01
 4.95000e+01 7.30000e+01 2.12500e+01 3.25000e+00 5.00000e-01 1.00000e+00
 3.75000e+00 1.28750e+02 1.62500e+01 3.00000e+00 4.25000e+00 7.44500e+02
 2.27500e+01 4.25000e+00 3.75000e+00 5.00000e-01 7.00000e+00 2.12500e+01
 5.00000e-01 7.30000e+01 2.38000e+02 1.82500e+01 1.50000e+00 3.75000e+00
 3.75000e+00 2.38000e+02 3.25000e+00 5.00000e-01 1.46975e+03 1.62500e+01
 4.64500e+02 8.50000e+00 7.00000e+00 2.22500e+01 8.50000e+00 2.38000e+02
 4.20000e+01 7.00000e+00 4.64500e+02 2.22500e+01 4.20000e+01 1.76250e+02
 5.00000e-01 1.30000e+01 2.22500e+01 4.95000e+01 3.75000e+00 1.82500e+01
 2.38000e+02 1.30000e+01 1.62500e+01 1.02250e+02 4.95000e+01 1.00000e+00
 4.64500e+02 5.00000e-01 3.67500e+01 2.22500e+01 4.64500e+02 2.12500e+01
 2.87500e+01 4.64500e+02 7.55000e+01 8.50000e+00 4.25000e+00 2.80000e+01
 7.55000e+01 2.22500e+01]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_84796/284288648.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1475.   2146.25 1586.   1686.5  1863.   1625.75 1916.75 1613.5  1810.
 1969.25 1560.   2071.75 1747.25 2040.75 1609.5  1810.   1613.5  1747.25
 2040.75 2040.75 1592.5  2146.25 1700.   1592.5  2040.75 2071.75 1753.75
 1613.5  1694.   1624.   1810.   1450.   1560.   1753.75 1830.5  1624.
 1916.75 1470.   1885.5  1250.   1450.   1472.75 1570.25 1788.25 1686.5
 1613.5  1810.   1916.75 1819.   2122.   1560.   1475.   2071.75 1625.75
 1613.5  2318.   2318.   1863.   1613.5  1819.   1472.75 1560.   1570.25
 1625.75 1625.75 1494.25 1609.5  1450.   1609.5  1863.   1694.   1747.25
 2071.75 2318.   1916.75 1747.25 1788.25 1613.5  1624.   1494.25 1747.25
 2040.75 1788.25 1747.25 1885.5  2035.25 2071.75 2122.   2040.75 1613.5
 1788.25 1747.25 1904.75 1472.75 1475.   1250.   1450.   1885.5  1863.
 1863.5  1470.   1819.   1560.   1470.   1450.   1700.   1830.5  1904.75
 1475.   1747.25 1753.75 2035.25 1586.   1450.   1450.   1753.75 1472.75
 1700.   2071.75 1863.   2040.75 1494.25 1830.5  1625.75 1494.25 1753.75
 1694.   1830.5  2040.75 1625.75 1694.   1810.   1475.   1609.5  1625.75
 1788.25 1450.   2035.25 1753.75 1609.5  1863.   2318.   1788.25 1250.
 2040.75 1475.   1613.5  1625.75 2040.75 1904.75 1592.5  2040.75 1624.
 1494.25 1470.   1570.25 1624.   1625.75]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_84796/284288648.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[7.5000e-01 8.5000e+00 5.0000e-01 1.3250e+01 1.2250e+01 6.2500e+00
 1.8500e+01 1.8250e+01 1.3125e+02 7.0750e+01 1.5250e+01 7.1525e+02
 5.7500e+01 2.2075e+02 1.5500e+01 1.3125e+02 1.8250e+01 5.7500e+01
 2.2075e+02 2.2075e+02 2.0500e+01 8.5000e+00 4.5000e+00 2.0500e+01
 2.2075e+02 7.1525e+02 1.0125e+02 1.8250e+01 2.7250e+01 5.1500e+01
 1.3125e+02 3.7500e+00 1.5250e+01 1.0125e+02 1.0000e+01 5.1500e+01
 1.8500e+01 4.7500e+00 1.1500e+02 1.7500e+00 3.7500e+00 8.0000e+00
 3.2500e+01 2.4250e+01 1.3250e+01 1.8250e+01 1.3125e+02 1.8500e+01
 2.2225e+02 1.8750e+01 1.5250e+01 7.5000e-01 7.1525e+02 6.2500e+00
 1.8250e+01 6.0250e+01 6.0250e+01 1.2250e+01 1.8250e+01 2.2225e+02
 8.0000e+00 1.5250e+01 3.2500e+01 6.2500e+00 6.2500e+00 1.0250e+01
 1.5500e+01 3.7500e+00 1.5500e+01 1.2250e+01 2.7250e+01 5.7500e+01
 7.1525e+02 6.0250e+01 1.8500e+01 5.7500e+01 2.4250e+01 1.8250e+01
 5.1500e+01 1.0250e+01 5.7500e+01 2.2075e+02 2.4250e+01 5.7500e+01
 1.1500e+02 7.7500e+00 7.1525e+02 1.8750e+01 2.2075e+02 1.8250e+01
 2.4250e+01 5.7500e+01 1.6750e+01 8.0000e+00 7.5000e-01 1.7500e+00
 3.7500e+00 1.1500e+02 1.2250e+01 1.5000e+00 4.7500e+00 2.2225e+02
 1.5250e+01 4.7500e+00 3.7500e+00 4.5000e+00 1.0000e+01 1.6750e+01
 7.5000e-01 5.7500e+01 1.0125e+02 7.7500e+00 5.0000e-01 3.7500e+00
 3.7500e+00 1.0125e+02 8.0000e+00 4.5000e+00 7.1525e+02 1.2250e+01
 2.2075e+02 1.0250e+01 1.0000e+01 6.2500e+00 1.0250e+01 1.0125e+02
 2.7250e+01 1.0000e+01 2.2075e+02 6.2500e+00 2.7250e+01 1.3125e+02
 7.5000e-01 1.5500e+01 6.2500e+00 2.4250e+01 3.7500e+00 7.7500e+00
 1.0125e+02 1.5500e+01 1.2250e+01 6.0250e+01 2.4250e+01 1.7500e+00
 2.2075e+02 7.5000e-01 1.8250e+01 6.2500e+00 2.2075e+02 1.6750e+01
 2.0500e+01 2.2075e+02 5.1500e+01 1.0250e+01 4.7500e+00 3.2500e+01
 5.1500e+01 6.2500e+00]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_84796/284288648.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[2722.5        3010.75       1875.         2074.25       2843.
 1893.5        2637.75       1975.25       2529.25       2722.5
 1792.25       3017.5        2175.25       2866.5        1959.
 2529.25       1975.25       2175.25       2866.5        2866.5
 2095.25       3010.75       2167.5        2095.25       2866.5
 3017.5        2342.5        1975.25       2146.5        2007.25
 2529.25       2001.         1792.25       2342.5        2752.25
 2007.25       2637.75       1748.5        2445.5        1445.66666667
 2001.         1697.         1824.         2430.5        2074.25
 1975.25       2529.25       2637.75       2421.75       3173.75
 1792.25       2722.5        3017.5        1893.5        1975.25
 4084.5        4084.5        2843.         1975.25       2421.75
 1697.         1792.25       1824.         1893.5        1893.5
 1734.25       1959.         2001.         1959.         2843.
 2146.5        2175.25       3017.5        4084.5        2637.75
 2175.25       2430.5        1975.25       2007.25       1734.25
 2175.25       2866.5        2430.5        2175.25       2445.5
 2758.5        3017.5        3173.75       2866.5        1975.25
 2430.5        2175.25       2722.25       1697.         2722.5
 1445.66666667 2001.         2445.5        2843.         2587.66666667
 1748.5        2421.75       1792.25       1748.5        2001.
 2167.5        2752.25       2722.25       2722.5        2175.25
 2342.5        2758.5        1875.         2001.         2001.
 2342.5        1697.         2167.5        3017.5        2843.
 2866.5        1734.25       2752.25       1893.5        1734.25
 2342.5        2146.5        2752.25       2866.5        1893.5
 2146.5        2529.25       2722.5        1959.         1893.5
 2430.5        2001.         2758.5        2342.5        1959.
 2843.         4084.5        2430.5        1445.66666667 2866.5
 2722.5        1975.25       1893.5        2866.5        2722.25
 2095.25       2866.5        2007.25       1734.25       1748.5
 1824.         2007.25       1893.5       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_84796/284288648.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 0.5   0.5   0.    0.5   1.    1.25  1.25  1.75  2.75  1.25  0.5  50.
  1.75  5.75  4.75  2.75  1.75  1.75  5.75  5.75  2.25  0.5   0.5   2.25
  5.75 50.    4.75  1.75  1.25  6.    2.75  0.5   0.5   4.75  0.25  6.
  1.25  0.   14.25  0.25  0.5   0.25  3.5   0.5   0.5   1.75  2.75  1.25
  9.    2.    0.5   0.5  50.    1.25  1.75  3.5   3.5   1.    1.75  9.
  0.25  0.5   3.5   1.25  1.25  1.    4.75  0.5   4.75  1.    1.25  1.75
 50.    3.5   1.25  1.75  0.5   1.75  6.    1.    1.75  5.75  0.5   1.75
 14.25  0.   50.    2.    5.75  1.75  0.5   1.75  0.5   0.25  0.5   0.25
  0.5  14.25  1.    0.25  0.    9.    0.5   0.    0.5   0.5   0.25  0.5
  0.5   1.75  4.75  0.    0.    0.5   0.5   4.75  0.25  0.5  50.    1.
  5.75  1.    0.25  1.25  1.    4.75  1.25  0.25  5.75  1.25  1.25  2.75
  0.5   4.75  1.25  0.5   0.5   0.    4.75  4.75  1.    3.5   0.5   0.25
  5.75  0.5   1.75  1.25  5.75  0.5   2.25  5.75  6.    1.    0.    3.5
  6.    1.25]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_84796/284288648.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[2400.         2750.                   nan 2625.         2271.
 1809.66666667 2672.33333333 2358.33333333 3293.75       3409.
 1237.5        4293.75       2070.75       4091.25       2014.75
 3293.75       2358.33333333 2070.75       4091.25       4091.25
 1943.25       2750.         2098.         1943.25       4091.25
 4293.75       2490.5        2358.33333333 2633.33333333 2263.75
 3293.75       2750.         1237.5        2490.5        1995.
 2263.75       2672.33333333           nan 2748.         1350.
 2750.         1750.         1898.25       2925.         2625.
 2358.33333333 3293.75       2672.33333333 3178.5        4204.25
 1237.5        2400.         4293.75       1809.66666667 2358.33333333
 8549.5        8549.5        2271.         2358.33333333 3178.5
 1750.         1237.5        1898.25       1809.66666667 1809.66666667
 1833.33333333 2014.75       2750.         2014.75       2271.
 2633.33333333 2070.75       4293.75       8549.5        2672.33333333
 2070.75       2925.         2358.33333333 2263.75       1833.33333333
 2070.75       4091.25       2925.         2070.75       2748.
           nan 4293.75       4204.25       4091.25       2358.33333333
 2925.         2070.75       3250.         1750.         2400.
 1350.         2750.         2748.         2271.         1750.
           nan 3178.5        1237.5                  nan 2750.
 2098.         1995.         3250.         2400.         2070.75
 2490.5                  nan           nan 2750.         2750.
 2490.5        1750.         2098.         4293.75       2271.
 4091.25       1833.33333333 1995.         1809.66666667 1833.33333333
 2490.5        2633.33333333 1995.         4091.25       1809.66666667
 2633.33333333 3293.75       2400.         2014.75       1809.66666667
 2925.         2750.                   nan 2490.5        2014.75
 2271.         8549.5        2925.         1350.         4091.25
 2400.         2358.33333333 1809.66666667 4091.25       3250.
 1943.25       4091.25       2263.75       1833.33333333           nan
 1898.25       2263.75       1809.66666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2017.loc[df_2017[col] == 0, col] = df_2017['Area'].map(rental_avg_indexed[col])

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,...,THEFTFROMMV_RATE_2017,THEFTOVER_2017,THEFTOVER_RATE_2017,POPULATION_2017,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0.0,1400.0,0.50,1475.00,...,182.672241,4.0,34.794712,0,30,537.266667,1321,1.018065,1.017866,11
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0.0,2108.0,7.00,2146.25,...,121.876907,5.0,50.782043,0,73,265.602740,911,1.247435,1.246204,14
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0.0,NaN,1.50,1586.00,...,251.288940,5.0,21.662840,0,101,282.693069,790,1.291023,1.290157,13
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0.0,1674.0,13.75,1686.50,...,399.768250,5.0,28.968714,0,63,404.031746,1541,2.894569,2.893222,19
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,1.5,1479.0,16.25,1863.00,...,111.394020,2.0,15.913431,0,9,532.888889,1692,0.085268,0.085265,2