In [1]:
# this notebook drops the columns in the joined 23 dataset to meet the expected formats.
import numpy as np
import pandas as pd
import os

In [2]:
df = pd.read_csv('../sets/archive/2023_dataset.csv')
df.head()

,_id,AREA_ID,AREA_ATTR_ID,PARENT_AREA_ID,AREA_SHORT_CODE,AREA_LONG_CODE,AREA_NAME,AREA_DESC,CLASSIFICATION,CLASSIFICATION_CODE,...,THEFTOVER_2023,THEFTOVER_RATE_2023,geometry_wkt_1,geometry_type_1,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,117,2502250,26022765,NaN,36,36,Newtonbrook West,Newtonbrook West (36),Not an NIA or Emerging Neighbourhood,NaN,...,14.0,52.930058,MULTIPOLYGON (((-79.4426861332222 43.773899173...,MultiPolygon,82,354.621951,1344,1.097645,1.097069,12
1,145,2502222,26022737,NaN,10,10,Princess-Rosethorn,Princess-Rosethorn (10),Not an NIA or Emerging Neighbourhood,NaN,...,5.0,39.556961,MULTIPOLYGON (((-79.5301308909249 43.659987242...,MultiPolygon,60,270.733333,547,0.865243,0.864744,8
2,20,2502347,26022862,NaN,143,143,West Rouge,West Rouge (143),Not an NIA or Emerging Neighbourhood,NaN,...,4.0,17.006079,MULTIPOLYGON (((-79.1456899354818 43.810029068...,MultiPolygon,59,325.305085,872,1.413494,1.412138,12
3,100,2502267,26022782,NaN,88,88,High Park North,High Park North (88),Not an NIA or Emerging Neighbourhood,NaN,...,4.0,16.553551,MULTIPOLYGON (((-79.4534456695035 43.660515810...,MultiPolygon,53,443.207547,1080,2.289832,2.289351,23
4,32,2502335,26022850,NaN,128,128,Agincourt South-Malvern West,Agincourt South-Malvern West (128),Not an NIA or Emerging Neighbourhood,NaN,...,11.0,38.383698,MULTIPOLYGON (((-79.2837809588099 43.797842000...,MultiPolygon,119,348.319328,1117,1.972779,1.971043,19

In [3]:
print(df.columns)

Index(['_id', 'AREA_ID', 'AREA_ATTR_ID', 'PARENT_AREA_ID', 'AREA_SHORT_CODE',
       'AREA_LONG_CODE', 'AREA_NAME', 'AREA_DESC', 'CLASSIFICATION',
       'CLASSIFICATION_CODE', 'OBJECTID', 'geometry_wkt', 'geometry_type',
       'Region_classif', 'Area', 'bachelor_leased_q4',
       'bachelor_avg_lease_rate_q4', '1_bedroom_leased_q4',
       '1_bedroom_avg_lease_rate_q4', '2_bedrooms_leased_q4',
       '2_bedrooms_avg_lease_rate_q4', '3_bedrooms_leased_q4',
       '3_bedrooms_avg_lease_rate_q4', 'bachelor_leased_q3',
       'bachelor_avg_lease_rate_q3', '1_bedroom_leased_q3',
       '1_bedroom_avg_lease_rate_q3', '2_bedrooms_leased_q3',
       '2_bedrooms_avg_lease_rate_q3', '3_bedrooms_leased_q3',
       '3_bedrooms_avg_lease_rate_q3', 'bachelor_leased_q2',
       'bachelor_avg_lease_rate_q2', '1_bedroom_leased_q2',
       '1_bedroom_avg_lease_rate_q2', '2_bedrooms_leased_q2',
       '2_bedrooms_avg_lease_rate_q2', '3_bedrooms_leased_q2',
       '3_bedrooms_avg_lease_rate_q2', 'bachelor_leased_q1',
       'bachelor_avg_lease_rate_q1', '1_bedroom_leased_q1',
       '1_bedroom_avg_lease_rate_q1', '2_bedrooms_leased_q1',
       '2_bedrooms_avg_lease_rate_q1', '3_bedrooms_leased_q1',
       '3_bedrooms_avg_lease_rate_q1', 'area_sq_meters', 'perimeter_meters',
       'park_count', 'AREA_NAME_1', 'ASSAULT_2023', 'ASSAULT_RATE_2023',
       'AUTOTHEFT_2023', 'AUTOTHEFT_RATE_2023', 'BIKETHEFT_2023',
       'BIKETHEFT_RATE_2023', 'BREAKENTER_2023', 'BREAKENTER_RATE_2023',
       'HOMICIDE_2023', 'HOMICIDE_RATE_2023', 'ROBBERY_2023',
       'ROBBERY_RATE_2023', 'SHOOTING_2023', 'SHOOTING_RATE_2023',
       'THEFTFROMMV_2023', 'THEFTFROMMV_RATE_2023', 'THEFTOVER_2023',
       'THEFTOVER_RATE_2023', 'geometry_wkt_1', 'geometry_type_1',
       'total_stop_count', 'avg_stop_frequency', 'max_stop_frequency',
       'total_line_length_meters', 'transit_line_density',
       'distinct_route_count'],
      dtype='object')

In [4]:
print(df['CLASSIFICATION'].head()) # keep this for OHE

0    Not an NIA or Emerging Neighbourhood
1    Not an NIA or Emerging Neighbourhood
2    Not an NIA or Emerging Neighbourhood
3    Not an NIA or Emerging Neighbourhood
4    Not an NIA or Emerging Neighbourhood
Name: CLASSIFICATION, dtype: object

In [5]:
drop_cols = ['AREA_ID', '_id', 'PARENT_AREA_ID', 'AREA_ATTR_ID', 'OBJECTID', 'AREA_LONG_CODE', 
             'AREA_SHORT_CODE', 'AREA_DESC', 'AREA_NAME', 'AREA_NAME_1', 'geometry_type', 'geometry_wkt', 'geometry_wkt_1', 'geometry_type_1', 'Region_classif']

In [6]:
# cols kept: all quarterly target variables, all crime stats and their rates, transit geospatial data 
# cols dropped: 

df = df.drop(columns=drop_cols)
print(df.columns)

Index(['CLASSIFICATION', 'CLASSIFICATION_CODE', 'Area', 'bachelor_leased_q4',
       'bachelor_avg_lease_rate_q4', '1_bedroom_leased_q4',
       '1_bedroom_avg_lease_rate_q4', '2_bedrooms_leased_q4',
       '2_bedrooms_avg_lease_rate_q4', '3_bedrooms_leased_q4',
       '3_bedrooms_avg_lease_rate_q4', 'bachelor_leased_q3',
       'bachelor_avg_lease_rate_q3', '1_bedroom_leased_q3',
       '1_bedroom_avg_lease_rate_q3', '2_bedrooms_leased_q3',
       '2_bedrooms_avg_lease_rate_q3', '3_bedrooms_leased_q3',
       '3_bedrooms_avg_lease_rate_q3', 'bachelor_leased_q2',
       'bachelor_avg_lease_rate_q2', '1_bedroom_leased_q2',
       '1_bedroom_avg_lease_rate_q2', '2_bedrooms_leased_q2',
       '2_bedrooms_avg_lease_rate_q2', '3_bedrooms_leased_q2',
       '3_bedrooms_avg_lease_rate_q2', 'bachelor_leased_q1',
       'bachelor_avg_lease_rate_q1', '1_bedroom_leased_q1',
       '1_bedroom_avg_lease_rate_q1', '2_bedrooms_leased_q1',
       '2_bedrooms_avg_lease_rate_q1', '3_bedrooms_leased_q1',
       '3_bedrooms_avg_lease_rate_q1', 'area_sq_meters', 'perimeter_meters',
       'park_count', 'ASSAULT_2023', 'ASSAULT_RATE_2023', 'AUTOTHEFT_2023',
       'AUTOTHEFT_RATE_2023', 'BIKETHEFT_2023', 'BIKETHEFT_RATE_2023',
       'BREAKENTER_2023', 'BREAKENTER_RATE_2023', 'HOMICIDE_2023',
       'HOMICIDE_RATE_2023', 'ROBBERY_2023', 'ROBBERY_RATE_2023',
       'SHOOTING_2023', 'SHOOTING_RATE_2023', 'THEFTFROMMV_2023',
       'THEFTFROMMV_RATE_2023', 'THEFTOVER_2023', 'THEFTOVER_RATE_2023',
       'total_stop_count', 'avg_stop_frequency', 'max_stop_frequency',
       'total_line_length_meters', 'transit_line_density',
       'distinct_route_count'],
      dtype='object')

In [7]:
print(df['Area'].head())

0    Toronto C07
1    Toronto W08
2    Toronto E11
3    Toronto W02
4    Toronto E07
Name: Area, dtype: object

In [8]:
# export as csv 
df.to_csv('2023d_dataset.csv') # for dropped dataset columns