In [1]:
import pandas as pd

df_og = pd.read_csv('../data/tor_neighborhood_condorental.csv') 
df_2024 = pd.read_csv('../sets/2024_dataframe.csv') 
df_2011= df_2024.copy()

In [2]:
static_cols = [
   ' AREA_NAME'
'CLASSIFICATION'
'CLASSIFICATION_CODE'
'geometry_wkt'
'geometry_type'
'Area'
'area_sq_meters'
'perimeter_meters'
'park_count'
'total_stop_count'
'avg_stop_frequency'
'max_stop_frequency'
'total_line_length_meters'
'transit_line_density'
'distinct_route_count'
]

In [3]:

static_cols = [
    'AREA_NAME',
    'CLASSIFICATION',
    'CLASSIFICATION_CODE',
    'geometry_wkt',
    'geometry_type',
    'Area',
    'area_sq_meters',
    'perimeter_meters',
    'park_count',
    'total_stop_count',
    'avg_stop_frequency',
    'max_stop_frequency',
    'total_line_length_meters',
    'transit_line_density',
    'distinct_route_count',
]


df_2011= df_2024.copy()

# ensure static columns exist; if missing, create with NA (manual lease cols NOT added here)
for col in static_cols:
    if col not in df_2011.columns:
        df_2011[col] = pd.NA

# reorder to place static cols first
ordered = [c for c in static_cols if c in df_2011.columns]
others = [c for c in df_2011.columns if c not in ordered]
df_2011= df_2011[ordered + others]

# save dataframe for later manual edits
df_2011.to_csv('../sets/2011_dataframe.csv', index=False)

In [4]:
static_cols = [
    'AREA_NAME',
    'CLASSIFICATION',
    'CLASSIFICATION_CODE',
    'geometry_wkt',
    'geometry_type',
    'Area',
    'area_sq_meters',
    'perimeter_meters',
    'park_count',
    'total_stop_count',
    'avg_stop_frequency',
    'max_stop_frequency',
    'total_line_length_meters',
    'transit_line_density',
    'distinct_route_count',
]

# build df_2011from df_2024:
# - keep static cols (fill with NA if missing)
# - convert all *_2024 columns into *_2011columns filled with 0
df_2011= pd.DataFrame(index=df_2024.index)

# populate static columns (preserve values if present in df_2024)
for col in static_cols:
    if col in df_2024.columns:
        df_2011[col] = df_2024[col]
    else:
        df_2011[col] = pd.NA

# convert any 2024 columns into 2011 equivalents set to 0
for col in df_2024.columns:
    if col.endswith('_2024'):
        new_col = col.replace('_2024', '_2011')
        # avoid overwriting static cols
        if new_col in df_2011.columns:
            continue
        df_2011[new_col] = 0



df_2011.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,area_sq_meters,perimeter_meters,park_count,total_stop_count,...,HOMICIDE_RATE_2011,ROBBERY_2011,ROBBERY_RATE_2011,SHOOTING_2011,SHOOTING_RATE_2011,THEFTFROMMV_2011,THEFTFROMMV_RATE_2011,THEFTOVER_2011,THEFTOVER_RATE_2011,POPULATION_2011
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0.000196,0.064099,6,30,...,0,0,0,0,0,0,0,0,0,0
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0.000988,0.169672,15,73,...,0,0,0,0,0,0,0,0,0,0
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0.000671,0.150559,20,101,...,0,0,0,0,0,0,0,0,0,0
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0.000466,0.110260,11,63,...,0,0,0,0,0,0,0,0,0,0
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0.000045,0.027277,3,9,...,0,0,0,0,0,0,0,0,0,0

In [5]:
len(df_2011.columns)

32

In [7]:
manual_lease_cols = [
    'Area'
    'Bachelor Leased',
    'bachelor_avg_lease_rate',
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate',
    '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased',
    '3_bedrooms_avg_lease_rate',
]

for c in manual_lease_cols:
    df_2011[c] = 0

In [8]:
df_2011.head()

desired_order = [
    'AREA_NAME','CLASSIFICATION','CLASSIFICATION_CODE','geometry_wkt',
    'geometry_type','Area',
    'Bachelor Leased','bachelor_avg_lease_rate','1_bedrooms_leased',
    '1_bed_room_avg_lease_rate','2_bedrooms_leased','2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased','3_bedrooms_avg_lease_rate',
    'area_sq_meters','perimeter_meters','park_count',
    'ASSAULT_2010','ASSAULT_RATE_2010','AUTOTHEFT_2010','AUTOTHEFT_RATE_2010',
    'BIKETHEFT_RATE_2010','BREAKENTER_2010','BIKETHEFT_RATE_2010_1',
    'HOMICIDE_2010','HOMICIDE_RATE_2010','ROBBERY_2010','ROBBERY_RATE_2010',
    'SHOOTING_2010','SHOOTING_RATE_2010','THEFTFROMMV_2010','THEFTFROMMV_RATE_2010',
    'THEFTOVER_2010','THEFTOVER_RATE_2010','POPULATION_2010',
    'total_stop_count','avg_stop_frequency','max_stop_frequency',
    'total_line_length_meters','transit_line_density','distinct_route_count'
]

# build final column order using only columns that exist in df_2010, append any remaining columns afterward
ordered = [c for c in desired_order if c in df_2011.columns]
others = [c for c in df_2011.columns if c not in ordered]
df_2011= df_2011[ordered + others]

df_2011.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,...,ROBBERY_2011,ROBBERY_RATE_2011,SHOOTING_2011,SHOOTING_RATE_2011,THEFTFROMMV_2011,THEFTFROMMV_RATE_2011,THEFTOVER_2011,THEFTOVER_RATE_2011,POPULATION_2011,AreaBachelor Leased
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df_2024.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,...,THEFTFROMMV_RATE_2024,THEFTOVER_2024,THEFTOVER_RATE_2024,POPULATION_2024,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,1,1675,12,2120,...,429.706512,4,32.430679,12334,30,537.266667,1321,1.018065,1.017866,11
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,5,2770,...,140.067566,8,65.914146,12137,73,265.602740,911,1.247435,1.246204,14
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,15,2165,...,137.211853,6,23.522032,25508,101,282.693069,790,1.291023,1.290157,13
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,2,1800,49,2127,...,219.392380,16,76.310394,20967,63,404.031746,1541,2.894569,2.893222,19
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,2,1795,30,2256,...,55.201485,6,30.109901,19927,9,532.888889,1692,0.085268,0.085265,2

In [25]:
data_q1 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        2, None, None, None, None, None, None, 1, None, None,
        68, 6, None, None, None, None, 21, None, None, None, 1, None, 7, 3,
        None, None, None, None, None, None, None, None, 1, None, None
    ],
    "bachelor_avg_lease_rate": [
        1113, None, None, None, None, None, None, 1100, None, None,
        1246, 1242, None, None, None, None, 1242, None, None, None, 825, None, 1157, 1300,
        None, None, None, None, None, None, None, None, 900, None, None
    ],
    "1_bedrooms_leased": [
        16, 3, None, 3, 6, 67, 17, 10, None, 11,
        1031, 48, 3, 5, 10, 102, 199, 14, 68, 6, 1, 16, 256, 87,
        8, 3, 4, 3, 6, None, 9, 3, 63, 2, 15
    ],
    "1_bed_room_avg_lease_rate": [
        1328, 1098, None, 1075, 1263, 1453, 1440, 1407, None, 1177,
        1574, 2028, 1882, 1310, 1352, 1388, 1613, 1663, 1642, 1158, 1600, 1298, 1402, 1423,
        1525, 1900, 1250, 1258, 1328, None, 1222, 1275, 1262, 1125, 1143
    ],
    "2_bedrooms_leased": [
        18, 5, 1, 1, 9, 56, 9, 15, 7, 23,
        556, 52, 8, 8, 9, 75, 138, 13, 39, 1, 9, 37, 180, 41,
        None, 4, 6, 10, 15, None, 11, 5, 48, 2, 19
    ],
    "2_bedrooms_avg_lease_rate": [
        1996, 1880, 1450, 1400, 1421, 2005, 1806, 1829, 1359, 1352,
        2224, 3902, 2347, 2323, 1586, 1764, 2151, 2452, 2537, 1350, 2611, 1730, 1803, 2106,
        None, 2060, 1621, 1323, 1570, None, 1402, 1230, 1484, 1188, 1319
    ],
    "3_bedrooms_leased": [
        None, 1, 1, None, None, 2, 1, 2, 1, 2,
        15, 2, 9, 1, 2, 8, 2, 1, 2, None, None, 1, 11, 2,
        None, None, 3, 1, 4, None, None, None, 6, None, 1
    ],
    "3_bedrooms_avg_lease_rate": [
        None, 2200, 1600, None, None, 4298, 1500, 1625, 1600, 1388,
        3343, 5075, 3036, 1750, 1600, 2350, 5100, 4800, 3850, None, None, 1625, 2494, 2240, None, None,
        1358, 1750, 1688, None, None, None, 1873, None, 1600
    ]
}


data_q2 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        4,0,0,0,0,1,2,0,1,0,
        101,9,1,2,0,0,32,2,0,
        0,0,1,9,8,1,0,0,0,
        0,0,0,1,1,0,0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,915,1238,None,1250,None,
        None,1262,1334,800,1075,None,None,1294,1248,None,
        None,None,1100,1195,1236,1900,None,None,None,
        None,None,None,800,900, None, None
    ],
    "1_bedrooms_leased": [
        47,9,1,5,11,80,2,50,0,
        14,1411,82,3,10,1,112,284,28,67,
        2,11,24,432,168,2,4,2,8,
        10,1,42,3,100, 0, 12
    ],
    "1_bed_room_avg_lease_rate": [
        1555,1361,1150,1209,1331,1561,1650,1414,None,
        1201,1642,1976,1375,1508,1200,1402,1621,1823,1706,
        1215,1805,1303,1445,1438,1470,1544,1670,1196,
        1295,1500,1220,1058,1265, None, 1183
    ],
    "2_bedrooms_leased": [
        51,5,1,4,9,91,5,56,12,
        21,748,48,5,13,7,111,179,20,39,
        9,16,57,357,68,1,11,7,14,
        30,0,38,6,76, 2, 10
    ],
    "2_bedrooms_avg_lease_rate": [
        2071,1623,1550,1244,1425,2336,2430,1804,1631,
        1380,2443,3285,2220,2665,1604,1816,2279,2472,2549,
        1411,2670,1683,1942,1964,2200,2220,1911,1319,
        1651,None,1441,1386,1530, 993, 1390
    ],
    "3_bedrooms_leased": [
        4,0,1,0,0,6,0,2,0,
        1,16,6,2,3,0,13,2,1,1,
        0,2,3,19,4,0,1,0,1,
        4,0,2,1,9, 0, 2
    ],
    "3_bedrooms_avg_lease_rate": [
        1988,None,1600,None,None,4500,None,1800,None,
        1375,3543,4625,2888,2183,None,2219,2890,4700,3800,
        None,3550,1917,2534,2050,None,2300,None,1250,
        2010,None,1600,1500,1827, None, 1450
    ]
}

data_q3 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,1,3,0,0,0,
        0,61,1,0,0,0,0,18,0,1,
        0,0,0,10,5,4,0,0,0,
        0,0,0,0,0, 0, 0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,950,1150,None,None,None,
        None,1318,1200,None,None,None,None,1306,None,1000,
        None,None,None,1232,1302,1313,None,None,None,
        None,None,None,None,None, None, None
    ],
    "1_bedrooms_leased": [
        21,5,1,7,8,67,1,32,2,
        12,923,52,5,10,6,99,167,10,35,
        1,6,16,260,110,12,2,1,5,
        11,0,55,4,64, 0, 6
    ],
    "1_bed_room_avg_lease_rate": [
        1571,1570,1025,1063,1293,1564,2300,1425,975,
        1247,1695,2163,1670,1738,1267,1467,1693,1818,1710,
        1150,1900,1345,1479,1494,1774,1575,1300,1200,
        1320,None,1232,1043,1283, None, 1100
    ],
    "2_bedrooms_leased": [
        25,7,1,8,12,57,4,39,6,
        13,437,37,10,10,8,74,106,16,22,
        4,4,24,218,69,2,4,3,13,
        24,0,70,9,54, 1, 7
    ],
    "2_bedrooms_avg_lease_rate": [
        2068,1989,1425,1413,1442,2152,2738,1882,1575,
        1367,2557,4271,2500,3333,1535,1857,2371,2994,2447,
        1533,3013,1720,1979,1958,2299,2813,1567,1361,
        1671,None,1431,1413,1529, 1300, 1363
    ],
    "3_bedrooms_leased": [
        1,0,1,2,3,1,0,2,0,
        2,16,2,0,1,0,15,2,0,0,
        1,0,5,13,3,1,0,0,4,
        7,0,16,1,3, 0, 0
    ],
    "3_bedrooms_avg_lease_rate": [
        2500,None,1600,1525,1525,3200,None,2698,None,
        1588,4223,4300,None,2000,None,2243,2200,None,None,
        1250,None,2080,2573,1600,2100,None,None,1290,
        1524,None,1636,1400,1830, None, None
    ]
}

# duplicated q3 values for q4 for now since q4 didn't exist for 2011 and 2010 data
data_q4 = {
    "Area": [
        "W01","W02","W03","W04","W05","W06","W07","W08","W09","W10",
        "C01","C02","C03","C04","C06","C07","C08","C09","C10","C11",
        "C12","C13","C14","C15","E01","E02","E03","E04","E05","E06",
        "E07","E08","E09","E10","E11"
    ],
    "Bachelor Leased": [
        0,0,0,0,1,3,0,0,0,
        0,61,1,0,0,0,0,18,0,1,
        0,0,0,10,5,4,0,0,0,
        0,0,0,0,0, 0, 0
    ],
    "bachelor_avg_lease_rate": [
        None,None,None,None,950,1150,None,None,None,
        None,1318,1200,None,None,None,None,1306,None,1000,
        None,None,None,1232,1302,1313,None,None,None,
        None,None,None,None,None, None, None
    ],
    "1_bedrooms_leased": [
        21,5,1,7,8,67,1,32,2,
        12,923,52,5,10,6,99,167,10,35,
        1,6,16,260,110,12,2,1,5,
        11,0,55,4,64, 0, 6
    ],
    "1_bed_room_avg_lease_rate": [
        1571,1570,1025,1063,1293,1564,2300,1425,975,
        1247,1695,2163,1670,1738,1267,1467,1693,1818,1710,
        1150,1900,1345,1479,1494,1774,1575,1300,1200,
        1320,None,1232,1043,1283, None, 1100
    ],
    "2_bedrooms_leased": [
        25,7,1,8,12,57,4,39,6,
        13,437,37,10,10,8,74,106,16,22,
        4,4,24,218,69,2,4,3,13,
        24,0,70,9,54, 1, 7
    ],
    "2_bedrooms_avg_lease_rate": [
        2068,1989,1425,1413,1442,2152,2738,1882,1575,
        1367,2557,4271,2500,3333,1535,1857,2371,2994,2447,
        1533,3013,1720,1979,1958,2299,2813,1567,1361,
        1671,None,1431,1413,1529, 1300, 1363
    ],
    "3_bedrooms_leased": [
        1,0,1,2,3,1,0,2,0,
        2,16,2,0,1,0,15,2,0,0,
        1,0,5,13,3,1,0,0,4,
        7,0,16,1,3, 0, 0
    ],
    "3_bedrooms_avg_lease_rate": [
        2500,None,1600,1525,1525,3200,None,2698,None,
        1588,4223,4300,None,2000,None,2243,2200,None,None,
        1250,None,2080,2573,1600,2100,None,None,1290,
        1524,None,1636,1400,1830, None, None
    ]
}


for quarter_name, quarter_data in [
    ("Q1", data_q1),
    ("Q2", data_q2),
    ("Q3", data_q3),
    ("Q4", data_q4)
    
    
]:
    print(f"{quarter_name}:")
    for name, values in quarter_data.items():
        print(f"{name}: {len(values)}")
        if len(values) != 35:
            print(f"WARNING: {quarter_name} - {name} has {len(values)} values (should be 35)")

Q1:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q2:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q3:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35
Q4:
Area: 35
Bachelor Leased: 35
bachelor_avg_lease_rate: 35
1_bedrooms_leased: 35
1_bed_room_avg_lease_rate: 35
2_bedrooms_leased: 35
2_bedrooms_avg_lease_rate: 35
3_bedrooms_leased: 35
3_bedrooms_avg_lease_rate: 35

In [26]:
# Create averaged rental dataframe from all quarters
quarters = []
for data in [data_q1, data_q2, data_q3, data_q4]:
    quarters.append(pd.DataFrame(data))

rental_avg = pd.concat(quarters).groupby('Area').mean(numeric_only=True).reset_index()


# Show the result
(rental_avg.head())

,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,C01,72.750000,1286.0,1072.00,1651.50,544.50,2445.25,15.75,3833.00
1,C02,4.250000,1244.0,58.50,2082.50,43.50,3932.25,3.00,4575.00
2,C03,0.333333,800.0,4.00,1649.25,8.25,2391.75,2.75,2962.00
3,C04,0.666667,1075.0,8.75,1573.50,10.25,2913.50,1.50,1983.25
4,C06,0.000000,NaN,5.75,1271.50,8.00,1565.00,0.50,1600.00

In [28]:
df_2011.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,...,ROBBERY_2011,ROBBERY_RATE_2011,SHOOTING_2011,SHOOTING_RATE_2011,THEFTFROMMV_2011,THEFTFROMMV_RATE_2011,THEFTOVER_2011,THEFTOVER_RATE_2011,POPULATION_2011,AreaBachelor Leased
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# First, let's fix the manual_lease_cols creation and properly add the columns
manual_lease_cols = [
    'Bachelor Leased',
    'bachelor_avg_lease_rate',
    '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate',
    '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased',
    '3_bedrooms_avg_lease_rate'
]

# Add these columns to df_2011 if they don't exist
for col in manual_lease_cols:
    if col not in df_2011.columns:
        df_2011[col] = 0

# Now update the rental columns using the averaged data
rental_cols = manual_lease_cols  # Use the same list

# Remove any existing 'Toronto ' prefix before adding
rental_avg['Area'] = rental_avg['Area'].str.replace('Toronto ', '', regex=False)
rental_avg['Area'] = 'Toronto ' + rental_avg['Area']
rental_avg_indexed = rental_avg.set_index('Area')

print("df_2011 Areas:", df_2011['Area'].unique())
print("rental_avg Areas:", rental_avg['Area'].unique())

# Update rental columns in df_2011 - only for columns that exist
for col in rental_cols:
    if col in df_2011.columns and col in rental_avg_indexed.columns:
        # Count zeros before update
        zero_count = (df_2011[col] == 0).sum()
        print(f"Updating {col}: replacing {zero_count} zeros")
        
        # Perform the update
        df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])
    else:
        print(f"Skipping {col}: not found in both dataframes")

# FINALLY - Save the corrected dataframe to CSV
df_2011.to_csv('../sets/2011_dataframe.csv', index=False)
print("✓ Final 2011 dataset saved to '../sets/2011_dataframe.csv'")
print(f"Final shape: {df_2011.shape}")

# Show the result
df_2011.head()

df_2011 Areas: ['Toronto W03' 'Toronto C12' 'Toronto E06' 'Toronto C06' 'Toronto C04'
 'Toronto W05' 'Toronto W01' 'Toronto W04' 'Toronto W06' 'Toronto C10'
 'Toronto W10' 'Toronto C01' 'Toronto W08' 'Toronto C08' 'Toronto E05'
 'Toronto C11' 'Toronto W09' 'Toronto C15' 'Toronto C13' 'Toronto E09'
 'Toronto E03' 'Toronto E02' 'Toronto E08' 'Toronto C07' 'Toronto E10'
 'Toronto E11' 'Toronto E07' 'Toronto W02' 'Toronto C14' 'Toronto C09'
 'Toronto C02' 'Toronto E04' 'Toronto E01' 'Toronto C03' 'Toronto W07']
rental_avg Areas: ['Toronto C01' 'Toronto C02' 'Toronto C03' 'Toronto C04' 'Toronto C06'
 'Toronto C07' 'Toronto C08' 'Toronto C09' 'Toronto C10' 'Toronto C11'
 'Toronto C12' 'Toronto C13' 'Toronto C14' 'Toronto C15' 'Toronto E01'
 'Toronto E02' 'Toronto E03' 'Toronto E04' 'Toronto E05' 'Toronto E06'
 'Toronto E07' 'Toronto E08' 'Toronto E09' 'Toronto E10' 'Toronto E11'
 'Toronto W01' 'Toronto W02' 'Toronto W03' 'Toronto W04' 'Toronto W05'
 'Toronto W06' 'Toronto W07' 'Toronto W08' 'Toronto W09' 'Toronto W10']
Updating Bachelor Leased: replacing 158 zeros
Updating bachelor_avg_lease_rate: replacing 158 zeros
Updating 1_bedrooms_leased: replacing 158 zeros
Updating 1_bed_room_avg_lease_rate: replacing 158 zeros
Updating 2_bedrooms_leased: replacing 158 zeros
Updating 2_bedrooms_avg_lease_rate: replacing 158 zeros
Updating 3_bedrooms_leased: replacing 158 zeros
Updating 3_bedrooms_avg_lease_rate: replacing 158 zeros
✓ Final 2011 dataset saved to '../sets/2011_dataframe.csv'
Final shape: (158, 41)

/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_86605/3001034883.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 0.          0.25        0.          0.          0.66666667  0.66666667
  1.5         0.          2.33333333  0.66666667  0.         72.75
  0.25       22.25        0.          2.33333333  0.          0.25
 22.25       22.25        0.          0.25        0.33333333  0.
 22.25       72.75        5.25        0.          0.33333333  0.5
  2.33333333  0.          0.          5.25        0.          0.5
  1.5         0.33333333  0.          0.          0.          0.
  0.          0.          0.          0.          2.33333333  1.5
  9.          0.66666667  0.          0.         72.75        0.66666667
  0.          4.25        4.25        0.66666667  0.          9.
  0.          0.          0.          0.66666667  0.66666667  0.
  0.          0.          0.          0.66666667  0.33333333  0.25
 72.75        4.25        1.5         0.25        0.          0.
  0.5         0.          0.25       22.25        0.          0.25
  0.          3.         72.75        0.66666667 22.25        0.
  0.          0.25        0.33333333  0.          0.          0.
  0.          0.          0.66666667  0.66666667  0.33333333  9.
  0.          0.33333333  0.          0.33333333  0.          0.33333333
  0.          0.25        5.25        3.          0.          0.
  0.          5.25        0.          0.33333333 72.75        0.66666667
 22.25        0.          0.          0.66666667  0.          5.25
  0.33333333  0.         22.25        0.66666667  0.33333333  2.33333333
  0.          0.          0.66666667  0.          0.          3.
  5.25        0.          0.66666667  4.25        0.          0.
 22.25        0.          0.          0.66666667 22.25        0.33333333
  0.         22.25        0.5         0.          0.33333333  0.
  0.5         0.66666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_86605/3001034883.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[          nan  825.                   nan           nan 1075.
  938.33333333 1113.                   nan 1179.33333333 1000.
           nan 1286.         1175.         1287.                   nan
 1179.33333333           nan 1175.         1287.         1287.
           nan  825.                   nan           nan 1287.
 1286.         1285.                   nan 1100.          900.
 1179.33333333           nan           nan 1285.                   nan
  900.         1113.          800.                   nan           nan
           nan           nan           nan           nan           nan
           nan 1179.33333333 1113.         1204.         1248.
           nan           nan 1286.          938.33333333           nan
 1244.         1244.         1075.                   nan 1204.
           nan           nan           nan  938.33333333  938.33333333
           nan           nan           nan           nan 1075.
 1100.         1175.         1286.         1244.         1113.
 1175.                   nan           nan  900.                   nan
 1175.         1287.                   nan 1175.                   nan
 1508.66666667 1286.         1248.         1287.                   nan
           nan 1175.          800.                   nan           nan
           nan           nan           nan 1075.                   nan
  800.         1204.                   nan  800.                   nan
           nan           nan  800.                   nan 1175.
 1285.         1508.66666667           nan           nan           nan
 1285.                   nan           nan 1286.         1075.
 1287.                   nan           nan  938.33333333           nan
 1285.         1100.                   nan 1287.          938.33333333
 1100.         1179.33333333           nan           nan  938.33333333
           nan           nan 1508.66666667 1285.                   nan
 1075.         1244.                   nan           nan 1287.
           nan           nan  938.33333333 1287.          800.
           nan 1287.          900.                   nan  800.
           nan  900.          938.33333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_86605/3001034883.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1.00000000e+00 6.00000000e+00 3.33333333e-01 5.75000000e+00
 8.75000000e+00 8.25000000e+00 2.62500000e+01 5.50000000e+00
 7.02500000e+01 5.12500000e+01 1.22500000e+01 1.07200000e+03
 3.10000000e+01 2.04250000e+02 9.50000000e+00 7.02500000e+01
 5.50000000e+00 3.10000000e+01 2.04250000e+02 2.04250000e+02
 2.50000000e+00 6.00000000e+00 1.33333333e+00 2.50000000e+00
 2.04250000e+02 1.07200000e+03 1.18750000e+02 5.50000000e+00
 1.80000000e+01 7.27500000e+01 7.02500000e+01 2.00000000e+00
 1.22500000e+01 1.18750000e+02 2.75000000e+00 7.27500000e+01
 2.62500000e+01 3.50000000e+00 1.03000000e+02 5.00000000e-01
 2.00000000e+00 9.75000000e+00 4.02500000e+01 5.50000000e+00
 5.75000000e+00 5.50000000e+00 7.02500000e+01 2.62500000e+01
 3.02000000e+02 1.55000000e+01 1.22500000e+01 1.00000000e+00
 1.07200000e+03 8.25000000e+00 5.50000000e+00 5.85000000e+01
 5.85000000e+01 8.75000000e+00 5.50000000e+00 3.02000000e+02
 9.75000000e+00 1.22500000e+01 4.02500000e+01 8.25000000e+00
 8.25000000e+00 5.25000000e+00 9.50000000e+00 2.00000000e+00
 9.50000000e+00 8.75000000e+00 1.80000000e+01 3.10000000e+01
 1.07200000e+03 5.85000000e+01 2.62500000e+01 3.10000000e+01
 5.50000000e+00 5.50000000e+00 7.27500000e+01 5.25000000e+00
 3.10000000e+01 2.04250000e+02 5.50000000e+00 3.10000000e+01
 1.03000000e+02 8.50000000e+00 1.07200000e+03 1.55000000e+01
 2.04250000e+02 5.50000000e+00 5.50000000e+00 3.10000000e+01
 4.00000000e+00 9.75000000e+00 1.00000000e+00 5.00000000e-01
 2.00000000e+00 1.03000000e+02 8.75000000e+00 5.25000000e+00
 3.50000000e+00 3.02000000e+02 1.22500000e+01 3.50000000e+00
 2.00000000e+00 1.33333333e+00 2.75000000e+00 4.00000000e+00
 1.00000000e+00 3.10000000e+01 1.18750000e+02 8.50000000e+00
 3.33333333e-01 2.00000000e+00 2.00000000e+00 1.18750000e+02
 9.75000000e+00 1.33333333e+00 1.07200000e+03 8.75000000e+00
 2.04250000e+02 5.25000000e+00 2.75000000e+00 8.25000000e+00
 5.25000000e+00 1.18750000e+02 1.80000000e+01 2.75000000e+00
 2.04250000e+02 8.25000000e+00 1.80000000e+01 7.02500000e+01
 1.00000000e+00 9.50000000e+00 8.25000000e+00 5.50000000e+00
 2.00000000e+00 8.50000000e+00 1.18750000e+02 9.50000000e+00
 8.75000000e+00 5.85000000e+01 5.50000000e+00 5.00000000e-01
 2.04250000e+02 1.00000000e+00 5.50000000e+00 8.25000000e+00
 2.04250000e+02 4.00000000e+00 2.50000000e+00 2.04250000e+02
 7.27500000e+01 5.25000000e+00 3.50000000e+00 4.02500000e+01
 7.27500000e+01 8.25000000e+00]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_86605/3001034883.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1066.66666667 1801.25       1500.         1271.5        1573.5
 1295.         1506.25       1102.5        1535.5        1692.
 1218.         1651.5        1417.75       1655.         1315.75
 1535.5        1102.5        1417.75       1655.         1655.
 1168.25       1801.25        975.         1168.25       1655.
 1651.5        1462.25       1102.5        1322.75       1273.25
 1535.5        1380.         1218.         1462.25       1648.5
 1273.25       1506.25       1104.75       1431.         1125.
 1380.         1131.5        1226.5        1399.75       1271.5
 1102.5        1535.5        1506.25       1451.25       1780.5
 1218.         1066.66666667 1651.5        1295.         1102.5
 2082.5        2082.5        1573.5        1102.5        1451.25
 1131.5        1218.         1226.5        1295.         1295.
 1213.5        1315.75       1380.         1315.75       1573.5
 1322.75       1417.75       1651.5        2082.5        1506.25
 1417.75       1399.75       1102.5        1273.25       1213.5
 1417.75       1655.         1399.75       1417.75       1431.
 1635.75       1651.5        1780.5        1655.         1102.5
 1399.75       1417.75       1649.25       1131.5        1066.66666667
 1125.         1380.         1431.         1573.5        1922.5
 1104.75       1451.25       1218.         1104.75       1380.
  975.         1648.5        1649.25       1066.66666667 1417.75
 1462.25       1635.75       1500.         1380.         1380.
 1462.25       1131.5         975.         1651.5        1573.5
 1655.         1213.5        1648.5        1295.         1213.5
 1462.25       1322.75       1648.5        1655.         1295.
 1322.75       1535.5        1066.66666667 1315.75       1295.
 1399.75       1380.         1635.75       1462.25       1315.75
 1573.5        2082.5        1399.75       1125.         1655.
 1066.66666667 1102.5        1295.         1655.         1649.25
 1168.25       1655.         1273.25       1213.5        1104.75
 1226.5        1273.25       1295.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_86605/3001034883.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[  1.           8.25         0.           8.          10.25
  10.5         29.75         5.25        65.25        30.5
  17.5        544.5         37.25       132.25        23.25
  65.25         5.25        37.25       132.25       132.25
   4.5          8.25         7.75         4.5        132.25
 544.5         61.75         5.25        35.5         58.
  65.25         4.75        17.5         61.75         5.75
  58.          29.75         7.25        83.5          1.5
   4.75        10.75        47.25         6.           8.
   5.25        65.25        29.75       243.25        16.25
  17.5          1.         544.5         10.5          5.25
  43.5         43.5         10.25         5.25       243.25
  10.75        17.5         47.25        10.5         10.5
  12.5         23.25         4.75        23.25        10.25
  35.5         37.25       544.5         43.5         29.75
  37.25         6.           5.25        58.          12.5
  37.25       132.25         6.          37.25        83.5
   1.66666667 544.5         16.25       132.25         5.25
   6.          37.25         8.25        10.75         1.
   1.5          4.75        83.5         10.25         5.5
   7.25       243.25        17.5          7.25         4.75
   7.75         5.75         8.25         1.          37.25
  61.75         1.66666667   0.           4.75         4.75
  61.75        10.75         7.75       544.5         10.25
 132.25        12.5          5.75        10.5         12.5
  61.75        35.5          5.75       132.25        10.5
  35.5         65.25         1.          23.25        10.5
   6.           4.75         1.66666667  61.75        23.25
  10.25        43.5          6.           1.5        132.25
   1.           5.25        10.5        132.25         8.25
   4.5        132.25        58.          12.5          7.25
  47.25        58.          10.5       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_86605/3001034883.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1462.5  2826.75     nan 1565.   2913.5  1432.5  2050.75 1367.5  2161.25
 2495.   1366.5  2445.25 1849.25 2293.   1640.75 2161.25 1367.5  1849.25
 2293.   2293.   1456.75 2826.75 1535.   1456.75 2293.   2445.25 1996.5
 1367.5  1713.25 1518.   2161.25 1666.5  1366.5  1996.5  2476.5  1518.
 2050.75 1360.5  1823.5  1195.25 1666.5  1358.75 1426.25 1870.25 1565.
 1367.5  2161.25 2050.75 1925.75 2728.   1366.5  1462.5  2445.25 1432.5
 1367.5  3932.25 3932.25 2913.5  1367.5  1925.75 1358.75 1366.5  1426.25
 1432.5  1432.5  1341.   1640.75 1666.5  1640.75 2913.5  1713.25 1849.25
 2445.25 3932.25 2050.75 1849.25 1870.25 1367.5  1518.   1341.   1849.25
 2293.   1870.25 1849.25 1823.5  2266.   2445.25 2728.   2293.   1367.5
 1870.25 1849.25 2391.75 1358.75 1462.5  1195.25 1666.5  1823.5  2913.5
 2428.   1360.5  1925.75 1366.5  1360.5  1666.5  1535.   2476.5  2391.75
 1462.5  1849.25 1996.5  2266.       nan 1666.5  1666.5  1996.5  1358.75
 1535.   2445.25 2913.5  2293.   1341.   2476.5  1432.5  1341.   1996.5
 1713.25 2476.5  2293.   1432.5  1713.25 2161.25 1462.5  1640.75 1432.5
 1870.25 1666.5  2266.   1996.5  1640.75 2913.5  3932.25 1870.25 1195.25
 2293.   1462.5  1367.5  1432.5  2293.   2391.75 1456.75 2293.   1518.
 1341.   1360.5  1426.25 1518.   1432.5 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_86605/3001034883.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 1.          0.66666667  0.          0.5         1.5         2.
  2.          1.33333333  2.5         0.75        1.75       15.75
  2.          2.          5.5         2.5         1.33333333  2.
  2.          2.          0.66666667  0.66666667  0.25        0.66666667
  2.         15.75        3.          1.33333333  3.5         5.25
  2.5         0.75        1.75        3.          0.33333333  5.25
  2.          1.         12.75        0.          0.75        0.75
 11.33333333  0.25        0.5         1.33333333  2.5         2.
 14.          0.5         1.75        1.         15.75        2.
  1.33333333  3.          3.          1.5         1.33333333 14.
  0.75        1.75       11.33333333  2.          2.          2.5
  5.5         0.75        5.5         1.5         3.5         2.
 15.75        3.          2.          2.          0.25        1.33333333
  5.25        2.5         2.          2.          0.25        2.
 12.75        0.66666667 15.75        0.5         2.          1.33333333
  0.25        2.          2.75        0.75        1.          0.
  0.75       12.75        1.5         0.25        1.         14.
  1.75        1.          0.75        0.25        0.33333333  2.75
  1.          2.          3.          0.66666667  0.          0.75
  0.75        3.          0.75        0.25       15.75        1.5
  2.          2.5         0.33333333  2.          2.5         3.
  3.5         0.33333333  2.          2.          3.5         2.5
  1.          5.5         2.          0.25        0.75        0.66666667
  3.          5.5         1.5         3.          0.25        0.
  2.          1.          1.33333333  2.          2.          2.75
  0.66666667  2.          5.25        2.5         1.         11.33333333
  5.25        2.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])
/var/folders/7w/1zpzkhhn4ms1gfj9qqhjsphr0000gn/T/ipykernel_86605/3001034883.py:37: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1600.         3550.                   nan 1600.         1983.25
 1525.         2329.33333333 1525.         3799.5        3825.
 1484.75       3833.         2205.25       3097.5        1686.5
 3799.5        1525.         2205.25       3097.5        3097.5
 1250.         3550.         1600.         1250.         3097.5
 3833.         1872.5        1525.         1925.5        1840.
 3799.5        1358.         1484.75       1872.5        2300.
 1840.         2329.33333333 1433.33333333 2263.75                 nan
 1358.         1525.         1624.         2200.         1600.
 1525.         3799.5        2329.33333333 2543.5        4750.
 1484.75       1600.         3833.         1525.         1525.
 4575.         4575.         1983.25       1525.         2543.5
 1525.         1484.75       1624.         1525.         1525.
 1395.         1686.5        1358.         1686.5        1983.25
 1925.5        2205.25       3833.         4575.         2329.33333333
 2205.25       2200.         1525.         1840.         1395.
 2205.25       3097.5        2200.         2205.25       2263.75
 2100.         3833.         4750.         3097.5        1525.
 2200.         2205.25       2962.         1525.         1600.
           nan 1358.         2263.75       1983.25       1500.
 1433.33333333 2543.5        1484.75       1433.33333333 1358.
 1600.         2300.         2962.         1600.         2205.25
 1872.5        2100.                   nan 1358.         1358.
 1872.5        1525.         1600.         3833.         1983.25
 3097.5        1395.         2300.         1525.         1395.
 1872.5        1925.5        2300.         3097.5        1525.
 1925.5        3799.5        1600.         1686.5        1525.
 2200.         1358.         2100.         1872.5        1686.5
 1983.25       4575.         2200.                   nan 3097.5
 1600.         1525.         1525.         3097.5        2962.
 1250.         3097.5        1840.         1395.         1433.33333333
 1624.         1840.         1525.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_2011.loc[df_2011[col] == 0, col] = df_2011['Area'].map(rental_avg_indexed[col])

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,...,ROBBERY_RATE_2011,SHOOTING_2011,SHOOTING_RATE_2011,THEFTFROMMV_2011,THEFTFROMMV_RATE_2011,THEFTOVER_2011,THEFTOVER_RATE_2011,POPULATION_2011,AreaBachelor Leased,Bachelor Leased
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,NaN,1.000000,1066.666667,1.00,...,0,0,0,0,0,0,0,0,0,0.000000
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,825.0,6.000000,1801.250000,8.25,...,0,0,0,0,0,0,0,0,0,0.250000
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,NaN,0.333333,1500.000000,0.00,...,0,0,0,0,0,0,0,0,0,0.000000
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,NaN,5.750000,1271.500000,8.00,...,0,0,0,0,0,0,0,0,0,0.000000
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,1075.0,8.750000,1573.500000,10.25,...,0,0,0,0,0,0,0,0,0,0.666667