In [10]:
import pandas as pd
import numpy as np

df_og = pd.read_csv('../data/raw_data/tor_neighborhood_condorental.csv')
df_2020 = pd.read_csv('../data/raw_data/2020.csv')


static_cols = [
    'AREA_NAME', 'CLASSIFICATION', 'CLASSIFICATION_CODE', 'geometry_wkt',
    'geometry_type', 'Area', 'area_sq_meters', 'perimeter_meters',
    'park_count', 'total_stop_count', 'avg_stop_frequency', 'max_stop_frequency',
    'total_line_length_meters', 'transit_line_density', 'distinct_route_count'
]

year_specific_cols_2019 = [
    'ASSAULT_2019', 'ASSAULT_RATE_2019', 'AUTOTHEFT_2019', 'AUTOTHEFT_RATE_2019',
    'BIKETHEFT_RATE_2019', 'BREAKENTER_2019', 'BIKETHEFT_RATE_2019_1',
    'HOMICIDE_2019', 'HOMICIDE_RATE_2019', 'ROBBERY_2019', 'ROBBERY_RATE_2019',
    'SHOOTING_2019', 'SHOOTING_RATE_2019', 'THEFTFROMMV_2019',
    'THEFTFROMMV_RATE_2019', 'THEFTOVER_2019', 'THEFTOVER_RATE_2019'
]

rental_cols_to_create = [
    'Bachelor Leased', 'bachelor_avg_lease_rate', '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate', '2_bedrooms_leased', '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased', '3_bedrooms_avg_lease_rate'
]

final_col_order = [
    'AREA_NAME', 'CLASSIFICATION', 'CLASSIFICATION_CODE', 'geometry_wkt',
    'geometry_type', 'Area', 'Bachelor Leased', 'bachelor_avg_lease_rate',
    '1_bedrooms_leased', '1_bed_room_avg_lease_rate', '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate', '3_bedrooms_leased', '3_bedrooms_avg_lease_rate',
    'area_sq_meters', 'perimeter_meters', 'park_count', 'ASSAULT_2019',
    'ASSAULT_RATE_2019', 'AUTOTHEFT_2019', 'AUTOTHEFT_RATE_2019',
    'BIKETHEFT_RATE_2019', 'BREAKENTER_2019', 'BIKETHEFT_RATE_2019_1',
    'HOMICIDE_2019', 'HOMICIDE_RATE_2019', 'ROBBERY_2019', 'ROBBERY_RATE_2019',
    'SHOOTING_2019', 'SHOOTING_RATE_2019', 'THEFTFROMMV_2019',
    'THEFTFROMMV_RATE_2019', 'THEFTOVER_2019', 'THEFTOVER_RATE_2019',
    'POPULATION_2019', 'total_stop_count', 'avg_stop_frequency',
    'max_stop_frequency', 'total_line_length_meters', 'transit_line_density',
    'distinct_route_count'
]



cols_from_og = static_cols + year_specific_cols_2019
df_2019 = df_og[cols_from_og].copy()


df_2019['POPULATION_2019'] = 0

for col in rental_cols_to_create:
    df_2019[col] = np.nan

df_2019 = df_2019[final_col_order]

df_2019.head()

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,...,THEFTFROMMV_RATE_2019,THEFTOVER_2019,THEFTOVER_RATE_2019,POPULATION_2019,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,NaN,NaN,NaN,NaN,...,240.054871,8.0,68.587105,0,30,537.266667,1321,1.018065,1.017866,11
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,NaN,NaN,NaN,NaN,...,251.559677,3.0,30.187160,0,73,265.602740,911,1.247435,1.246204,14
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,NaN,NaN,NaN,NaN,...,396.318085,7.0,29.830393,0,101,282.693069,790,1.291023,1.290157,13
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,NaN,NaN,NaN,NaN,...,382.043945,4.0,22.473173,0,63,404.031746,1541,2.894569,2.893222,19
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,NaN,NaN,NaN,NaN,...,122.959221,4.0,27.324270,0,9,532.888889,1692,0.085268,0.085265,2

In [11]:
import pandas as pd
import numpy as np

# --- Create DataFrame for 2019 Q1 with Standardized Column Names ---

q1_data_dict = {
    "Area": [
        "Toronto W01", "Toronto W02", "Toronto W03", "Toronto W04", "Toronto W05",
        "Toronto W06", "Toronto W07", "Toronto W08", "Toronto W09", "Toronto W10",
        "Toronto C01", "Toronto C02", "Toronto C03", "Toronto C04", "Toronto C06",
        "Toronto C07", "Toronto C08", "Toronto C09", "Toronto C10", "Toronto C11",
        "Toronto C12", "Toronto C13", "Toronto C14", "Toronto C15", 
        "Toronto E01", "Toronto E02", "Toronto E03", "Toronto E04", "Toronto E05", 
        "Toronto E06", "Toronto E07", "Toronto E08", "Toronto E09", "Toronto E10", 
        "Toronto E11",
    ],
    "Bachelor Leased": [
        1, 0, 0, 2, 0, 2, 0, 1, 0, 0,
        154, 7, 1, 0, 0, 0, 71, 0, 6, 0, 0, 0, 6, 3,
        1, 1, 0, 0, 0, 0, 0, 0, 3, 0, 0,
    ],
    "bachelor_avg_lease_rate": [
        1600, np.nan, np.nan, 1700, np.nan, 1600, np.nan, 1800, np.nan, np.nan,
        1831, 1981, 1725, np.nan, np.nan, np.nan, 1828, np.nan, 1713, np.nan, np.nan, np.nan, 1771, 1767,
        1900, 1550, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1617, np.nan, np.nan,
    ],
    "1_bedrooms_leased": [
        31, 42, 4, 54, 19, 169, 0, 87, 2, 10,
        1247, 57, 52, 7, 12, 85, 635, 14, 124, 18, 6, 37, 179, 200,
        20, 6, 1, 18, 12, 3, 20, 4, 57, 1, 5,
    ],
    "1_bed_room_avg_lease_rate": [
        2234, 2068, 1975, 1879, 1874, 2069, np.nan, 1967, 1825, 1871,
        2326, 2564, 2072, 2117, 1900, 2126, 2156, 2393, 2143, 1866, 2329, 2004, 2127, 2042,
        2340, 2097, 1800, 1765, 1893, 1980, 1759, 1619, 1934, 1250, 1610,
    ],
    "2_bedrooms_leased": [
        15, 22, 1, 35, 11, 109, 1, 54, 4, 10,
        554, 57, 8, 10, 14, 86, 311, 12, 66, 16, 7, 22, 140, 101,
        8, 6, 5, 6, 18, 0, 23, 6, 40, 2, 9,
    ],
    "2_bedrooms_avg_lease_rate": [
        3257, 3084, 2300, 2316, 2209, 2891, 2100, 2394, 2436, 2098,
        3304, 4684, 2763, 2990, 2346, 2778, 2957, 3067, 2886, 2327, 3164, 2534, 2710, 2525,
        3062, 3067, 2110, 2170, 2244, np.nan, 2092, 2016, 2365, 1938, 1953,
    ],
    "3_bedrooms_leased": [
        0, 1, 0, 1, 1, 1, 0, 6, 1, 0,
        35, 3, 0, 2, 1, 7, 12, 0, 5, 2, 0, 0, 6, 2,
        0, 0, 0, 2, 1, 0, 2, 1, 4, 0, 1,
    ],
    "3_bedrooms_avg_lease_rate": [
        np.nan, 3500, np.nan, 3100, 2200, 7500, np.nan, 2624, 2549, np.nan,
        5205, 4967, np.nan, 2875, 3300, 2764, 3838, np.nan, 4375, 2400, np.nan, np.nan, 3349, 3950,
        np.nan, np.nan, np.nan, 2365, 2500, np.nan, 2150, 2300, 2763, np.nan, 2000,
    ],
}

# Create the DataFrame from the dictionary
df_q1 = pd.DataFrame(q1_data_dict)

df_q1.head()

,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,Toronto W01,1,1600.0,31,2234.0,15,3257.0,0,NaN
1,Toronto W02,0,NaN,42,2068.0,22,3084.0,1,3500.0
2,Toronto W03,0,NaN,4,1975.0,1,2300.0,0,NaN
3,Toronto W04,2,1700.0,54,1879.0,35,2316.0,1,3100.0
4,Toronto W05,0,NaN,19,1874.0,11,2209.0,1,2200.0

In [12]:

import pandas as pd
import numpy as np


q2_data_dict = {
    "Area": [
        "Toronto W01", "Toronto W02", "Toronto W03", "Toronto W04", "Toronto W05",
        "Toronto W06", "Toronto W07", "Toronto W08", "Toronto W09", "Toronto W10",
        "Toronto C01", "Toronto C02", "Toronto C03", "Toronto C04", "Toronto C06",
        "Toronto C07", "Toronto C08", "Toronto C09", "Toronto C10", "Toronto C11",
        "Toronto C12", "Toronto C13", "Toronto C14", "Toronto C15", "Toronto E01",
        "Toronto E02", "Toronto E03", "Toronto E04", "Toronto E05", "Toronto E06",
        "Toronto E07", "Toronto E08", "Toronto E09", "Toronto E10", "Toronto E11",
    ],
    "Bachelor Leased": [
        3, 2, 0, 2, 3, 1, 0, 1, 0, 0,
        204, 12, 2, 0, 0, 1, 114, 0, 26, 0, 0, 1, 7, 15,
        2, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0,
    ],
    "bachelor_avg_lease_rate": [
        1800, 1750, np.nan, 1763, 1467, 1750, np.nan, 1800, np.nan, np.nan,
        1865, 1833, 1548, np.nan, np.nan, 2250, 1832, np.nan, 1674, np.nan,
        np.nan, 1700, 1732, 1746, 1772, np.nan, np.nan, np.nan, np.nan, np.nan,
        np.nan, np.nan, 1600, np.nan, np.nan,
    ],
    "1_bedrooms_leased": [
        40, 36, 0, 56, 27, 232, 5, 108, 3, 16,
        1723, 99, 74, 17, 18, 178, 837, 19, 333, 19, 8, 51, 280, 363,
        42, 18, 4, 9, 19, 5, 35, 3, 75, 1, 5,
    ],
    "1_bed_room_avg_lease_rate": [
        2170, 2235, np.nan, 1874, 1939, 2119, 2090, 2054, 1800, 1929,
        2359, 2514, 2103, 2461, 1969, 2169, 2275, 2426, 2125, 1913,
        2444, 2021, 2128, 2038, 2257, 2153, 2112, 1811, 1941, 1820,
        1880, 1800, 1957, 1550, 1755,
    ],
    "2_bedrooms_leased": [
        17, 21, 4, 45, 13, 131, 4, 71, 5, 15,
        771, 77, 44, 20, 14, 177, 472, 30, 116, 17, 8, 36, 214, 153,
        21, 10, 3, 13, 25, 7, 31, 10, 68, 1, 6,
    ],
    "2_bedrooms_avg_lease_rate": [
        2816, 2745, 2531, 2353, 2408, 2786, 2571, 2599, 2370, 2209,
        3363, 4474, 2776, 3010, 2378, 2680, 3075, 3547, 2967, 2489,
        3523, 2540, 2710, 2539, 2783, 2745, 2100, 2079, 2237, 2450,
        2200, 2105, 2454, 1850, 2125,
    ],
    "3_bedrooms_leased": [
        3, 1, 3, 8, 0, 3, 2, 6, 2, 0,
        70, 1, 1, 4, 0, 14, 16, 6, 2, 6, 0, 5, 16, 14,
        0, 0, 0, 0, 5, 1, 1, 2, 10, 0, 0,
    ],
    "3_bedrooms_avg_lease_rate": [
        3500, 2850, 2667, 2525, np.nan, 4200, 3675, 2700, 2518, np.nan,
        4888, 9200, 4250, 2988, np.nan, 2904, 3883, 5779, 3150, 2615,
        np.nan, 2489, 3469, 3256, np.nan, np.nan, np.nan, np.nan, 2310, 2450,
        2400, 2350, 2975, np.nan, np.nan,
    ],
}

df_q2 = pd.DataFrame(q2_data_dict)

df_q2.head()

,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,Toronto W01,3,1800.0,40,2170.0,17,2816,3,3500.0
1,Toronto W02,2,1750.0,36,2235.0,21,2745,1,2850.0
2,Toronto W03,0,NaN,0,NaN,4,2531,3,2667.0
3,Toronto W04,2,1763.0,56,1874.0,45,2353,8,2525.0
4,Toronto W05,3,1467.0,27,1939.0,13,2408,0,NaN

In [13]:

import pandas as pd
import numpy as np

# --- Create DataFrame for 2019 Q3 with Standardized Column Names ---

q3_data_dict = {
    "Area": [
        "Toronto W01", "Toronto W02", "Toronto W03", "Toronto W04", "Toronto W05",
        "Toronto W06", "Toronto W07", "Toronto W08", "Toronto W09", "Toronto W10",
        "Toronto C01", "Toronto C02", "Toronto C03", "Toronto C04", "Toronto C06",
        "Toronto C07", "Toronto C08", "Toronto C09", "Toronto C10", "Toronto C11",
        "Toronto C12", "Toronto C13", "Toronto C14", "Toronto C15", "Toronto E01",
        "Toronto E02", "Toronto E03", "Toronto E04", "Toronto E05", "Toronto E06",
        "Toronto E07", "Toronto E08", "Toronto E09", "Toronto E10", "Toronto E11",
    ],
    "Bachelor Leased": [
        1, 2, 1, 2, 4, 2, 0, 1, 0, 0,
        213, 17, 4, 3, 0, 1, 161, 0, 5, 0, 0, 1, 11, 19,
        3, 0, 0, 0, 0, 1, 0, 0, 9, 0, 0,
    ],
    "bachelor_avg_lease_rate": [
        2100, 1875, 1300, 1650, 1413, 1725, np.nan, 1700, np.nan, np.nan,
        1958, 1957, 1562, 1692, np.nan, 1660, 1952, np.nan, 1850, np.nan, np.nan, 1800, 1823, 1752,
        2300, np.nan, np.nan, np.nan, np.nan, 1450, np.nan, np.nan, 1742, np.nan, np.nan,
    ],
    "1_bedrooms_leased": [
        36, 41, 2, 48, 19, 241, 5, 128, 1, 23,
        2015, 126, 40, 15, 16, 162, 960, 17, 183, 30, 8, 43, 390, 469,
        87, 15, 3, 11, 6, 13, 46, 7, 113, 0, 2,
    ],
    "1_bed_room_avg_lease_rate": [
        2276, 2168, 1865, 2003, 2083, 2175, 2330, 2098, 1950, 1908,
        2417, 2590, 2116, 2236, 2058, 2265, 2378, 2802, 2243, 1948, 2453, 2084, 2191, 2110,
        2267, 2222, 1950, 1895, 2033, 1913, 1907, 1923, 2021, np.nan, 1923,
    ],
    "2_bedrooms_leased": [
        21, 18, 0, 26, 15, 163, 2, 71, 6, 16,
        842, 80, 41, 11, 15, 173, 408, 28, 109, 18, 10, 41, 346, 203,
        39, 15, 7, 11, 31, 4, 43, 12, 80, 1, 6,
    ],
    "2_bedrooms_avg_lease_rate": [
        3028, 3065, np.nan, 2442, 2383, 2832, 2500, 2584, 2408, 2242,
        3443, 4424, 2985, 3445, 2460, 2818, 3218, 3617, 3016, 2421, 3250, 2560, 2792, 2631,
        2838, 2787, 2443, 2223, 2316, 2300, 2309, 2181, 2591, 2100, 2200,
    ],
    "3_bedrooms_leased": [
        1, 1, 2, 4, 0, 7, 0, 4, 0, 0,
        63, 1, 7, 3, 1, 21, 22, 0, 2, 0, 0, 4, 10, 11,
        0, 0, 1, 1, 6, 0, 4, 1, 10, 0, 1,
    ],
    "3_bedrooms_avg_lease_rate": [
        3300, 2900, 2800, 2840, np.nan, 4507, np.nan, 2863, np.nan, np.nan,
        4788, 6050, 4979, 3940, 3300, 3224, 4466, np.nan, 4225, np.nan, np.nan, 2950, 3620, 3776,
        np.nan, np.nan, 2450, 2400, 2542, np.nan, 2289, 2450, 3010, np.nan, 2400,
    ],
}

df_q3 = pd.DataFrame(q3_data_dict)

df_q3.head()

,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,Toronto W01,1,2100.0,36,2276.0,21,3028.0,1,3300.0
1,Toronto W02,2,1875.0,41,2168.0,18,3065.0,1,2900.0
2,Toronto W03,1,1300.0,2,1865.0,0,NaN,2,2800.0
3,Toronto W04,2,1650.0,48,2003.0,26,2442.0,4,2840.0
4,Toronto W05,4,1413.0,19,2083.0,15,2383.0,0,NaN

In [14]:

import pandas as pd
import numpy as np


q4_data_dict = {
    "Area": [
        "Toronto W01", "Toronto W02", "Toronto W03", "Toronto W04", "Toronto W05",
        "Toronto W06", "Toronto W07", "Toronto W08", "Toronto W09", "Toronto W10",
        "Toronto C01", "Toronto C02", "Toronto C03", "Toronto C04", "Toronto C06",
        "Toronto C07", "Toronto C08", "Toronto C09", "Toronto C10", "Toronto C11",
        "Toronto C12", "Toronto C13", "Toronto C14", "Toronto C15", "Toronto E01",
        "Toronto E02", "Toronto E03", "Toronto E04", "Toronto E05", "Toronto E06",
        "Toronto E07", "Toronto E08", "Toronto E09", "Toronto E10", "Toronto E11",
    ],
    "Bachelor Leased": [
        1, 2, 0, 1, 2, 3, 0, 0, 0, 0,
        128, 7, 3, 0, 0, 0, 72, 0, 3, 0, 0, 2, 6, 10,
        2, 0, 0, 0, 0, 1, 0, 1, 3, 0, 0,
    ],
    "bachelor_avg_lease_rate": [
        1850, 1700, np.nan, 1800, 1500, 1700, np.nan, np.nan, np.nan, np.nan,
        1909, 1921, 1583, np.nan, np.nan, np.nan, 1913, np.nan, 1850, np.nan, np.nan, 1813, 1852, 1790,
        1775, np.nan, np.nan, np.nan, np.nan, 1325, np.nan, 1600, 1627, np.nan, np.nan,
    ],
    "1_bedrooms_leased": [
        46, 37, 6, 29, 21, 162, 1, 82, 3, 22,
        1262, 86, 28, 12, 22, 95, 518, 17, 142, 11, 5, 30, 217, 269,
        94, 9, 4, 15, 16, 5, 27, 5, 73, 0, 6,
    ],
    "1_bed_room_avg_lease_rate": [
        2266, 2231, 2042, 2003, 2045, 2184, 1850, 2112, 2067, 2022,
        2343, 2504, 2150, 2097, 2051, 2215, 2311, 2835, 2196, 1921, 2550, 2066, 2186, 2108,
        2113, 2177, 2019, 1888, 1875, 1925, 1868, 1829, 1971, np.nan, 1772,
    ],
    "2_bedrooms_leased": [
        14, 12, 1, 19, 14, 128, 3, 59, 6, 6,
        454, 43, 25, 14, 13, 101, 182, 12, 58, 14, 1, 30, 170, 95,
        50, 8, 3, 10, 16, 7, 32, 5, 47, 1, 9,
    ],
    "2_bedrooms_avg_lease_rate": [
        3462, 2866, 2400, 2424, 2309, 2794, 2450, 2736, 2507, 2350,
        3306, 5900, 2910, 3246, 2453, 2759, 3151, 4066, 2982, 2484, 2850, 2478, 2734, 2642,
        2775, 3106, 2420, 2150, 2311, 2529, 2185, 2265, 2345, 2100, 2167,
    ],
    "3_bedrooms_leased": [
        3, 4, 1, 3, 1, 2, 0, 1, 1, 0,
        28, 1, 1, 1, 2, 17, 5, 1, 2, 2, 0, 2, 7, 4,
        2, 1, 0, 1, 5, 0, 1, 1, 6, 3, 0,
    ],
    "3_bedrooms_avg_lease_rate": [
        4917, 3900, 2700, 2517, 2600, 3225, np.nan, 2600, 2200, np.nan,
        4358, 5000, 3600, 2450, 3225, 3174, 4110, 7155, 3900, 2475, np.nan, 2700, 3386, 2813,
        3550, 4950, np.nan, 2400, 2440, np.nan, 2400, 2200, 2653, 2067, np.nan,
    ],
}

df_q4 = pd.DataFrame(q4_data_dict)

df_q4.head()

,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,Toronto W01,1,1850.0,46,2266.0,14,3462,3,4917.0
1,Toronto W02,2,1700.0,37,2231.0,12,2866,4,3900.0
2,Toronto W03,0,NaN,6,2042.0,1,2400,1,2700.0
3,Toronto W04,1,1800.0,29,2003.0,19,2424,3,2517.0
4,Toronto W05,2,1500.0,21,2045.0,14,2309,1,2600.0

In [15]:

import pandas as pd
import numpy as np

# --- Create Annual Report: Sum Leased, Weighted Rate ---

# Combine all quarters
df_all_quarters = pd.concat([df_q1, df_q2, df_q3, df_q4], ignore_index=True)

# Define the unit types and their corresponding columns (Leased Col, Rate Col)
unit_cols = [
    ('Bachelor Leased', 'bachelor_avg_lease_rate'),
    ('1_bedrooms_leased', '1_bed_room_avg_lease_rate'),
    ('2_bedrooms_leased', '2_bedrooms_avg_lease_rate'),
    ('3_bedrooms_leased', '3_bedrooms_avg_lease_rate')
]

grouped = df_all_quarters.groupby('Area')
annual_rows = []

for area, group in grouped:
    row = {'Area': area}
    
    for leased_col, rate_col in unit_cols:
        # 1. Sum the number values
        total_leased = group[leased_col].sum()
        row[leased_col] = total_leased
        
        # 2. Calculate weighted rate
        # Filter for rows that have valid rate data for weighting
        valid_data = group.dropna(subset=[rate_col])
        total_valid_leased = valid_data[leased_col].sum()
        
        if total_valid_leased > 0:
            # Weighted Average: sum(rate * leased) / sum(leased)
            weighted_rate = (valid_data[leased_col] * valid_data[rate_col]).sum() / total_valid_leased
        else:
            # Fallback to simple mean if no volume to weight by. 
            # If all are NaN, this remains NaN.
            weighted_rate = group[rate_col].mean()
            
        # Assign directly to the original column name
        row[rate_col] = weighted_rate

    annual_rows.append(row)

df_annual = pd.DataFrame(annual_rows)

# Standardize Area names
df_annual['Area'] = df_annual['Area'].str.strip()

# Display the first few rows
print("Annual DataFrame Created.")
df_annual.head()

Annual DataFrame Created.

,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,Toronto C01,699,1893.905579,6247,2367.888587,2621,3366.355971,196,4836.750000
1,Toronto C02,43,1920.441860,368,2545.429348,257,4743.603113,6,5858.500000
2,Toronto C03,10,1581.800000,194,2104.154639,118,2876.127119,9,4744.777778
3,Toronto C04,3,1692.000000,51,2261.960784,55,3153.436364,10,3197.200000
4,Toronto C06,0,NaN,68,2004.294118,56,2409.375000,4,3262.500000

In [16]:
df_2019_indexed = df_2019.set_index('Area')
df_annual_indexed = df_annual.set_index('Area')

df_2019_indexed.update(df_annual_indexed)

df_2019_final = df_2019_indexed.reset_index()

final_col_order = [
    'AREA_NAME', 'CLASSIFICATION', 'CLASSIFICATION_CODE', 'geometry_wkt',
    'geometry_type', 'Area', 'Bachelor Leased', 'bachelor_avg_lease_rate',
    '1_bedrooms_leased', '1_bed_room_avg_lease_rate', '2_bedrooms_leased',
    '2_bedrooms_avg_lease_rate', '3_bedrooms_leased', '3_bedrooms_avg_lease_rate',
    'area_sq_meters', 'perimeter_meters', 'park_count', 'ASSAULT_2019',
    'ASSAULT_RATE_2019', 'AUTOTHEFT_2019', 'AUTOTHEFT_RATE_2019',
    'BIKETHEFT_RATE_2019', 'BREAKENTER_2019', 'BIKETHEFT_RATE_2019_1',
    'HOMICIDE_2019', 'HOMICIDE_RATE_2019', 'ROBBERY_2019', 'ROBBERY_RATE_2019',
    'SHOOTING_2019', 'SHOOTING_RATE_2019', 'THEFTFROMMV_2019',
    'THEFTFROMMV_RATE_2019', 'THEFTOVER_2019', 'THEFTOVER_RATE_2019',
    'POPULATION_2019', 'total_stop_count', 'avg_stop_frequency',
    'max_stop_frequency', 'total_line_length_meters', 'transit_line_density',
    'distinct_route_count'
]

df_2019_final = df_2019_final[final_col_order]

df_2019_final.head(40)

,AREA_NAME,CLASSIFICATION,CLASSIFICATION_CODE,geometry_wkt,geometry_type,Area,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,...,THEFTFROMMV_RATE_2019,THEFTOVER_2019,THEFTOVER_RATE_2019,POPULATION_2019,total_stop_count,avg_stop_frequency,max_stop_frequency,total_line_length_meters,transit_line_density,distinct_route_count
0,Keelesdale-Eglinton West,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4620964545852 43.685717567...,MultiPolygon,Toronto W03,1.0,1300.000000,12.0,1990.166667,...,240.054871,8.0,68.587105,0,30,537.266667,1321,1.018065,1.017866,11
1,Bridle Path-Sunnybrook-York Mills,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3783755029958 43.744291877...,MultiPolygon,Toronto C12,0.0,NaN,27.0,2440.740741,...,251.559677,3.0,30.187160,0,73,265.602740,911,1.247435,1.246204,14
2,Birchcliffe-Cliffside,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2467146164104 43.698979955...,MultiPolygon,Toronto E06,2.0,1387.500000,26.0,1905.153846,...,396.318085,7.0,29.830393,0,101,282.693069,790,1.291023,1.290157,13
3,Clanton Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4369481337577 43.749120943...,MultiPolygon,Toronto C06,0.0,NaN,68.0,2004.294118,...,382.043945,4.0,22.473173,0,63,404.031746,1541,2.894569,2.893222,19
4,North Toronto,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3974366551459 43.706929916...,MultiPolygon,Toronto C04,3.0,1692.000000,51.0,2261.960784,...,122.959221,4.0,27.324270,0,9,532.888889,1692,0.085268,0.085265,2
5,York University Heights,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.4684684284053 43.775193863...,MultiPolygon,Toronto W05,9.0,1450.333333,86.0,1982.337209,...,542.551025,31.0,105.780388,0,211,357.483412,2079,6.302904,6.293581,24
6,High Park-Swansea,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4477045017347 43.642830257...,MultiPolygon,Toronto W01,6.0,1825.000000,153.0,2236.771242,...,236.132401,13.0,53.854759,0,78,265.282051,872,1.850047,1.848941,22
7,Yorkdale-Glen Park,Emerging Neighbourhood,EN,MULTIPOLYGON (((-79.4639574512317 43.700360286...,MultiPolygon,Toronto W04,7.0,1718.000000,187.0,1928.561497,...,512.881653,30.0,178.912216,0,131,347.442748,848,3.378362,3.376084,12
8,Mimico-Queensway,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4869569370828 43.623887593...,MultiPolygon,Toronto W06,8.0,1687.500000,804.0,2138.373134,...,379.974335,14.0,71.887032,0,83,263.638554,529,0.964652,0.964063,12
9,South Eglinton-Davisville,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3863510515018 43.697831265...,MultiPolygon,Toronto C10,40.0,1715.050000,782.0,2168.360614,...,106.956635,3.0,13.369579,0,23,492.000000,1689,0.500042,0.499989,12
10,Mount Olive-Silverstone-Jamestown,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.5793823406653 43.762218317...,MultiPolygon,Toronto W10,0.0,NaN,71.0,1942.845070,...,332.286133,8.0,24.166264,0,58,368.672414,597,1.535502,1.534707,13
11,University,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3996291202247 43.657984927...,MultiPolygon,Toronto C01,699.0,1893.905579,6247.0,2367.888587,...,730.938904,7.0,88.216759,0,30,407.666667,709,0.933733,0.933586,10
12,Princess-Rosethorn,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.5301276091064 43.659978664...,MultiPolygon,Toronto W08,3.0,1766.666667,405.0,2060.960494,...,289.143951,5.0,43.809692,0,60,270.733333,547,0.865243,0.864744,8
13,Bay-Cloverhill,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3874254929886 43.660514865...,MultiPolygon,Toronto C08,418.0,1891.492823,2950.0,2289.224746,...,189.655167,10.0,57.471264,0,29,297.896552,848,0.649893,0.649843,5
14,East L'Amoreaux,Emerging Neighbourhood,EN,MULTIPOLYGON (((-79.3003183478472 43.808592608...,MultiPolygon,Toronto E05,0.0,NaN,53.0,1920.622642,...,116.733261,2.0,8.979482,0,52,323.461538,796,1.031895,1.031469,10
15,Long Branch,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.5264682297979 43.601174435...,MultiPolygon,Toronto W06,8.0,1687.500000,804.0,2138.373134,...,389.725433,1.0,8.857396,0,19,392.000000,994,0.416817,0.416712,7
16,Brookhaven-Amesbury,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4755540586569 43.697689325...,MultiPolygon,Toronto W04,7.0,1718.000000,187.0,1928.561497,...,275.012390,12.0,66.002968,0,63,317.952381,820,1.771257,1.770563,16
17,Markland Wood,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.5741468064356 43.641434661...,MultiPolygon,Toronto W08,3.0,1766.666667,405.0,2060.960494,...,166.373978,3.0,27.728994,0,28,172.214286,274,0.253104,0.253021,7
18,Harbourfront-CityPlace,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3801704132592 43.639891890...,MultiPolygon,Toronto C08,418.0,1891.492823,2950.0,2289.224746,...,139.518661,20.0,69.759331,0,15,590.600000,1037,0.225705,0.225676,5
19,Wellington Place,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4007006393336 43.640934429...,MultiPolygon,Toronto C08,418.0,1891.492823,2950.0,2289.224746,...,448.769043,27.0,113.240784,0,26,624.307692,857,0.676801,0.676727,9
20,Flemingdon Park,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.3260788560239 43.720395093...,MultiPolygon,Toronto C11,0.0,NaN,78.0,1916.743590,...,73.685577,3.0,13.003338,0,45,494.400000,1457,1.021061,1.020779,11
21,St.Andrew-Windfields,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3576120619284 43.764750315...,MultiPolygon,Toronto C12,0.0,NaN,27.0,2440.740741,...,280.835754,7.0,39.317009,0,119,270.050420,924,0.902198,0.901457,18
22,Kingsview Village-The Westway,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.5376458637105 43.708316681...,MultiPolygon,Toronto W09,0.0,NaN,9.0,1911.222222,...,180.457748,2.0,8.802817,0,50,322.740000,422,1.192811,1.192137,9
23,Leaside-Bennington,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3573317653624 43.701833103...,MultiPolygon,Toronto C11,0.0,NaN,78.0,1916.743590,...,267.379669,7.0,40.688213,0,51,413.960784,1401,0.683905,0.683540,14
24,Moss Park,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3646216264793 43.656007256...,MultiPolygon,Toronto C08,418.0,1891.492823,2950.0,2289.224746,...,938.946838,25.0,108.173599,0,62,570.177419,1284,0.927544,0.927400,14
25,Kensington-Chinatown,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3899359991916 43.658590752...,MultiPolygon,Toronto C01,699.0,1893.905579,6247.0,2367.888587,...,1812.610352,38.0,197.361588,0,36,646.972222,1145,1.218680,1.218472,9
26,Hillcrest Village,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.367053975554 43.7900385728...,MultiPolygon,Toronto C15,47.0,1759.127660,1301.0,2079.043812,...,281.739746,6.0,35.217468,0,69,341.536232,1265,1.004439,1.003833,10
27,Mount Dennis,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.5000651168913 43.694236182...,MultiPolygon,Toronto W04,7.0,1718.000000,187.0,1928.561497,...,208.603073,5.0,35.966049,0,50,464.400000,874,0.934866,0.934644,11
28,Fenside-Parkwoods,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3185961859286 43.765421644...,MultiPolygon,Toronto C13,4.0,1781.500000,161.0,2042.304348,...,346.766632,2.0,9.372071,0,48,319.708333,836,0.692546,0.692289,11
29,Bendale-Glen Andrew,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2639184999971 43.751753449...,MultiPolygon,Toronto E09,19.0,1674.210526,318.0,1978.833333,...,251.205795,8.0,40.192924,0,84,429.940476,2743,2.254604,2.253366,23
30,Alderwood,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.5384742056994 43.595432830...,MultiPolygon,Toronto W06,8.0,1687.500000,804.0,2138.373134,...,422.469086,7.0,54.764511,0,54,255.574074,714,0.534197,0.533901,4
31,Old East York,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3321194840694 43.703036548...,MultiPolygon,Toronto E03,0.0,NaN,12.0,2014.500000,...,380.107697,3.0,31.675642,0,58,301.206897,1227,0.373682,0.373584,9
32,Rexdale-Kipling,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.5641861748778 43.712285318...,MultiPolygon,Toronto W10,0.0,NaN,71.0,1942.845070,...,426.755737,3.0,27.831896,0,35,366.714286,593,0.894843,0.894592,6
33,Don Valley Village,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.3430982794553 43.793417566...,MultiPolygon,Toronto C15,47.0,1759.127660,1301.0,2079.043812,...,246.984283,14.0,50.112755,0,55,362.600000,1046,1.424981,1.424310,15
34,East End-Danforth,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.2934755049119 43.690537885...,MultiPolygon,Toronto E02,1.0,1550.000000,48.0,2172.062500,...,297.552948,9.0,39.969799,0,71,390.169014,888,1.800304,1.799774,21
35,Woburn North,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.2244774604678 43.788407845...,MultiPolygon,Toronto E09,19.0,1674.210526,318.0,1978.833333,...,356.564026,4.0,14.406627,0,91,412.384615,1133,1.623740,1.622597,20
36,Roncesvalles,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.4438252800725 43.639181491...,MultiPolygon,Toronto W01,6.0,1825.000000,153.0,2236.771242,...,312.134216,11.0,71.530762,0,34,531.970588,995,0.678734,0.678620,15
37,Eglinton East,Neighbourhood Improvement Area,NIA,MULTIPOLYGON (((-79.2364097299027 43.753280608...,MultiPolygon,Toronto E08,1.0,1600.000000,19.0,1814.842105,...,267.527283,8.0,33.971718,0,47,414.255319,1381,1.133440,1.133031,23
38,Lansing-Westgate,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.416131468878 43.7680862585...,MultiPolygon,Toronto C07,2.0,1955.000000,520.0,2200.282692,...,432.874420,10.0,60.121445,0,41,402.585366,983,1.643781,1.642799,17
39,Highland Creek,Not an NIA or Emerging Neighbourhood,NaN,MULTIPOLYGON (((-79.152130683468 43.7955781554...,MultiPolygon,Toronto E10,0.0,NaN,2.0,1400.000000,...,338.826416,1.0,7.700601,0,56,367.660714,1210,1.098504,1.097860,13

In [26]:
df_2019_final.to_csv('../data/raw_data/2019.csv', index=False)