In [1]:
import pandas as pd

In [9]:
df = pd.read_parquet("tor_neighborhood_condorental.parquet")
df = df.drop(df.filter(regex="2010|2011|2012|2013|2014|2015|2016|2017|2018|2020|2021|2022|2023|2024|2025|Lease|lease").columns, axis=1)

In [10]:
for col in df.columns:
    print(col)

_id
AREA_ID
AREA_ATTR_ID
PARENT_AREA_ID
AREA_SHORT_CODE
AREA_LONG_CODE
AREA_NAME
AREA_DESC
CLASSIFICATION
CLASSIFICATION_CODE
OBJECTID
geometry_wkt
geometry_type
Region_classif
Area
area_sq_meters
perimeter_meters
park_count
AREA_NAME_1
ASSAULT_2019
ASSAULT_RATE_2019
AUTOTHEFT_2019
AUTOTHEFT_RATE_2019
BIKETHEFT_RATE_2019
BREAKENTER_2019
BIKETHEFT_RATE_2019_1
HOMICIDE_2019
HOMICIDE_RATE_2019
ROBBERY_2019
ROBBERY_RATE_2019
SHOOTING_2019
SHOOTING_RATE_2019
THEFTFROMMV_2019
THEFTFROMMV_RATE_2019
THEFTOVER_2019
THEFTOVER_RATE_2019
geometry_wkt_1
geometry_type_1
total_stop_count
avg_stop_frequency
max_stop_frequency
total_line_length_meters
transit_line_density
distinct_route_count

In [11]:
data_q1 = {
    'Bachelor Leased': [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'bachelor_avg_lease_rate': [1600, 1600, None, None, None, None, None, None, None, None, None, None, None, 1600, 1600, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None],
    '1_bedrooms_leased': [58, 39, 12, 0, 0, 0, 2, 6, 0, 0, 4, 0, 0, 21, 10, 1, 0, 0, 0, 1, 2, 3, 1, 0, 1, 1, 2, 2, 6, 3, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1],
    '1_bed_room_avg_lease_rate': [1920, 2045, 1888, None, None, None, 1500, 1862, None, None, 2125, None, None, 2224, 2358, 3050, None, None, None, 2150, 2050, None, 2350, None, 1000, 1850, 2025, 1990, 1733, 2098, None, None, None, 750, None, None, None, 1700, None, 1650],
    '2_bedrooms_leased': [237, 106, 31, 1, 7, 0, 4, 7, 7, 0, 3, 2, 0, 57, 25, 3, 0, 1, 0, 4, 4, 2, 4, 2, 0, 1, 7, 4, 18, 7, 0, 0, 4, 0, 0, 0, 0, 1, 1, 5],
    '2_bedrooms_avg_lease_rate': [2315, 2655, 2378, 2550, 2617, None, 2425, 2007, 2543, None, 2250, 2275, None, 2882, 3185, 3250, None, 2980, None, 2338, 2343, 3875, 2650, 2350, None, 1950, 2664, 2385, 2415, 3104, None, None, 2075, None, None, None, None, 2100, 1800, 1910],
    '3_bedrooms_leased': [241, 85, 24, 1, 4, 0, 0, 2, 2, 0, 14, 1, 0, 45, 9, 1, 0, 0, 0, 0, 3, 1, 0, 0, 6, 0, 9, 16, 16, 1, 2, 0, 0, 5, 0, 1, 0, 0, 2, 5],
    '3_bedrooms_avg_lease_rate': [2508, 3100, 2655, 3350, 3045, None, None, 2400, 4100, None, 2650, 2900, None, 3456, 4305, 6900, None, None, None, None, 3600, 5500, None, None, 3755, None, 3444, 2603, 2464, 4750, 2875, None, None, 2286, None, 2200, None, None, 2100, 2200]
}


df_q1 = pd.DataFrame(data_q1)

In [12]:
df_q1.columns

Index(['Bachelor Leased', 'bachelor_avg_lease_rate', '1_bedrooms_leased',
       '1_bed_room_avg_lease_rate', '2_bedrooms_leased',
       '2_bedrooms_avg_lease_rate', '3_bedrooms_leased',
       '3_bedrooms_avg_lease_rate'],
      dtype='object')

In [19]:
rental_columns = [
    'Bachelor Leased', 'bachelor_avg_lease_rate', '1_bedrooms_leased',
    '1_bed_room_avg_lease_rate', '2_bedrooms_leased', '2_bedrooms_avg_lease_rate',
    '3_bedrooms_leased', '3_bedrooms_avg_lease_rate'
]

In [18]:
data_q2 = {
    'Bachelor Leased': [2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'bachelor_avg_lease_rate': [1645, 1645, None, None, None, None, None, None, None, None, None, None, None, 1645, 1645, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None],
    '1_bedrooms_leased': [66, 45, 18, 5, 0, 0, 0, 5, 6, 0, 3, 0, 0, 22, 14, 1, 0, 0, 0, 4, 2, 0, 1, 0, 0, 0, 1, 0, 4, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1],
    '1_bed_room_avg_lease_rate': [1951, 2026, 1850, 1932, None, None, None, 1720, 1887, None, 1917, None, None, 2193, 2279, None, None, None, None, 2000, 2048, None, 2200, None, None, None, 2050, None, 1949, 1948, None, None, None, None, None, None, None, 2000, None, 1900],
    '2_bedrooms_leased': [312, 183, 87, 3, 4, 0, 37, 13, 12, 0, 15, 3, 0, 79, 29, 2, 1, 0, 0, 11, 3, 2, 5, 0, 0, 0, 18, 8, 17, 4, 1, 0, 4, 0, 1, 0, 0, 3, 1, 3],
    '2_bedrooms_avg_lease_rate': [2451, 2614, 2400, 2683, 2688, None, 2346, 2196, 2612, None, 2432, 2267, None, 2914, 3357, 2900, 2700, None, None, 2272, 3067, 4500, 2769, None, None, None, 2629, 2497, 2323, 2650, 2990, None, 2125, None, 2300, None, None, 2183, 1950, 1933],
    '3_bedrooms_leased': [305, 107, 17, 1, 5, 0, 2, 2, 3, 0, 3, 1, 0, 73, 10, 1, 0, 0, 0, 4, 2, 0, 1, 3, 10, 2, 23, 17, 17, 1, 1, 0, 1, 6, 1, 4, 0, 0, 1, 2],
    '3_bedrooms_avg_lease_rate': [2778, 3267, 3046, 3800, 3180, None, 2348, 2560, 3025, None, 3267, 3400, None, 3618, 5080, 6500, None, None, None, 3150, 4225, None, 4300, 2950, 4074, 2825, 3596, 2618, 2611, 4000, 4500, None, 2050, 2460, 2800, 2475, None, None, 2050, 2225]
}
df_q2 = pd.DataFrame(data_q2)

In [20]:
df_q2.columns

Index(['Bachelor Leased', 'bachelor_avg_lease_rate', '1_bedrooms_leased',
       '1_bed_room_avg_lease_rate', '2_bedrooms_leased',
       '2_bedrooms_avg_lease_rate', '3_bedrooms_leased',
       '3_bedrooms_avg_lease_rate'],
      dtype='object')

In [31]:
data_q3 = {
    'Bachelor Leased': [
        480, 1, 1, 0, 0, 1, 6, 6, 0, 0, 461, 13, 435, 13, 2, 0, 0, 0, 0, 2,
        0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0
    ],
    'bachelor_avg_lease_rate': [
        1903, 1450, 1450, None, None, 1450, 1764, 1764, None, None, 1925, 1635, 1939, 1848,
        1615, None, None, None, None, 1615, None, None, None, None, 977, None, None,
        None, 977, None, None, None, None, None, None, 1525, None, None, None, 1525, None
    ],
    '1_bedrooms_leased': [
        6332, 89, 26, 0, 11, 52, 400, 152, 15, 233, 5323, 544, 4474, 303, 494,
        5, 0, 0, 1, 241, 146, 146, 101, 0, 25, 1, 0, 2, 13, 7, 1, 0, 2, 0, 0, 3,
        0, 0, 0, 2, 1
    ],
    '1_bed_room_avg_lease_rate': [
        1962, 1984, 1967, None, 1890, 2012, 2167, 1871, None, 2178, 2303, 2133, 2339, 2072,
        1978, 1816, None, None, 2400, 1959, 1970, 1970, 2038, None, 1610, 1875, None, 1725,
        1372, 1975, None, None, 1725, None, None, 1517, None, None, None, 1550, 1500
    ],
    '2_bedrooms_leased': [
        3736, 90, 29, 2, 17, 42, 401, 23, 7, 371, 2912, 338, 2325, 249, 312,
        2, 0, 0, 1, 152, 77, 77, 76, 2, 16, 3, 0, 2, 6, 6, 0, 0, 3, 1, 0, 5,
        0, 1, 1, 3, 2
    ],
    '2_bedrooms_avg_lease_rate': [
        2941, 2560, 2543, 2175, 2147, 2757, 2581, 2276, None, 2600, 3050, 2717, 3196, 2502,
        2487, 2025, None, None, 2950, 2447, 2498, 2498, 2599, 2050, 2096, 1983, None, 1725,
        2190, 2258, None, None, 1948, 2276, None, 2120, None, 1900,None, 2300, 1800
    ],
    '3_bedrooms_leased': [
        252, 3, 3, 0, 0, 3, 38, 2, 4, 32, 188, 19, 145, 24, 16, 0, 0, 0, 0, 10,
        1, 1, 1, 0, 4, 0, 0, 0, 1, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0
    ],
    '3_bedrooms_avg_lease_rate': [
        3749, 3910, 3017, None, None, 5250, 3079, 2350, 2550, 3099, 4000, 3482, 4267, 2875,
        2858, None, None, None, None, 2817, 2150, 2600, 3800, None, 1975, None, None, None,
        1849, 2017, None, None, None, None, None, 2750, None, None, None, 2600, None
    ]
}

In [32]:
df_q3 = pd.DataFrame(data_q3)

In [30]:
for item in data_q3.items():
    print(item[0])
    print(len(data_q3[item[0]]))

('Bachelor Leased', [480, 1, 1, 0, 0, 1, 6, 6, 0, 0, 461, 13, 435, 13, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0])
41
('bachelor_avg_lease_rate', [1903, 1450, 1450, None, None, 1450, 1764, 1764, None, None, 1925, 1635, 1939, 1848, 1615, None, None, None, None, 1615, None, None, None, None, 977, None, None, None, 977, None, None, None, None, None, None, 1525, None, None, None, 1525, None])
41
('1_bedrooms_leased', [6332, 89, 26, 0, 11, 52, 400, 152, 15, 233, 5323, 544, 4474, 303, 494, 5, 0, 0, 1, 241, 146, 146, 101, 0, 25, 1, 0, 2, 13, 7, 1, 0, 2, 0, 0, 3, 0, 0, 0, 2, 1])
41
('1_bed_room_avg_lease_rate', [1962, 1984, 1967, None, 1890, 2012, 2167, 1871, None, 2178, 2303, 2133, 2339, 2072, 1978, 1816, None, None, 2400, 1959, 1970, 1970, 2038, None, 1610, 1875, None, 1725, 1372, 1975, None, None, 1725, None, None, 1517, None, None, None, 1550, 1500])
41
('2_bedrooms_leased', [3736, 90, 29, 2, 17, 42, 401, 23, 7, 371, 2912, 338, 2325, 249, 312, 2, 0, 0, 1, 152, 77, 77, 76, 2, 16, 3, 0, 2, 6, 6, 0, 0, 3, 1, 0, 5, 0, 1, 1, 3, 2])
41
('2_bedrooms_avg_lease_rate', [2541, 2560, 2543, 2175, 2147, 2757, 2581, 2276, None, 2600, 3050, 2717, 3196, 2502, 2487, 2025, None, None, 2950, 2447, 2498, 2498, 2599, 2050, 2096, 1983, None, 1725, 2190, 2258, None, None, 1948, 2276, None, 2120, None, 1900, 2300, 1800])
40
('3_bedrooms_leased', [252, 3, 3, 0, 0, 3, 38, 2, 4, 32, 188, 19, 145, 24, 16, 0, 0, 0, 0, 10, 1, 1, 1, 0, 4, 0, 0, 0, 1, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0])
41
('3_bedrooms_avg_lease_rate', [3749, 3910, 3017, None, None, 5250, 3079, 2350, 2550, 3099, 4000, 3482, 4267, 2875, 2858, None, None, None, None, 2817, 2150, 2600, 3800, None, 1975, None, None, None, 1849, 2017, None, None, None, None, None, 2750, None, None, None, 2600, None])
41

In [33]:
data_q4 = {
    'Bachelor Leased': [
        1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
    ],
    'bachelor_avg_lease_rate': [
        1600, 1600, 1600, 1600, None, None, None, None, None, None, None, None, None,
        None, None, None, None, None, None, None, None, None, None, 1600, None, None,
        None, None, None, None, None, None, None, None, None, None, None, None, None, None
    ],
    '1_bedrooms_leased': [
        65, 51, 29, 6, 6, 1, 0, 4, 4, 0, 11, 2, 0, 20, 10, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 6, 2, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0
    ],
    '1_bed_room_avg_lease_rate': [
        2002, 2073, 2014, 3000, 2053, 1900, None, 1895, 1963, None, 2059, 1950, None,
        2168, 2248, None, None, 2000, None, 2100, None, None, None, None, None, None,
        2117, 2038, 1980, None, 2100, None, None, None, None, 1860, None, None, None, None
    ],
    '2_bedrooms_leased': [
        299, 136, 53, 2, 2, 0, 2, 10, 22, 0, 8, 2, 0, 57, 17, 4, 1, 0, 0, 6, 10,
        1, 0, 0, 6, 2, 11, 5, 26, 8, 0, 0, 6, 5, 0, 0, 0, 3, 2, 5
    ],
    '2_bedrooms_avg_lease_rate': [
        2410, 2674, 2531, 2763, 2793, 2400, 2200, 2210, 2646, None, 2438, 2420, None,
        3259, 3961, 3800, 3680, None, None, 2367, 2850, 2750, None, None, 2796, 2175,
        2770, 2680, 2330, 2681, None, None, 2147, 2164, None, None, None, 2533, 1950, 1963
    ],
    '3_bedrooms_leased': [
        245, 75, 14, 2, 4, 0, 0, 1, 4, 0, 3, 0, 0, 42, 5, 1, 1, 0, 0, 1, 4, 0,
        0, 0, 6, 1, 10, 2, 19, 1, 3, 0, 3, 3, 0, 2, 0, 0, 0, 5
    ],
    '3_bedrooms_avg_lease_rate': [
        2587, 3023, 2850, 3648, 2838, None, None, 2500, 2950, None, 2767, None, None,
        3315, 4040, 5000, 3800, None, None, 4900, 3200, None, None, None, 3313, 2800,
        3473, 2667, 2504, 2300, 3450, None, 2400, 2266, None, 2700, None, None, None, 2600
    ]
}

In [37]:
for key in data_q3:
    print(key)
    print(len(data_q3[key]))

Bachelor Leased
41
bachelor_avg_lease_rate
41
1_bedrooms_leased
41
1_bed_room_avg_lease_rate
41
2_bedrooms_leased
41
2_bedrooms_avg_lease_rate
41
3_bedrooms_leased
41
3_bedrooms_avg_lease_rate
41

In [38]:
df_q4 = pd.DataFrame(data_q4)

In [39]:
for column in rental_columns:
    extract_column = df_q1[column]
    df[column] = extract_column

In [42]:
df.head()

,_id,AREA_ID,AREA_ATTR_ID,PARENT_AREA_ID,AREA_SHORT_CODE,AREA_LONG_CODE,AREA_NAME,AREA_DESC,CLASSIFICATION,CLASSIFICATION_CODE,...,transit_line_density,distinct_route_count,Bachelor Leased,bachelor_avg_lease_rate,1_bedrooms_leased,1_bed_room_avg_lease_rate,2_bedrooms_leased,2_bedrooms_avg_lease_rate,3_bedrooms_leased,3_bedrooms_avg_lease_rate
0,78,2502289,26022804,None,110,110,Keelesdale-Eglinton West,Keelesdale-Eglinton West (110),Neighbourhood Improvement Area,NIA,...,1.017866,11,1.0,1600.0,58.0,1920.0,237.0,2315.0,241.0,2508.0
1,112,2502255,26022770,None,041,041,Bridle Path-Sunnybrook-York Mills,Bridle Path-Sunnybrook-York Mills (41),Not an NIA or Emerging Neighbourhood,NA,...,1.246204,14,1.0,1600.0,39.0,2045.0,106.0,2655.0,85.0,3100.0
2,37,2502330,26022845,None,122,122,Birchcliffe-Cliffside,Birchcliffe-Cliffside (122),Not an NIA or Emerging Neighbourhood,NA,...,1.290157,13,0.0,NaN,12.0,1888.0,31.0,2378.0,24.0,2655.0
3,120,2502247,26022762,None,033,033,Clanton Park,Clanton Park (33),Not an NIA or Emerging Neighbourhood,NA,...,2.893222,19,0.0,NaN,0.0,NaN,1.0,2550.0,1.0,3350.0
4,2,2502365,26022880,None,173,173,North Toronto,North Toronto (173),Not an NIA or Emerging Neighbourhood,NA,...,0.085265,2,0.0,NaN,0.0,NaN,7.0,2617.0,4.0,3045.0

In [43]:
column_order = ['AREA_NAME', 'CLASSIFICATION', 'CLASSIFICATION_CODE', 'geometry_wkt',
       'geometry_type', 'Area', 'Bachelor Leased', 'bachelor_avg_lease_rate',
       '1_bedrooms_leased', '1_bed_room_avg_lease_rate', '2_bedrooms_leased',
       '2_bedrooms_avg_lease_rate', '3_bedrooms_leased',
       '3_bedrooms_avg_lease_rate', 'area_sq_meters', 'perimeter_meters',
       'park_count', 'ASSAULT_2019', 'ASSAULT_RATE_2019', 'AUTOTHEFT_2019',
       'AUTOTHEFT_RATE_2019', 'BIKETHEFT_RATE_2019', 'BREAKENTER_2019',
       'BIKETHEFT_RATE_2019_1', 'HOMICIDE_2019', 'HOMICIDE_RATE_2019',
       'ROBBERY_2019', 'ROBBERY_RATE_2019', 'SHOOTING_2019',
       'SHOOTING_RATE_2019', 'THEFTFROMMV_2019', 'THEFTFROMMV_RATE_2019',
       'THEFTOVER_2019', 'THEFTOVER_RATE_2019', 'POPULATION_2019',
       'total_stop_count', 'avg_stop_frequency', 'max_stop_frequency',
       'total_line_length_meters', 'transit_line_density',
       'distinct_route_count']

In [44]:
df = df[column_order]

KeyError: "['POPULATION_2019'] not in index"

In [ ]:
df.head()

In [ ]:
df.columns